<nav class="navbar navbar-expand-md navbar-custom navbar-toggleable-md navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><img src="./assets/img/logo.png" alt="" /></a>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button">
      <span class="navbar-toggler-icon" (click)="toggleNavigation()"></span>
    </button>

    <!-- user not login -->
    <div id="collapsibleNavbar" class="navbar-collapse collapse align-items-center">
      <ul class="navbar-nav ml-auto text-center" *ngIf="!loggedIn">
        <li class="nav-item" (click)="upNavigation()" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link"
            [routerLink]="['/sell-used-car']"><span class="pad--right--5"><img class="nav-icon"
                src="./assets/nav/sell.svg" alt=""></span>Sell</a></li>

        <li class="nav-item" (click)="upNavigation()" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link"
            [routerLink]="['/used-cars-search']"><span class="pad--right--5"><img class="nav-icon"
                src="./assets/nav/browse.svg" alt=""></span>Browse</a></li>

        <li class="nav-item" (click)="upNavigation()" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link"
            [routerLink]="['/help-center']"><span class="pad--right--5"><img class="nav-icon"
                src="./assets/nav/help.svg" alt=""></span>Help</a></li>

        <li class="nav-item" (click)="upNavigation()" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link"
            [routerLink]="['/login']"><span class="pad--right--5"><img class="nav-icon"
                src="./assets/nav/new/login.svg" alt=""></span>Login</a></li>

        <li class="nav-item" (click)="upNavigation()" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link"
            [routerLink]="['/signup']"><span class="pad--right--5"><img class="nav-icon"
                src="./assets/nav/new/signup.svg" alt=""></span>Signup</a></li>
      </ul>

      <!-- user login  -->
      <ul class="nav navbar-nav ml-auto text-center" *ngIf="loggedIn">
        <li class="nav-item" (click)="upNavigation()" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link"
            [routerLink]="['/sell-used-car']"><span class="pad--right--5"><img class="nav-icon"
                src="./assets/nav/sell.svg" alt=""></span>Sell</a></li>

        <li class="nav-item" (click)="upNavigation()" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link"
            [routerLink]="['/used-cars-search']"><span class="pad--right--5"><img class="nav-icon"
                src="./assets/nav/browse.svg" alt=""></span>Browse</a></li>

        <li class="nav-item" (click)="upNavigation()" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link"
            [routerLink]="['/myaccount']"><span class="pad--right--5"><img class="nav-icon" src="./assets/nav/user.svg"
                alt=""></span>My Account </a></li>
        <!-- <span style="font-weight:bold">{{username}}</span> -->
        <li class="nav-item" (click)="upNavigation()" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link"
            [routerLink]="['/help-center']"><span class="pad--right--5"><img class="nav-icon"
                src="./assets/nav/help.svg" alt=""></span>Help</a></li>
        <li class="nav-item" (click)="upNavigation()" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link"
            (click)="logout()"><span class="pad--right--5"><img class="nav-icon" src="./assets/nav/new/logout.svg"
                alt=""></span>Logout</a></li>
      </ul>

      <!--/.nav-collapse -->

    </div>
  </div>
</nav>