mat-toolbar {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  height: 64px;
  padding: 0;
  margin: 0; 


  img {
    height: 70%;
    margin-left: 10px;
    max-width: 200px;
  }
  ul {
    margin-left: auto;
    padding: 0;
    list-style-type: none;
    height: 100%;
    li {
      display: inline-block;
      height: 100%;
      width: auto;
      min-width: 80px;
      padding: 0;
      margin: 0;     
      a {
        text-decoration: none;
        text-align: center;
        height: 100%;
        display: block;
        color: #fafafa;
        &:hover, &.link-active{
          background-color: rgba(0, 0, 0, 0.4);
        }
        margin-top-icon {
          display: block;
          text-align: center;
          line-height: 64px;
          width: 100%;
          height: 100%;
          color: #ffffff;
        }
      }
      @media screen and (max-width: 660px) {
        width: 50px;
        a {
          span {
            display: none;
          }
        }
      }
      @media screen and (max-width: 450px) {
        width: 40px;
      }
    }
  }
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    mat-icon {
      margin-top: 16px;
    }
}

.mat-button {
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
    &:hover {
      color: #f1f1f1;
    }
  }
}

#main {
  transition: margin-left .5s;
}

.hamburger {
  color: #fff;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.closeHamburger {
  color: #fff;
  font-size: 40px;
  margin-left: 20px;
  cursor: pointer;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-weight: 300;
  margin-bottom: 80px;
  // font-family: "Kanit-regular";
}

.navbar-custom{
  background: #0070bb;
  color: white;
}
.navbar{
  border:0;
}
.navbar-nav > li > a {
  color: white;
}
.main-container{
  margin-top:90px;
  min-height:450px;
}

/********* Home ***********/

.header-top-right{
float: right;
}
.header-top {
  background: #0070bb;
  color: white;
}
.login {
padding-left: 10px;
}

.register > a, .login > a{
color: white;
}

.pad--right--5{
padding-right: 5px;
}
ngui-auto-complete {
z-index: 100 !important;
}

/* .footer{
  background: url('https://www.kwikz.nz/assets/images/bg_vector_effect.png');
  background-size: contain;
    background-repeat: no-repeat;
  height: auto;
  background-size: 100% 100%;
  margin-top: 40px;
  border-top: 1px solid #e7e7e7;
  bottom: 0;
  width: 100%;
} */

/* .footer a{
  color: #777;
  font-size: 14px;
}

.footer .footer-social-icons {
  font-size: 32px;
  padding-top: 18px;
}

.footer .footer-social-icons a {
  color: #777;
} */

.company--copyright{
  background-color :#ebebeb;
  margin-top:20px;
  padding:10px 0;
  color: #a8a8a8;
}

[v-cloak] {
  display: none;
}

.sell-icon{
  background-image: url('https://www.kwikz.nz/assets/img/shopping-cart.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 32px;
}

.account-icon{
  background-image: url('https://www.kwikz.nz/assets/img/my-account.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.help-icon{
  background-image: url('https://www.kwikz.nz/assets/img/help.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 25px;
}

.input-group-addon{
  background-color: #ebebeb;
  border: 1px solid #ebebeb;;
}

.nav-item{
  min-width: 100px;
}
.navbar-nav > li > a{
  font-size: 0.875rem;
}

.nav-icon{
  height: 20px;
}

.navbar-dark .navbar-toggler{
  border: 0 !important;
}


@media (min-width: 768px) {

}

.my-swipe {
  height: 200px;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.slide1 {
  background-color: #0089dc;
  color: #fff;
}

.slide2 {
  background-color: #ffd705;
  color: #000;
}

.slide3 {
  background-color: #ff2d4b;
  color: #fff;
}

#app {
  // font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
  width:82%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:190px;
}

.filtersSection{
  background-color:#f8f8f8;
  text-align: left;
  padding: 0 10px;
  padding-bottom: 40px;
}

.vehicleReport{
  border: 1px solid #cccccc;
  background-color: #fff;
  text-align:center;
  padding:10px 0;
}

.vehicleReport .title{
  font-size: 24px;
  color:#33FF36;
  font-weight:400;
}

.vehicleReport .text{
  font-size:18px;
  font-weight:400;
  color:black;
}

.Accordion {
  width: 100%;
}

.Accordion__title, .searchTitle{
  font-size:18px;
}

.Accordion__content{
  font-size: 14px;
}

.accordionIcon{
  background-image: url('https://www.kwikz.nz/assets/img/plus_circle.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.searchField{
  padding-top:10px
}

.foot-links a, .foot-links p{
  display: block;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.foot-links img{
    padding-top: 5px;
}

.foot-links a{
    padding-top: 5px;
}

.foot-header{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 12px;
}

.shift--5{
  margin-right: 5px;
}

.footerTop{
  border-bottom:1px solid #c5c5c5;
  padding-bottom:20px;
  padding-top:25px;
}
.footer--span > span{
  font-size: 12px;
}

@media (min-width: 768px){
  .navbar > .container .navbar-brand{
      margin-left:0;
  }
}







/* abhijeet common css  */


/* footer css  */
a:hover{
  text-decoration: none;
  outline: none;
}


.footer_section{
    background: url('https://www.kwikz.nz/assets/images/content/kwikz-footer-bg.png');
    background-size: cover;
    margin-top: 35px;
    background-repeat: no-repeat;
}

.navbar-dark .navbar-toggler-icon {
  background: url('https://www.kwikz.nz/assets/svg/menu_toggle.svg');
  padding-right: 0;
  background-repeat: no-repeat;
  margin-top: 5px;
}

.navbar-dark .navbar-toggler {
  padding-right: 0;
}

.inner_footer{
    padding: 60px 0px;
}

.footer_logo_sm{
    margin-bottom: 15px;
}

.copyright_ft{
    color: #fff;
    font-size: 13px;
}


.ul_first{
    padding: 0;
    margin: 0;
    list-style: none;
}


.ul_first li{
margin-bottom: 25px;
}

.ul_first li a{
font-size: 13px;
color: #fff;
position: relative;
}

.ul_first li a:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #fff;
    width: 0%;
    height: 1.5px;
    transition: 0.5s all;

}


.ul_first li a:hover:before{
    width: 100%;
    transition: 0.5s all;

}


.icon {
    position:relative;
    text-align:center;
    width:0px;
    height:0px;
    padding: 13px 14px;
    color:#FFFFFF;
    border-radius: 50px;
}

.icon i {
    font-size:15px;
    position:absolute;
    left:9px;
    top:10px;
}

.icon.social {
    display: inline-block;
    margin:0 8px 0 0;
    cursor:pointer;
    background:transparent ;
    border:1px solid #fff;
    color:#fff;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;

}

.icon.social:hover {
    background-color: #1474ca;
}

.icon.social.fb i {
    left: 10px;
    top: 6px;
}

.icon.social.tw i {
    left:7px;
    top: 6px;
}

.icon.social.in i {
    left: 6px;
    top: 6px;
}


.icon.social:last-child{
    margin-right: 0
}

.ul_first li:last:child{
    margin-bottom: 0;
}





@media (min-width:320px) and (max-width:767px) {
  .inner_footer {
      padding: 40px 0px;
      text-align: center;
  }
  
  .footer_logo_sm {
      margin-bottom: 20px;
  }
  .ul_first li {
      margin-bottom: 20px;
  }
  .navbar-nav{
    padding: 15px 0px;
  }
  .navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    outline: none;
}
.nav-item {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #015e9c;
  a span {
    width: 32px !important;
    display: inline-block;
  }
}
   }
  
  @media (min-width:768px) and (max-width:991px) {
  
  .demopadding{
        text-align: center;
      margin-top: 25px;
  
  }
  
  }



  .nav-link{
    cursor: pointer;
  }