.row {
  margin: 0 !important
}

a:hover {
  text-decoration: none;
}

.inner_invite h2 {
  color: #4E4E4E;
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-bottom: 18px;
}

.f_sign {
  font-size: 14px;
  color: #4E4E4E;
  margin-bottom: 25px;
}

.get_started {
  font-size: 26px;
  font-weight: 700;
  margin-top: 30px;
  display: block;
  position: relative;
  color: #4e4e4e;
}

.how_invite {
  margin-top: 30px;
}

.how_invite p {
  font-size: 18px;
  margin-top: 23px;
  font-weight: 700;
  color: #4e4e4e;
  margin-bottom: 0;
  line-height: 20px;
}

.how_invite span {
  font-size: 14px;
  color: #4e4e4e;
  margin-top: 0px;
  display: inline-block;
}

.box3 {
  position: relative
}

.box3:before {
    content: '';
    background: url('https://www.kwikz.nz/assets/invite/arrow.png');
    width: 17px;
    height: 12px;
    display: block;
    position: absolute;
    top: 57px;
    right: -50px;
}

.box33:before {
  display: none;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(44, 84, 206, .7);
  }
  70% {
    box-shadow: 0 0 0 25px rgba(44, 84, 206, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(44, 84, 206, 0);
  }
}

.img_box3 {
  background-color: #fff;
  border-radius: 8px;
  padding: 25px 0px;
  height: 125px;
}

.img_box3 img{
  width: 75px;
}


.box3 {
  width: 80%;
  margin: 0px auto;
}

.inner_option_in {
  background: #2972be;
  background-image: url('https://www.kwikz.nz/assets/invite/bg-best.png');
  padding: 60px 0px 200px 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.option_invite {
  margin-top: 50px;
}

.option_invite h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 23px;
  text-align: center;
}

.chip_img {
  width: 100px;
  height: 75px;
  display: inline-block;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #eee;
}

.chip_img img {
  display: inline-block
}

.chip_contact {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 6px 8px #014d9f;
  padding: 15px 15px 9px 15px;
}

.title_name {
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
}

.chip_contact p {
  font-size: 18px;
  color: #4e4e4e;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: capitalize;
  line-height: initial;
}

.chip_contact span {
  font-size: 14px;
  color: #4e4e4e;
  margin-bottom: 0;
}

.top_inviter {
  margin-top: 50px;
}

.top_inviter_p {
  font-size: 14px;
  color: #fff;
  line-height: 22px;
  margin-bottom: 0
}

.wrap_inner {
  background-color: #fff;
  border-radius: 10px;
  margin-top: -130px;
  position: relative;
  padding: 50px 0px;
}

.link-paste {
  width: 615px;
  position: relative;
  margin: 0px auto;
  border-radius: 50px;
}

.link-paste .form-control {
  outline: none;
  border-radius: 8px;
  height: 68px;
  border: 0;
  color: #BEBEBE;
  font-size: 15px;
  padding: 0px 135px 0px 30px;
  background-color: #F2F2F2;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.link-paste button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #F8B139;
  border: 0;
  height: 68px;
  padding: 0px 38px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0px;
  border-radius: 0px 8px 8px 0px;
  z-index: 999;
  cursor: pointer;
  color: #000;
}

button:active,
button:focus {
  outline: none !important
}

.share_link {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  margin-top: 52px;
  margin-bottom: 45px;
  position: relative;
  color: #4e4e4e;
}

.social_media {
  margin-top: 30px;
  padding: 0px 60px;
}

.social_media h5 {
  color: #2972be;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 35px;
}

.share_fb img {
  width: 25px;
  margin-right: 10px;
  vertical-align: top;
}

.share_tw img {
  width: 26px;
  margin-right: 10px;
  vertical-align: top;
}

.share_in img {
  width: 25px;
  margin-right: 10px;
  vertical-align: top;
}

.share_wapp img {
  width: 28px;
  margin-right: 10px;
  vertical-align: top;
}

.share_btn_s {
  border: 0;
  font-size: 15px;
  color: #4e4e4e;
  width: 100%;
  margin: 0px auto;
  display: inherit;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 8px #e6e6e6;
  height: 51px;
}

.divider_line {
  border-top: 2px solid #ffffff;
  margin-top: 65px;
  margin-bottom: 55px;
  position: relative;
}

.divider_line:before {
  content: 'or';
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  position: absolute;
  text-align: center;
  top: -24px;
  left: 50%;
  right: 0;
  margin: 0px;
  display: inline-block;
  transform: translateX(-50%);
  border-radius: 50px;
  line-height: 45px;
  color: #4e4e4e;
  font-weight: 700;
  font-size: 15px;
}

.import_contact h5 {
  color: #4e4e4e;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 35px;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.import_c {}

.import_contact ul li {
  display: inline-block;
  margin-right: 50px;
}

.import_contact ul li:last-child {
  margin-right: 0
}

.gmail_ {
  background: #e1574b;
}

.yahoo_ {
  background: #552b70
}

.window_ {
  background: #2e75d1
}

.import_c i {
  font-size: 26px;
}

.import_c a {
  display: inline-block;
  color: #fff;
  width: 60px;
  border-radius: 50px;
}

.well {
  width: 700px;
  margin: 0px auto;
  margin-top: 65px;
  background-color: #F2F2F2;
  padding: 24px 25px;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 0.5px;
  position: relative;
  color: #4e4e4e;
}

.well img {
  margin-right: 15px;
  vertical-align: bottom;
}

.edit_contact {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  padding-top: 4px;
  color: #9f9f9f;
  background-color: #E2E2E2;
  padding: 12px 17px 12px 19px;
  border-radius: 8px;
}

.edit_contact:hover {
  background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
  color: #fff
}

.personal_msg {
  margin-top: 40px;
}

.personal_msg label {
  font-size: 20px;
  color: #4e4e4e;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: left !important;
  display: block;
}

.personal_msg textarea {
  font-size: 14px;
  background-color: #fff;
  border-radius: 0;
  padding: 20px 20px;
  border: 0;
  border-radius: 8px;
  color: #4e4e4e;
  margin-bottom: 25px;
}

.personal_msg textarea:focus {
  outline: none;
}

.in_now {
  width: 150px;
  background: -webkit-linear-gradient(0deg, #0070bb 0, #008ae7 100%);
  color: #fff;
  border: 0;
  padding: 14.5px 0px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s all;
  border-radius: 5px;
}

.in_now:hover {
  transition: .5s all;
  background: -webkit-linear-gradient(0deg, #008ae7 100%, #0070bb 0);
}

.custom_email h5 {
  color: #4e4e4e;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
}

.cut_div {
  margin-top: 70px;
}

.img_warp_text {
  border: 0;
  font-size: 15px;
  color: #4e4e4e;
  display: inline-block;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 8px #e6e6e6;
  padding: 32px 42px;
  margin-bottom: 40px;
}

.custom_email label {
  font-size: 20px;
  color: #4e4e4e;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: left !important;
  display: block;
}

.custom_email .form-control {
  font-size: 14px;
  background-color: #fff;
  padding: 20px 20px;
  text-align: left !important;
  border: 0;
  color: #4e4e4e;
  border-radius: 8px;
}

.custom_email {
  width: 770px;
}

.personal_msg {
  width: 770px;
}

.custom_email .form-control:focus {
  outline: none;
}

.inner_invite {
  margin-top: 50px;
}

.gift-card {
  margin-bottom: 30px;
}

.terms_p {
  margin-bottom: 10px !important;
  margin-top: 25px;
  font-size: 16px !important;
  font-weight: 700;
  text-transform: capitalize;
  color: #0088e4 !important;
}
.gmail_ic {
  width: 30px;
}
.yahoo_ic {
  width: 45px;
}
.window_ic {
  width: 30px;
}
.pad_l {
  padding-left: 0
}
.pad_r {
  padding-right: 0
}
.invite_tips p{
  font-size: 13px;
  margin-bottom: 3px;
  position: relative;
  padding-left: 15px;
      color: #909090;
}

.invite_tips p:before{
    content: '';
    background-color: #0087e2;
    width: 7px;
    height: 7px;
    position: absolute;
    left: 0;
    top: 5px;
}









@media (min-width:320px) and (max-width:359px) {}


@media (min-width:320px) and (max-width:767px) {

.box3:before {
   display: none;
}
  .custom_email {
    width: 100%;
  }
  .personal_msg {
    width: 100%;
    margin-top: 25px;
  }
  .well {
    width: 100%;
    padding: 15px 54px 15px 15px;
    font-size: 13px;
  }
  .well img {
    margin-right: 5px;
    vertical-align: text-bottom;
    width: 15px;
  }
  .import_c a {
    width: 40px;
  }
  .link-paste {
    width: 100%;
  }
  .inner_invite h2 {
    font-size: 22px;
  }
  .hide320 {
    display: none;
  }
  .f_sign {
    margin-bottom: 25px;
  }
  .get_started {
    font-size: 22px;
    margin-top: 25px;
  }
  .how_invite {
    margin-top: 35px;
  }
  .box3 {
    margin-bottom: 40px;
  }
  .img_box3 {
    width: 80%;
    margin: 0px auto;
  }
  .option_invite {
    margin-top: 10px;
  }
  .inner_option_in {
    padding: 50px 0px 160px 0;
  }
  .option_invite h2 {
    font-size: 24px;
  }
  .chip_img {
    width: 70px;
    height: 65px;
  }
  .chip_contact p {
    font-size: 16px;
  }
  .chip_contact span {
    font-size: 13px;
  }
  .chip_contact {
    margin-bottom: 25px;
  }
  .title_name {
    margin-top: 10px;
  }
  .link-paste button {
    padding: 0px 8px;
    font-size: 13px;
    height: 60px;
  }
  .link-paste .form-control {
    font-size: 14px;
    padding: 0px 85px 0px 12px;
    height: 60px;
  }
  .wrap_inner {
    padding: 50px 15px;
  }
  .share_link {
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 20px;
    line-height: 26px;
  }
  .social_media {
    margin-top: 0;
    padding: 0px 0;
  }
  .share_btn_s {
    margin-bottom: 25px;
  }
  .social_media h5 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .divider_line {
    margin-top: 15px;
    margin-bottom: 25px;
    position: relative;
  }
  .import_contact h5 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .edit_contact {
    font-size: 14px;
    background-color: #E2E2E2;
    padding: 6px 9px 6px 11px;
  }
  .cut_div {
    margin-top: 40px;
  }
  .img_warp_text {
    padding: 20px 28px;
    margin-bottom: 40px;
  }
  .gift-card {
    margin-bottom: 20px;
  }
  .custom_email label {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .custom_email .form-control {
    padding: 15px 15px;
  }
  .personal_msg label {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .personal_msg textarea {
    padding: 20px 15px;
  }
  .terms_p {
    margin-top: 0;
  }
  .in_now {
    width: 140px;
  }
  .terms_p a {
    font-size: 13px;
  }
  .main_bnner {
    width: 100%;
  }
}


@media (min-width:768px) and (max-width:991px) {
  .custom_email {
    width: 100%;
  }
  .personal_msg {
    width: 100%;
    margin-top: 25px;
  }
  .well {
    width: 100%;
    padding: 15px 54px 15px 15px;
    font-size: 13px;
  }
  .well img {
    margin-right: 5px;
    vertical-align: text-bottom;
    width: 15px;
  }
  .import_c a {
    width: 40px;
  }
  .link-paste {
    width: 100%;
  }
  .inner_invite h2 {
    font-size: 22px;
  }
  .f_sign {
    margin-bottom: 25px;
  }
  .get_started {
    font-size: 22px;
    margin-top: 35px;
  }
  .how_invite {
    margin-top: 35px;
  }
  .hide320 {
    display: none;
  }
  .box3 {
    margin-bottom: 40px;
    width: 90%;
  }
  .img_box3 {
    width: 100%;
    margin: 0px auto;
  }
  .how_invite p {
    font-size: 15px;
  }
  .how_invite span {
    font-size: 13px;
  }
  .option_invite {
    margin-top: 10px;
  }
  .inner_option_in {
    padding: 50px 0px 160px 0;
  }
  .option_invite h2 {
    font-size: 24px;
  }
  .chip_img {
    width: 70px;
    height: 65px;
  }
  .chip_contact p {
    font-size: 16px;
  }
  .chip_contact span {
    font-size: 13px;
  }
  .chip_contact {
    width: 450px;
    margin: 0px auto;
    margin-bottom: 25px;
  }
  .title_name {
    margin-top: 10px;
  }
  .link-paste button {
    padding: 0px 20px;
    font-size: 15px;
    height: 60px;
  }
  .link-paste .form-control {
    font-size: 14px;
    padding: 0px 85px 0px 12px;
    height: 60px;
  }
  .wrap_inner {
    padding: 50px 50px;
  }
  .share_link {
    font-size: 22px;
    margin-top: 45px;
    margin-bottom: 20px;
    line-height: 26px;
  }
  .social_media {
    margin-top: 0;
    padding: 0px 0;
  }
  .share_btn_s {
    margin-bottom: 25px;
  }
  .social_media h5 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .divider_line {
    margin-top: 30px;
    margin-bottom: 35px;
    position: relative;
  }
  .import_contact h5 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .edit_contact {
    font-size: 14px;
    background-color: #E2E2E2;
    padding: 6px 9px 6px 11px;
  }
  .cut_div {
    margin-top: 40px;
  }
  .img_warp_text {
    padding: 20px 28px;
    margin-bottom: 40px;
  }
  .gift-card {
    margin-bottom: 20px;
  }
  .custom_email label {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .custom_email .form-control {
    padding: 15px 15px;
  }
  .personal_msg label {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .personal_msg textarea {
    padding: 20px 15px;
  }
  .terms_p {
    margin-top: 0;
  }
  .in_now {
    width: 140px;
  }
  .terms_p a {
    font-size: 13px;
  }
  .main_bnner {
    width: 100%;
  }
  .box3:before {
    
    right: -32px;
}
}

@media (min-width:992px) and (max-width:1279px) {
    .custom_email {
    width: 100%;
  }
  .personal_msg {
    width: 100%;
    margin-top: 25px;
  }
  .well {
    width: 100%;
    padding: 15px 54px 15px 15px;
    font-size: 13px;
    margin-top: 45px;

  }
  .well img {
    margin-right: 5px;
    vertical-align: text-bottom;
    width: 15px;
  }
  .import_c a {
    width: 40px;
  }
  .link-paste {
    width: 100%;
  }
  .inner_invite h2 {
    font-size: 22px;
  }
  .f_sign {
    margin-bottom: 25px;
  }
  .get_started {
    font-size: 22px;
    margin-top: 35px;
  }
  .how_invite {
    margin-top: 35px;
  }
  .hide320 {
    display: none;
  }
  .box3 {
    margin-bottom: 40px;
    width: 90%;
  }
  .img_box3 {
    width: 100%;
    margin: 0px auto;
  }
  .how_invite p {
    font-size: 15px;
  }
  .how_invite span {
    font-size: 13px;
  }
  .option_invite {
    margin-top: 10px;
  }
  .inner_option_in {
    padding: 50px 0px 160px 0;
  }
  .option_invite h2 {
    font-size: 24px;
  }
  .chip_img {
    width: 70px;
    height: 65px;
  }
  .chip_contact p {
    font-size: 16px;
  }
  .chip_contact span {
    font-size: 13px;
  }
  .chip_contact {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 25px;
  }
  .title_name {
    margin-top: 10px;
  }
  .link-paste button {
    padding: 0px 20px;
    font-size: 15px;
    height: 60px;
  }
  .link-paste .form-control {
    font-size: 14px;
    padding: 0px 85px 0px 12px;
    height: 60px;
  }
  .wrap_inner {
    padding: 50px 50px;
  }
  .share_link {
    font-size: 22px;
    margin-top: 45px;
    margin-bottom: 20px;
    line-height: 26px;
  }
  .social_media {
    margin-top: 0;
    padding: 0px 0;
  }
  .share_btn_s {
  font-size: 13px;

  }
  .social_media h5 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .divider_line {
    margin-top: 50px;
    margin-bottom: 35px;
    position: relative;
  }
  .import_contact h5 {
    font-size: 22px;
    margin-bottom: 35px;
  }
  .edit_contact {
    font-size: 14px;
    background-color: #E2E2E2;
    padding: 6px 9px 6px 11px;
  }
  .cut_div {
    margin-top: 40px;
  }
  .img_warp_text {
    padding: 20px 28px;
    margin-bottom: 40px;
  }
  .gift-card {
    margin-bottom: 20px;
  }
  .custom_email label {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .custom_email .form-control {
    padding: 15px 15px;
  }
  .personal_msg label {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .personal_msg textarea {
    padding: 20px 15px;
  }
  .terms_p {
    margin-top: 0;
  }
  .in_now {
    width: 140px;
  }
  .terms_p a {
    font-size: 13px;
  }
  .main_bnner {
    width: 100%;
  }
.share_wapp img {
 vertical-align: middle;
}
.box3:before {
    
    right: -35px;
}
}

@media (min-width:1280px) and (max-width:1365px) {}

@media (min-width:1366px) and (max-width:1600px) {}