<div class="invite_section">
  <div class="container text-center">
    <div class="inner_invite text-center">
      <h2>Invite your friends to join Kwikz</h2>
      <p class="f_sign">Here, buying and selling cars is quick and hassle-free</p>
      <img class="main_bnner" src="./assets/invite/refer_and_earn.svg" width="100%">
      <span class="get_started">It's Easy to get Started.</span>
      <div class="how_invite text-center">
        <div class="row">
          <div class="col-md-3">
            <div class="box3 ">
              <div class="img_box3">
                <img class="img1" src="./assets/invite/invite_friends.png" alt="invite friends" title="invite friends">
              </div>
              <p>Invite a Friend</p>

            </div>
          </div>
          <div class="col-md-3">
            <div class="box3">
              <div class="img_box3">
                <img class="img2" src="./assets/invite/signup.png" alt="signup" title="signup">
              </div>
              <p>Your Friend Signup</p>

            </div>
          </div>
          <div class="col-md-3">
            <div class="box3">
              <div class="img_box3">
                <img class="img3" src="./assets/invite/top_invite.png" alt="Top Invite" title="Top Invite">
              </div>
              <p>You Enter in Top 3 Invitee</p>

            </div>
          </div>
          <div class="col-md-3">
            <div class="box3 box33">
              <div class="img_box3">
                <img class="img4" src="./assets/invite/win_gift.png" alt="win gift" title="win gift">
              </div>
              <p>Get Chance to Win Gift Card</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="option_invite">
    <div class="inner_option_in">
      <div class="container">
        <h2>Top 3 invitee for Kwikz</h2>
        <p class="text-center top_inviter_p">Top 3 invitee will receive a gift card of $50, $30 & $20 respectively.</p>
        <div class="top_inviter">
          <div class="row">
            <div class="col-lg-4 col-md-12" *ngFor="let topInvitee of topInviteesUser">
              <div class="chip_contact">
                <div class="chip_img">
                  <img [src]="topInvitee.profile_pic ? topInvitee.profile_pic : './assets/invite/avtar.jpeg'"
                    width="100%">
                </div>
                <div class="title_name">
                  <p>{{topInvitee.fname}} {{topInvitee.lname}}</p>
                  <span>Invited {{topInvitee.invited_confirmed}} friend's</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="invite_step1">
    <div class="container">
      <div class="wrap_inner">
        <div class="inner_step1">
          <div class="link-paste">
            <input type="text" id="copyText" class="form-control" name="" [value]="signUpWithReferralId">
            <button (click)="copyToClipBoard(signUpWithReferralId)">Copy URL
              <span class="tool-tip" *ngIf="showCopied">Copied</span>
            </button>
          </div>
        </div>
        <h4 class="text-center share_link">Share Your Referral Link on Social Media</h4>
        <div class="social_media">
          <h5 class="text-center">Share on social media</h5>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <button class="share_fb share_btn_s" (click)="shareOnFB()"><img src="./assets/invite/facebook.png"> Share
                on Facebook</button>
            </div>
            <div class="col-lg-4 col-md-6">
              <button class="share_tw share_btn_s" (click)="shareOnTwitter()"><img src="./assets/invite/Twitter.png">
                Share on Twitter</button>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
              <button class="share_in share_btn_s"><img src="./assets/invite/insta.png"> Share on Instagram</button>
            </div> -->
            <div class="col-lg-4 col-md-6">
              <a [href]="whatsAppReferral" target="_blank" data-action="share/whatsapp/share">
                <button class="share_wapp share_btn_s"><img src="./assets/invite/whatsapp.png">
                  Share on Whatsapp</button>
              </a>
            </div>
          </div>
        </div>
        <div class="divider_line"></div>
        <div class="import_contact">
          <h5 class="text-center">import your contacts</h5>
          <ul class="text-center">
            <li class="import_c">
              <a href="javascript:void(0)" (click)="googleSignIn()" data-toggle="modal" title="Gmail"
                data-target="#myModal"><img src="./assets/invite/google.png" class="gmail_ic" width="100%"></a>
            </li>
            <!-- <li class="import_c">
              <a href="#" data-toggle="tooltip" title="Yahoo"><img src="./assets/invite/yahoo.png" class="yahoo_ic"
                  width="100%"></a>
            </li>
            <li class="import_c">
              <a href="#" data-toggle="tooltip" title="Window"><img src="./assets/invite/windows.png" class="window_ic"
                  width="100%"></a>
            </li> -->
          </ul>
          <div class="well" *ngIf="showImportedContact">
            <img src="./assets/invite/tick_mark.svg" alt="">
            Selected {{showImportedContact}} of {{googleContacts.length}} imported contacts.
            <a href="#" class="edit_contact" data-toggle="tooltip" title="Edit contacts">
              <i class="fa fa-pencil" aria-hidden="true">
              </i></a></div>
        </div>

      </div>
      <div class="cut_div">

        <div class="custom_email">
          <div class="img_warp_text">
            <img class="gift-card" src="./assets/invite/gift_vector.svg">
            <h5 class="">invite participants</h5>
          </div>
          <label>Type the E-mail id's here manually</label>
          <input type="text" class="form-control" [(ngModel)]="customerCredit" placeholder="Enter email id here"
            name="">
        </div>
        <div class="personal_msg">
          <label for="">Enter the custom message or used the default</label>
          <textarea name="" class="form-control" id="" rows="10" [value]="signUpWithReferralId"></textarea>
          <div class="row">
            <div class="col-md-12 col-12 pad_l">
              <button class="in_now" (click)="inviteUserCustom()">Invite now</button>
            </div>
            <div class="invite_tips text-left mt-4">
              <h5 class="terms_p">Terms & condition</h5>
              <p>We will announce the winner on 31st Dec' 2019.</p>
              <p>We will increase the counter once your friend joins on Kwikz.</p>
              <p>To be eligible for gift card at least 20 friends should join Kwikz.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












<div class="about_us_d">
  <div class="container">
    <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Contact list</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="token_chips" *ngFor="let contact of googleContacts">
              <div class="close_chip" *ngIf="contact.share">
                <span (click)="contact.share = false">✕</span>
                <span (click)="contact.share = false" class="filter_name" *ngIf="contact.id">{{contact.id}}</span>
              </div>
            </div>
            <div class="contact_search">
              <div class="wrap_search">
                <input type="text" class="form-control" [(ngModel)]="userFilter.id" placeholder="Search Email ID here"
                  name="">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
            </div>
            <label class="container_check">Select all Contacts
              <input type="checkbox" (click)="selectAllContact()">
              <span class="checkmark"></span>
            </label>
            <div class="contact_list_div mCustomScrollbar" data-mcs-theme="dark">
              <label class="container_check"
                *ngFor="let contact of googleContacts | filterBy: userFilter">{{contact.id}}
                <input type="checkbox" [(ngModel)]="contact.share">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"
              (click)="sendInvitation()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<toast-notifications></toast-notifications>