<div *ngIf="!mobile_verified && showMobileVerification" [ngClass]="{p_click_otp:mobileVerify.fullDiv}"
  class="inner_verified">
  <div class="txt_input_box">
    <p [ngClass]="{p_click_otp:mobileVerify.showVerifyMsg}">Your phone number is not verified. Please verify it to get
      notifications.</p>
    <div [ngClass]="{p_click_otp:mobileVerify.showOtp}" class="otp_div_text">
      <input type="text" class="form-control" placeholder="Enter OTP here" name="" [(ngModel)]="otp">
      <button (click)="verifyOtp(otp)" class="otp_send_btn">Verify</button>
      <p>Did not receive OTP, Click <a (click)="verifyMobile()" style="cursor: pointer">here</a> to resend.</p>
    </div>
  </div>
  <button (click)="verifyMobile()" [ngClass]="{p_click_otp:mobileVerify.showVerifyMsg}" class="vpnumber_">Verify Phone
    Number</button>
  <i class="fa fa-times clik_hide_verify" (click)="showMobileVerification = false" aria-hidden="true"></i>
</div>


<!-- profile leader board -->
<div class="d-flex align-items-center profile-header">
  <div class="col-12 d-flex user-info noPaddingInMob">
    <div class="col-4 col-sm-4 col-md-3 user-profile-pic text-center">
      <div class="user-pic">
        <img *ngIf="profile_pic" src="{{profile_pic}}" style="height: 100%" class="img-responsive"
          alt="Profile Picture" />
      </div>
    </div>
    <div *ngIf="customerName" class="col-8 col-sm-8 col-md-9 user-title float-right noPaddingInMob">
      <div class="userName">{{customerName}} {{customerLastName}}</div>
      <div class="userRating">
        <span class="stars" [attr.data-stars]="customerRating">
          <svg height="20" width="20" class="star rating" data-rating="1">
            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;" />
          </svg>

          <svg height="20" width="20" class="star rating" data-rating="2">
            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;" />
          </svg>

          <svg height="20" width="20" class="star rating" data-rating="3">
            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;" />
          </svg>

          <svg height="20" width="20" class="star rating" data-rating="4">
            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;" />
          </svg>

          <svg height="20" width="20" class="star rating" data-rating="5">
            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;" />
          </svg>
        </span>
      </div>
      <div *ngIf="memberSince" class="userSince"><b>Member since:</b> {{memberSince}}</div>
      <div *ngIf="memberSince" class="userCredit"><b>Available Credit:</b> {{credit}}</div>
    </div>
  </div>
</div>


<div class="tab-wrapper">

  <!-- Nav tabs -->
  <div class="col-12" id="settings-nav">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a href="#accounts" class="nav-link active no-bg" aria-controls="accounts" role="tab" data-toggle="tab"
          aria-selected="true">
          Accounts
        </a>
      </li>
      <li class="nav-item">
        <a href="#selling" class="nav-link no-bg" aria-controls="selling" role="tab" data-toggle="tab"
          aria-selected="false">
          Selling
        </a>
      </li>
      <li class="nav-item">
        <a href="#buying" class="nav-link no-bg" aria-controls="buying" role="tab" data-toggle="tab"
          aria-selected="false">
          Buying
        </a>
      </li>
      <li class="nav-item">
        <a href="#feedback" class="nav-link no-bg" aria-controls="feedback" role="tab" data-toggle="tab"
          aria-selected="false">
          Review
        </a>
      </li>
    </ul>
  </div>

  <div class="col-12">
    <!-- Tab panes -->
    <div class="tab-content">

      <!-- section 1 -->
      <div role="tabpanel" class="tab-pane active" id="accounts">
        <ul class="basic-list">
          <li id="basics" class="subcategory">
            <h4>Basics</h4>
          </li>

          <li id="name-settings">
            <a href="javascript:void(0)" class="expander">
              <p class="heading">Name</p>
              <p class="sub-heading">Change name on your account</p>
              <span class="indicator" (click)="displayForm('customerName')">Change</span>
            </a>
            <div class="form" id="js-customerName" style="display:none">
              <input class="form-control custm-input" required placeholder="Enter your first name"
                (keypress)="focusOnField($event, customerName, 'first name', 'js-customerName')"
                [(ngModel)]="customerName" type="text" name="customerName" value="{{customerName}}" />
              <input class="form-control custm-input" required placeholder="Enter your last name"
                (keypress)="focusOnField($event, customerLastName, 'last name', 'js-customerName')"
                [(ngModel)]="customerLastName" type="text" name="customerLastName" value="{{customerLastName}}" />
              <button class="btn cust-button" (click)="updateProfileName(customerName, customerLastName)">Save</button>
            </div>
          </li>

          <li id="picture-settings">
            <a href="javascript:void(0)" class="expander">
              <h3 class="heading">Profile picture</h3>
              <p class="sub-heading">Add or remove profile picture on your account</p>
              <span class="indicator" (click)="displayForm('profileImage')">Change</span>
            </a>
            <div class="col-6 user-profile-pic" *ngIf="selectedImage">
              <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(selectedImage)" height="100px" width="100px"
                class="img-circle img-thumbnail img-responsive" alt="Profile Picture" />
            </div>
            <div class="form" id="js-profileImage" style="display:none">
              <!-- <input [(ngModel)]="profileImage" type="file" name="profileImage" /> -->
              <input class="form-control custm-input" style="padding-bottom: 35px;" type="file"
                (change)="handleFileSelect($event)" placeholder="Upload file" accept="image/*">
              <button (click)="updateUserProfileImage()" class="btn cust-button">Save</button>
            </div>
          </li>

          <li id="password-settings">
            <a href="javascript:void(0)" class="expander">
              <h3 class="heading">Change password</h3>
              <p class="sub-heading">Choose a unique password to protect your account</p>
              <span class="indicator" (click)="displayForm('customerPassword')">Change</span>
            </a>
            <div class="form" id="js-customerPassword" style="display:none">
              <input class="form-control custm-input" placeholder="Enter your current password here"
                [(ngModel)]="customerCurrentPassword" type="password" name="customerCurrentPassword" />
              <input class="form-control custm-input" placeholder="Enter your new password here"
                [(ngModel)]="customerPassword" type="password" name="customerPassword" />
              <button class="btn cust-button" (click)="updateUserPassword()">Save</button>
            </div>
          </li>

          <li id="email-settings">
            <a href="javascript:void(0)" class="expander">
              <h3 class="heading">Email addresses</h3>
              <p class="sub-heading">Add or remove email addresses on your account</p>
              <span class="indicator" (click)="displayForm('customerEmail')">Change</span>
            </a>
            <div class="form" id="js-customerEmail" style="display:none">
              <input class="form-control custm-input" placeholder="Enter name here to update"
                [(ngModel)]="customerEmail" type="text" name="customerEmail" value="{{customerEmail}}" />
              <button class="btn cust-button"
                (click)="updateProfile(customerEmail, 'email', 'js-customerEmail')">Save</button>
            </div>
          </li>

          <li id="phone-settings">
            <a href="javascript:void(0)" class="expander">
              <h3 class="heading">Phone Number</h3>
              <p class="sub-heading">Add a phone number in case you have trouble signing in</p>
              <span class="indicator" (click)="displayForm('customerPhone')">Change</span>
            </a>
            <div class="form" id="js-customerPhone" style="display:none">
              <input style="padding-left:30px" class="form-control custm-input" placeholder="Enter name here to update"
                [(ngModel)]="customerPhone" type="text" name="customerPhone" value="{{customerPhone}}" /><span
                class="prefix">+64</span>
              <button class="btn cust-button" style="margin-left: -20px"
                (click)="updateProfile(customerPhone, 'mobile', 'js-customerPhone')">Save</button>
            </div>
          </li>

          <li id="address-settings">
            <a href="javascript:void(0)" class="expander">
              <h3 class="heading">Address</h3>
              <p class="sub-heading">Add or Update your address</p>
              <span class="indicator" (click)="displayForm('customerAddress')">Change</span>
            </a>

            <div class="form" id="js-customerAddress" style="display:none">
              <ng4geo-autocomplete [userSettings]="autoCompleteSettings"
                (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
              <input class="form-control custm-input" placeholder="Enter street here to update"
                [(ngModel)]="customerStreet" type="text" name="customerStreet" value="{{customerStreet}}" />
              <input class="form-control custm-input" placeholder="Enter locality here to update"
                [(ngModel)]="customerLocality" type="text" name="customerLocality" value="{{customerLocality}}" />
              <input class="form-control custm-input" placeholder="Enter city here to update" [(ngModel)]="customerCity"
                type="text" name="customerCity" value="{{customerCity}}" />
              <input class="form-control custm-input" placeholder="Enter region here to update"
                [(ngModel)]="customerRegion" type="hidden" name="customerRegion" value="{{customerRegion}}" />
              <input class="form-control custm-input" placeholder="Enter zipcode here to update"
                [(ngModel)]="customerZipcode" type="text" name="customerZipcode" value="{{customerZipcode}}" />
              <button *ngIf="addressCallMethod === 0" class="btn cust-button"
                (click)="updateAddress(customerCity, customerRegion, customerLocality, customerStreet, customerZipcode)">Save</button>
              <button *ngIf="addressCallMethod === 1" class="btn cust-button"
                (click)="addAddress(customerCity, customerRegion, customerLocality, customerStreet, customerZipcode)">Add</button>
            </div>
          </li>

          <li id="paymentSec" class="subcategory">
            <h4>Business Account</h4>
          </li>
          <li id="dealer-add" *ngIf="!is_dealer">
            <a href="javascript:void(0)" class="expander">
              <h3 class="heading" style="font-weight: normal;">Upgrade to Business</h3>
              <p class="sub-heading"></p>
              <span class="indicator" (click)="goToDealerPage()">Upgrade</span>
            </a>
          </li>
          <li id="dealer-add" *ngIf="is_dealer">
            <a href="javascript:void(0)" class="expander">
              <p class="heading" style="font-weight: normal;">Business Account</p>
              <p class="sub-heading">View your business details.</p>
              <span class="indicator" (click)="goToDealerPage()">View</span>
            </a>
          </li>

          <li id="paymentSec" class="subcategory">
            <h4>Invite Section</h4>
          </li>

          <!-- <li id="payment-settings">
                      <a href="javascript:void(0)" class="expander">
                          <h3 class="heading">Payment instruction</h3>
                          <p class="sub-heading">Add or Update your payment method</p>
                          <span class="indicator" (click)="displayForm('customerPaymentInstructions')">Change</span>
                      </a>
                      <div class="form" id="js-customerPaymentInstructions" style="display:none">
                          <textarea class="form-control custm-textarea" placeholder="Enter payment instructions here" [(ngModel)]="customerPaymentInstructions" name="customerPaymentInstructions" rows="5" cols="20">{{customerPaymentInstructions}}</textarea>
                          <button class="btn cust-button" (click)="updateProfile(customerPaymentInstructions, 'payment_instructions', 'js-customerPaymentInstructions')">Save</button>
                      </div>
                  </li> -->

          <!-- <li id="payment-options-settings">
            <a href="javascript:void(0)" class="expander">
              <h3 class="heading">Payment options</h3>
              <p class="sub-heading">Below are your payment card </p>
              <span class="indicator" (click)="displayForm('customerPaymentoptions')">Change</span>
            </a>
            <div class="form" id="js-customerPaymentoptions" style="display:none" *ngIf="payment_options">
              <ol>
                <li *ngFor="let item of payment_options">
                  ****{{item}}
                </li>
              </ol>
              <p *ngIf="payment_options.length==0">No record found</p>
            </div>
          </li> -->

          <!-- Transaction records                         -->
          <!-- <li id="transactions-settings">
            <a href="javascript:void(0)" class="expander">
              <h3 class="heading">Transactions</h3>
              <p class="sub-heading">View your transaction history</p>
              <span class="indicator" (click)="displayForm('customerTransactions')">Change</span>
            </a>
            <div class="form" id="js-customerTransactions" style="display:none">
              <div *ngIf="transactions?.length > 0" class="inner_das_2">
                <table>
                  <thead>
                    <tr class="h_title">
                      <th scope="col" width="10%" class="text-left width1">Currency</th>
                      <th scope="col" width="10%" class="text-left width2">Amount</th>
                      <th scope="col" width="15%" class="text-left width3">Transaction ID</th>
                      <th scope="col" width="15%" class="text-left width4">Payment Method</th>
                      <th scope="col" width="50%" class="text-left width5">Description</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let transaction of transactions;  let i=index">
                    <tr>
                      <td data-label="Currency">
                        <p class="first_p">{{ transaction.currency }}</p>
                      </td>
                      <td data-label="Amount">
                        <p>{{ transaction.amount }}</p>
                      </td>
                      <td data-label="Transaction ID">
                        <p>{{ transaction.transaction_id }}</p>
                      </td>
                      <td data-label="Payment Method">
                        <p>{{ transaction.payment_channel }}</p>
                      </td>
                      <td data-label="Description">
                        <p style="margin-bottom: 2rem;white-space:pre-wrap;">{{ transaction.description }}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <p *ngIf="transactions?.length == 0">
                No transactions found
              </p>
            </div>
          </li> -->

          <!-- Invite System -->
          <li id="Credit-settings">
            <a href="javascript:void(0)" class="expander">
              <h3 class="heading">Invite</h3>
              <p class="sub-heading">Invite your friends.</p>
              <a routerLink="/invite">
                <!-- (click)="displayForm('customerCredit')" -->
                <span class="indicator">Invite</span>
              </a>
            </a>
            <div class="form" id="js-customerCredit" style="display:none">
              <input class="form-control custm-input" placeholder="Enter mail id" [(ngModel)]="customerCredit"
                type="text" name="customerCredit" />
              <button class="btn cust-button" (click)="inviteUser()">Save</button>


              <a routerLink="/invite">
                <button class="btn cust-button">Invite</button></a>
            </div>
          </li>

          <div id="divauthresult"></div>
          <div id="divtableresult" *ngIf="divtableresult">{{divtableresult}}</div>

          <!-- <li id="account-section" class="subcategory">
            <h4>Privacy settings</h4>
          </li> -->

          <!-- <li id="privacy-settings">
            <a href="javascript:void(0)" class="expander">
              <p class="sub-heading">Change your privacy settings. Keep your personal information safe.</p>
              <span class="indicator" (click)="displayForm('customerPrivacySettings')">Change</span>
            </a>
            <div class="form" id="js-customerPrivacySettings" style="display:none">
              <div class="form-check">
                <input type="checkbox" (change)="customerMobilePrivacySettings = !customerMobilePrivacySettings"
                  [checked]="customerMobilePrivacySettings">
                <label class="checkbox-inline" for="my_mobile">Mobile
                  ({{customerMobilePrivacySettings==true?'visible':'hidden'}} to users)</label>
                <span class="span_pseudo"></span>

              </div>
              <div class="form-check">
                <input type="checkbox" (change)="customerEmailPrivacySettings = !customerEmailPrivacySettings"
                  [checked]="customerEmailPrivacySettings">
                <label class="checkbox-inline" for="my_email">Email
                  ({{customerEmailPrivacySettings==true?'visible':'hidden'}} to users)</label>
                <span class="span_pseudo"></span>

              </div>

              <button class="btn cust-button" (click)="updateUserPrivacy()">Save</button>
            </div>
          </li> -->

        </ul>
      </div>

      <!-- Section 2 -->
      <div role="tabpanel" class="tab-pane" id="selling">
        <ul class="selling-list">
          <!-- <li id="selling-section" class="subcategory">
                      <h4>Basics</h4>
                  </li> -->

          <!-- item sold -->
          <li id="sold-settings">
            <a href="javascript:void(0)" class="expander">
              <p class="heading">Sold items</p>
              <p class="sub-heading">View your sold ites.</p>
              <span class="indicator" (click)="displayForm('customerSoldItems')">View</span>
            </a>
            <div class="form" id="js-customerSoldItems" style="display:none">
              <div *ngIf="userSoldItems.length > 0" class="inner_das_3">
                <table>
                  <thead>
                    <tr class="h_title">
                      <th scope="col" width="20%" class="text-left width1">Thumbnail</th>
                      <th scope="col" width="20%" class="text-left width2">Listing ID</th>
                      <th scope="col" width="20%" class="text-left width3">Title</th>
                      <th scope="col" width="20%" class="text-left width4">Price </th>
                      <th scope="col" width="20%" class="text-left width5">Listing date</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of userSoldItems;  let i=index">
                    <tr>
                      <td data-label="Thumbnail"><img class="table_thumb"
                          [src]="item.thumbnail!= null ? item.thumbnail :'./assets/images/nocarimage.jpg'" width="100%">
                      </td>
                      <td data-label="Listing ID">
                        <p><a [routerLink]="item | posturl">{{item.id}}</a>
                          <!-- [carPostUrl+'/'+item.location+'/'+item.make+'/'+item.model+'/'+item.year_manufacture+'/'+'/'+item.id] -->
                        </p>
                      </td>
                      <td data-label="title">
                        <p>{{item.title}}</p>
                      </td>
                      <td data-label="price">
                        <p>{{item.amount}}</p>
                      </td>
                      <td data-label="closing date">
                        <p>{{item.post_start_time}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p *ngIf="userSoldItems.length == 0">
                No sold item found
              </p>
            </div>
          </li>

          <!-- items unsold -->
          <li id="unsold-settings">
            <a href="javascript:void(0)" class="expander">
              <p class="heading">Unsold items</p>
              <p class="sub-heading">View your unsold items.</p>
              <span class="indicator" (click)="displayForm('customerUnsoldItems')">View</span>
            </a>
            <div class="form" id="js-customerUnsoldItems" style="display:none">
              <div *ngIf="userUnsoldItems.length > 0" class="inner_das_3">
                <table>
                  <thead>
                    <tr class="h_title">
                      <th scope="col" width="20%" class="text-left width1">Thumbnail</th>
                      <th scope="col" width="20%" class="text-left width2">Listing ID</th>
                      <th scope="col" width="20%" class="text-left width3">Title</th>
                      <th scope="col" width="20%" class="text-left width4">Price </th>
                      <th scope="col" width="20%" class="text-left width5">Listing date</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of userUnsoldItems;  let i=index">
                    <tr>
                      <td data-label="Thumbnail"><a [routerLink]="item | posturl"><img class="table_thumb"
                            [src]="item.thumbnail!= null ? item.thumbnail :'./assets/images/nocarimage.jpg'"
                            width="100%"></a></td>
                      <td data-label="Listing ID">
                        <p><a [routerLink]="item | posturl">{{item.id}}</a>
                        </p>
                      </td>
                      <td data-label="title">
                        <p>{{item.title}}</p>
                      </td>
                      <td data-label="price">
                        <p>{{item.amount}}</p>
                      </td>
                      <td data-label="closing date">
                        <p>{{item.post_start_time}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p *ngIf="userUnsoldItems.length == 0">
                No unsold item found
              </p>
            </div>
          </li>

          <!-- items i am selling -->
          <li id="items-selling-settings">
            <a href="javascript:void(0)" class="expander">
              <p class="heading">Items I am selling</p>
              <p class="sub-heading">View the items you are selling currently.</p>
              <span class="indicator" (click)="displayForm('customerItemSelling')">View</span>
            </a>
            <div class="form" id="js-customerItemSelling" style="display:none">
              <div *ngIf="userItemSelling.length > 0" class="inner_das_3">
                <table>
                  <thead>
                    <tr class="h_title">
                      <th scope="col" width="20%" class="text-left width1">Thumbnail</th>
                      <th scope="col" width="20%" class="text-left width2">Listing ID</th>
                      <th scope="col" width="20%" class="text-left width3">Title</th>
                      <th scope="col" width="20%" class="text-left width4">Price </th>
                      <th scope="col" width="20%" class="text-left width5">Listing date</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of userItemSelling;  let i=index">
                    <tr>
                      <td data-label="Thumbnail"><img class="table_thumb"
                          [src]="item.thumbnail!= null ? item.thumbnail :'./assets/images/nocarimage.jpg'" width="100%">
                      </td>
                      <td data-label="Listing ID">
                        <p>
                          <a [routerLink]="item | posturl">{{item.id}}</a>
                        </p>
                      </td>
                      <td data-label="title">
                        <p>{{item.title}}</p>
                      </td>
                      <td data-label="price">
                        <p>{{item.amount}}</p>
                      </td>
                      <td data-label="closing date">
                        <p>{{item.post_start_time}}</p>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <p *ngIf="userItemSelling.length == 0">
                No selling item found
              </p>
            </div>
          </li>

          <!-- items draft -->
          <li id="draft-settings">
            <a href="javascript:void(0)" class="expander">
              <p class="heading">Draft items</p>
              <p class="sub-heading">View your draft items.</p>
              <span class="indicator" (click)="displayForm('customerDraftItems')">View</span>
            </a>
            <div class="form" id="js-customerDraftItems" style="display:none">
              <div *ngIf="draftListing.length > 0" class="inner_das_3">
                <table>
                  <thead>
                    <tr class="h_title">
                      <th scope="col" width="20%" class="text-left width1">Thumbnail</th>
                      <th scope="col" width="20%" class="text-left width2">Listing ID</th>
                      <th scope="col" width="20%" class="text-left width3">Title</th>
                      <th scope="col" width="20%" class="text-left width4">Price </th>
                      <th scope="col" width="20%" class="text-left width5">Listing date</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of draftListing;  let i=index">
                    <tr>
                      <td data-label="Thumbnail"><a [routerLink]="item | posturl"><img class="table_thumb"
                            [src]="item.thumbnail!= null ? item.thumbnail :'./assets/images/nocarimage.jpg'"
                            width="100%"></a></td>
                      <td data-label="Listing ID">
                        <p>
                          <a [routerLink]="['/../sell-car/' + item.id]">{{item.id}}</a>
                        </p>
                        <!-- <p><a
                            [routerLink]="item | posturl">{{item.id}}</a>
                        </p> -->
                      </td>
                      <td data-label="title">
                        <p>{{item.title}}</p>
                      </td>
                      <td data-label="price">
                        <p>{{item.amount}}</p>
                      </td>
                      <td data-label="closing date">
                        <p>{{item.post_start_time}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p *ngIf="userUnsoldItems.length == 0">
                No unsold item found
              </p>
            </div>
          </li>
        </ul>
      </div>

      <!-- section 3 -->
      <div role="tabpanel" class="tab-pane" id="buying">
        <ul class="buying-list">
          <li id="items-selling-settings">
            <a href="javascript:void(0)" class="expander">
              <p class="heading">Watchlist</p>
              <p class="sub-heading">View the items in your watchlist.</p>
              <span class="indicator" (click)="displayForm('watchlistItem')">View</span>
            </a>
            <div class="form" id="js-watchlistItem" style="display:none">
              <div *ngIf="watchListItems.length > 0" class="inner_das_3">
                <table>
                  <thead>
                    <tr class="h_title">
                      <th scope="col" width="20%" class="text-left width1">Thumbnail</th>
                      <th scope="col" width="20%" class="text-left width2">Listing ID</th>
                      <th scope="col" width="20%" class="text-left width3">Title</th>
                      <th scope="col" width="20%" class="text-left width4">Price </th>
                      <th scope="col" width="20%" class="text-left width5">Listing date</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of watchListItems;  let i=index">
                    <tr>
                      <td data-label="Thumbnail"><img class="table_thumb"
                          [src]="item.thumbnail!= null ? item.thumbnail :'./assets/images/nocarimage.jpg'" width="100%">
                      </td>
                      <td data-label="Listing ID">
                        <p><a [routerLink]="item | posturl">{{item.id}}</a>
                        </p>
                      </td>
                      <td data-label="title">
                        <p>{{item.title}}</p>
                      </td>
                      <td data-label="price">
                        <p>{{item.amount}}</p>
                      </td>
                      <td data-label="closing date">
                        <p>{{item.post_start_time}}</p>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <p *ngIf="watchListItems.length == 0">
                Watchlist is empty
              </p>
            </div>
          </li>
        </ul>
      </div>

      <!-- section 4 (Feedback)-->
      <div role="tabpanel" class="tab-pane" id="feedback">
        <ul class="feedback-list">
          <li id="feedback-settings">
            <a href="javascript:void(0)" class="expander">
              <p class="heading">All review</p>
              <p class="sub-heading">View your review.</p>
              <span class="indicator" (click)="displayForm('allFeedback')">View</span>
            </a>
            <div class="form" id="js-allFeedback" style="display:none">
              <div *ngIf="feedback.ratingAll.length>0" class="inner_das_2">
                <table>
                  <thead>
                    <tr class="h_title">
                      <th scope="col" width="20%" class="text-left width1">Name</th>
                      <th scope="col" width="15%" class="text-left width2">Rating</th>
                      <th scope="col" width="15%" class="text-left width3">Listing ID</th>
                      <th scope="col" width="35%" class="text-left width4">Review</th>
                      <th scope="col" width="15%" class="text-left width5">Review date</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of feedback.ratingAll;  let i=index">
                    <tr>
                      <td data-label="Name">
                        <p class="first_p">{{item.user_who_rated_name}}</p>
                      </td>
                      <td data-label="Rating">
                        <p>{{item.rating}}</p>
                      </td>
                      <td data-label="Listing ID">
                        <p><a>{{item.post_id}}</a></p>
                      </td>
                      <td data-label="Review">
                        <p>{{item.review}}</p>
                      </td>
                      <td data-label="Review date">
                        <p>{{item.created_at}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p *ngIf="feedback.ratingAll.length==0">
                No sold item found
              </p>
            </div>
          </li>

          <li id="feedback-settings">
            <a href="javascript:void(0)" class="expander">
              <p class="heading">Buying review</p>
              <p class="sub-heading">View your review as a buyer.</p>
              <span class="indicator" (click)="displayForm('buyingFeedback')">View</span>
            </a>
            <div class="form" id="js-buyingFeedback" style="display:none">
              <div *ngIf="feedback.ratingAsBuyer.length>0" class="inner_das_2">
                <table>
                  <thead>
                    <tr class="h_title">
                      <th scope="col" width="20%" class="text-left width1">Name</th>
                      <th scope="col" width="15%" class="text-left width2">Rating</th>
                      <th scope="col" width="15%" class="text-left width3">Listing ID</th>
                      <th scope="col" width="35%" class="text-left width4">Review</th>
                      <th scope="col" width="15%" class="text-left width5">Review date</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of feedback.ratingAsBuyer;  let i=index">
                    <tr>
                      <td data-label="Name">
                        <p class="first_p">{{item.user_who_rated_name}}</p>
                      </td>
                      <td data-label="Rating">
                        <p>{{item.rating}}</p>
                      </td>
                      <td data-label="Listing ID">
                        <p><a>{{item.post_id}}</a></p>
                      </td>
                      <td data-label="Review">
                        <p>{{item.review}}</p>
                      </td>
                      <td data-label="Review date">
                        <p>{{item.created_at}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p *ngIf="feedback.ratingAsBuyer.length == 0">
                No sold item found
              </p>
            </div>
          </li>

          <li id="feedback-settings">
            <a href="javascript:void(0)" class="expander">
              <p class="heading">Selling review</p>
              <p class="sub-heading">View your review as a seller.</p>
              <span class="indicator" (click)="displayForm('sellingFeedback')">View</span>
            </a>
            <div class="form" id="js-sellingFeedback" style="display:none">
              <div *ngIf="feedback.ratingAsSeller.length>0" class="inner_das_2">
                <table>
                  <thead>
                    <tr class="h_title">
                      <th scope="col" width="20%" class="text-left width1">Name</th>
                      <th scope="col" width="15%" class="text-left width2">Rating</th>
                      <th scope="col" width="15%" class="text-left width3">Listing ID</th>
                      <th scope="col" width="35%" class="text-left width4">Review</th>
                      <th scope="col" width="15%" class="text-left width5">Review date</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of feedback.ratingAsSeller;  let i=index">
                    <tr>
                      <td data-label="Name">
                        <p class="first_p">{{item.user_who_rated_name}}</p>
                      </td>
                      <td data-label="Rating">
                        <p>{{item.rating}}</p>
                      </td>
                      <td data-label="Listing ID">
                        <p><a>{{item.post_id}}</a></p>
                      </td>
                      <td data-label="Review">
                        <p>{{item.review}}</p>
                      </td>
                      <td data-label="Review date">
                        <p>{{item.created_at}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p *ngIf="feedback.ratingAsSeller.length == 0">
                No sold item found
              </p>
            </div>
          </li>
        </ul>
      </div>


    </div>

  </div>


</div>


<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>