h1, h2, h3, h4, h5, h6 { margin-top: 0px; }

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    border: 0;
}
label {
    font-size: 14px;
}

/* PROFILE HEADER */

.profile-header{
    min-height: 150px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
    box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
}

.user-info{
    display: block;
}

.user-title{
    display: block;
    position: relative;
    margin-right: 80px;
}

.user-profile-pic{
    display: block;
    position: relative;
}

.img-circle {
    border-radius: 50%;
}


/* PROFILE TOP NAVIGATION */

.tab-wrapper{
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
    box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);   
}

.nav-tabs{
    border-bottom: 0px;
}

.nav-tabs > li > a {
    font-size: 20px;
    // font-family: 'Black';
    text-transform: capitalize;
    padding: 30px 0px;
    border: none;
    color: #4e4e4e;
}
.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scale(1);
}
.nav>li>a.no-bg:focus, .nav>li>a.no-bg:hover {
    text-decoration: none;
    background-color: transparent;
}
.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}
#settings-nav{
    border-bottom: 1px solid #f1f1f1;
    padding: 0;
}
#settings-nav ul[role="tablist"] li {
    float: left;
    max-width: 25%;
    width: 25%;
}
#settings-nav ul[role="tablist"] li a.active {
    border-bottom: 4px solid #0070c0;
}
#settings-nav ul[role="tablist"] li {
    text-align: center;
}

#settings-nav ul[role="tablist"]:after {
    content: '';
    display: table;
    clear: both;
}


/* TAB PANS*/

#accounts, #selling, #buying, #feedback {
    padding-top: 0;
    border: none;
    color: #4e4e4e;
    font-size: 30px;
}
#basics, #paymentSec, #account-section, #selling-section, #buying-section, #feedback-section{
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}
.basic-list, .selling-list, .buying-list, .feedback-list{
    padding: 0 40px;
}
.basic-list .subcategory+li, .selling-list .subcategory+li, 
.buying-list .subcategory+li, .feedback-list .subcategory+li{
    border-top: 1px solid #e6e9ec;
}

.basic-list>li, .selling-list>li, .buying-list>li, .feedback-list>li {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #e6e9ec;
}

.basic-list>li .heading, .selling-list>li .heading, 
.buying-list>li .heading, .feedback-list>li .heading {
    box-sizing: border-box;
    // font-family: "Medium";
    color: #4e4e4e;
    font-size: 18px;
    text-decoration: none;
}

.subcategory h4 {
  //font-family: "Bold";
}

.basic-list>li .sub-heading, .selling-list>li .sub-heading, 
.buying-list>li .sub-heading, .feedback-list>li .sub-heading {
    box-sizing: border-box;
    font-weight: 400;
    color: #4e4e4e;
    font-size: 13px;
    margin-bottom: 0;
}

.basic-list .expander .indicator, .selling-list .expander .indicator, 
.buying-list .expander .indicator, .feedback-list .expander .indicator{
    position: absolute;
    top: 12px;
    right: 0;
    margin-top: 14px;
    margin-bottom: 10px;
}
#Credit-settings, #privacy-settings,
#items-Lost-selling-settings, #selling-feedback-settings, #dealer-settings, #dealer-add{
    border-bottom: none;
}

span.expander, span.indicator{
    color: #4e4e4e;
    font-size: 13px;
    font-weight: 400;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.custm-input{
    width: 240px;
    margin-top: 20px;
}
.form-control{
    border: 0;
    border-bottom: 2px solid rgba(127, 161, 188, 0.68);
    border-radius: 0;
    padding: 15px 30px 9px 0px;
    color: #606060;
    outline: none;
    font-size: 13px;
    font-weight: 600;
}
.custm-textarea{
    margin-top: 20px;
}
.cust-button{
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    height: 35px;
    border-radius: 60px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    min-width: 100px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-image: -webkit-linear-gradient( 0deg, rgb(0,112,187) 0%, rgb(0,66,255) 100%);
    -webkit-transition: .4s ease all;
    transition: .4s ease all; 
}
.js-customerName, .js-profileImage, .js-customerPassword, .js-customerEmail,
.js-customerPhone, .js-customerAddress, .js-customerCredit, .js-customerPrivacySettings{
    margin-top: 6px;
}
.custom-autocomplete__container{
    width: 400px !important;
}
.custom-autocomplete{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Checkbox */
.bg {
	height: 100%;
	display: flex;
	align-items: start;
	justify-content: start;
	flex-direction: column;
  }
  
  .span_pseudo, .custom_cb span:before, .custom_cb span:after {
	content: "";
	display: inline-block;
	background: #fff;
	width: 0;
	height: 0.2rem;
	position: absolute;
	transform-origin: 0% 0%;
  }
  
  .custom_cb {
	position: relative;
	height: 2rem;
	display: flex;
	align-items: center;
  }
  .custom_cb input {
	display: none;
  }
  .custom_cb input:checked ~ span {
	background: #5aa2da;
	border-color: #5aa2da;
  }
  .custom_cb input:checked ~ span:before {
	width: 1rem;
	height: 0.15rem;
	transition: width 0.1s;
	transition-delay: 0.3s;
  }
  .custom_cb input:checked ~ span:after {
	width: 0.4rem;
	height: 0.15rem;
	transition: width 0.1s;
	transition-delay: 0.2s;
  }
  .custom_cb input:disabled ~ span {
	background: #ececec;
	border-color: #dcdcdc;
  }
  .custom_cb input:disabled ~ label {
	color: #dcdcdc;
  }
  .custom_cb input:disabled ~ label:hover {
	cursor: default;
  }
  .custom_cb label {
	padding-left: 2rem;
	position: relative;
	z-index: 2;
	cursor: pointer;
	margin-bottom:0;
  }
  .custom_cb span {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	background: lightblue;
	position: absolute;
	left: 0;
	transition: all 0.1s;
	z-index: 1;
	box-sizing: content-box;
  }
  .custom_cb span:before {
	transform: rotate(-55deg);
	top: 1rem;
	left: 0.37rem;
  }
  .custom_cb span:after {
	transform: rotate(35deg);
	bottom: 0.35rem;
	left: 0.2rem;
  }

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* notification bar */
.alrt-margin{
    margin: 0 0 0 20px !important;
}
.upd-phone-msg{
    color: #a5a5a5;
    font-size: 16px;
}





/* star rating */
/* .stars {
cursor: pointer;
} */
/* .stars:hover .star polygon {
fill: #ffd055 !important;
} */
/* .stars .star {
float: left;
} */
.stars .star polygon {
fill: #d8d8d8;
}
/* .stars .star:hover ~ .star polygon {
fill: #d8d8d8 !important;
} */
.stars[data-stars] .star polygon {
fill: #ffd055;
}
.stars[data-stars="1"] .star:nth-child(1) ~ .star polygon {
fill: #d8d8d8;
}
.stars[data-stars="2"] .star:nth-child(2) ~ .star polygon {
fill: #d8d8d8;
}
.stars[data-stars="3"] .star:nth-child(3) ~ .star polygon {
fill: #d8d8d8;
}
.stars[data-stars="4"] .star:nth-child(4) ~ .star polygon {
fill: #d8d8d8;
}
.stars[data-stars="5"] .star:nth-child(5) ~ .star polygon {
fill: #d8d8d8;
}




/* transaction tables */
  .row{
  margin: 0 !important
  }
  
  a:hover{
    text-decoration: none;
  }
  
  .inner_das_2 table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin:0;
    width: 100%;
    table-layout: fixed;
  }
  
  .inner_das_2 table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  .inner_das_2 table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  .inner_das_2 table tr p{
    margin-bottom: 0
  }
  
  .inner_das_2 table th,
  .inner_das_2 table td {
        padding: 10px 15px;
    text-align: left;
    color: #000;
    font-size: 13px;
  }
  
  .inner_das_2 table th {
    font-size: 14px;
    background-color: #0088e4;
    color: #fff;
   padding: 15px 14px;
  text-align: left;
  }
  
  
  @media screen and (max-width: 600px) {
  
    .inner_das_2 table {
      border: 0;
    }
  
    .inner_das_2 table caption {
      font-size: 1.3em;
    }
    
    .inner_das_2 table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .inner_das_2 table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .inner_das_2 table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: left;
    }
    
    .inner_das_2 table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .inner_das_2 table td:last-child {
      border-bottom: 0;
    }
  }



  @media (min-width:320px) and (max-width:359px) {

}


@media (min-width:320px) and (max-width:767px) {

.inner_das_2 table td:first-child {
   background-color: #0088e4;
   border-radius: 5px 5px 0px 0px;
}
.subcategory h4 {
  font-size: 18px;
  // font-family: "Bold";
}

.basic-list>li .heading, .selling-list>li .heading, 
.buying-list>li .heading, .feedback-list>li .heading {
    box-sizing: border-box;
    // font-family: "Medium";
    color: #4e4e4e;
    font-size: 16px;
    text-decoration: none;
}

.inner_das_2 table td:first-child::before{
   color: #fff;

}
.first_p{
   color: #fff;
}

.inner_das_2 table td {
   position: relative;
   position: relative;
   padding: 30px 15px 10px 15px;
   font-size: 14px;
}

.inner_das_2 table td::before {
   content: attr(data-label);
   float: none;
   color: #000;
   position: absolute;
   top: 10px;
   font-size: 14px;
}

.inner_das_2 table tr {
   background-color: #fff;
   padding: 0px 0px;
   border-radius: 5px;
   border: 0;
   margin-bottom: 20px;
   box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
}

.inner_das_2 table tr p {
   margin-bottom: 0;
   font-size: 13px;
}
}


@media (min-width:768px) and (max-width:991px) {

.width1{
    width: 15%;
}

.width2{
    width: 15%;
}

.width3{
    width: 15%;
}

.width4{
    width: 15%;
}

.width5{
    width: 40%;
}
}
@media (min-width:992px) and (max-width:1279px) {}
@media (min-width:1280px) and (max-width:1365px) {}
@media (min-width:1366px) and (max-width:1600px) {}




/* item I am seling */
a:hover{
    text-decoration: none;
  }
  
  .inner_das_3 table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin:0;
    width: 100%;
    table-layout: fixed;
  }
  
  .inner_das_3 table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  .inner_das_3 table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  .inner_das_3 table tr p{
    margin-bottom: 0
  }
  
  .inner_das_3 table th,
  .inner_das_3 table td {
        padding: 10px 15px;
    text-align: left;
    color: #000;
    font-size: 13px;
  }
  
  .inner_das_3 table th {
    font-size: 14px;
    background-color: #0088e4;
    color: #fff;
   padding: 15px 14px;
  text-align: left;
  }
  
  
  @media screen and (max-width: 600px) {
  
    .inner_das_3 table {
      border: 0;
    }
  
    .inner_das_3 table caption {
      font-size: 1.3em;
    }
    
    .inner_das_3 table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .inner_das_3 table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .inner_das_3 table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: left;
    }
    
    .inner_das_3 table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .inner_das_3 table td:last-child {
      border-bottom: 0;
    }
  }
  
  .fa-star{
    color: gold;
  }
  
  .inner_das_3 table tr p a{
      color: #0088e4;
      font-weight: 700;
  }
  
  .table_thumb{
    width: 140px;
  }




  @media (min-width:320px) and (max-width:359px) {

}


@media (min-width:320px) and (max-width:767px) {

.inner_das_3 table td:first-child {

   border-radius: 5px 5px 0px 0px;
}


.first_p{
   color: #fff;
}

.inner_das_3 table td {
   position: relative;
   position: relative;
   padding: 30px 15px 10px 15px;
   font-size: 14px;
}

.inner_das_3 table td::before {
   content: attr(data-label);
   float: none;
   color: #000;
   position: absolute;
   top: 10px;
   font-size: 14px;
}

.inner_das_3 table tr {
   background-color: #fff;
   padding: 0px 0px;
   border-radius: 5px;
   border: 0;
   margin-bottom: 20px;
   box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
}

.inner_das_3 table tr p {
   margin-bottom: 0;
   font-size: 13px;
}
}
@media (min-width:768px) and (max-width:991px) {
.table_thumb {
   width: 100px;
}
}
@media (min-width:992px) and (max-width:1279px) {
.table_thumb {
   width: 100px;
}
}
@media (min-width:1280px) and (max-width:1365px) {}
@media (min-width:1366px) and (max-width:1600px) {}




/* -- mobile verification  */


.inner_verified{
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px 15px;text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.inner_verified p{
  margin-bottom: 0;
  font-size: 14px;
  color: gray;
}

.vpnumber_{
      background: -webkit-linear-gradient( 0deg, rgb(0,112,187) 0%, rgb(0,138,231) 100%);
      color: #fff;
      // font-family: 'Bold';
      font-weight: 700;
      font-size: 13px;
      border-radius: 50px;
      padding: 7px 10px;
      border:0;
}

.otp_send_btn{
     background: -webkit-linear-gradient( 0deg, rgb(0,112,187) 0%, rgb(0,138,231) 100%);
    color: #fff;
    // font-family: 'Bold';
    font-weight: 700;
    font-size: 13px;
    border-radius: 50px;
    padding: 7px 0px;
    border: 0;
    width: 90px;
}

.txt_input_box{
    display: inline-block;
    margin-right: 15px;
}

.clik_hide_verify{
    position: absolute;
    top: 49%;
    right: 24px;
    transform: translateY(-50%);
    color: gray;
}

.clik_hide_verify:hover{
  cursor: pointer;
  color: #007cd0;
}

.otp_div_text .form-control{
  font-size: 13px;
  border-radius: 0;
  height: 34px;
  width: 150px;
  display: inline-block;
  margin-right: 15px;
}

.otp_div_text .form-control:focus{
  box-shadow: none;
}

.hideDiv{
  display: block !important;
}

.otp_div_text p{
  font-size: 13px;
  margin-top: 15px;
      margin-bottom: 0 !important;
}

.row{
  margin: 0 !important
  }


  @media (min-width:320px) and (max-width:767px) {
    .clik_hide_verify{
        top: 7px;
        right: 11px;
        transform: none;
    }
    
    .txt_input_box {
        margin-right:0;
        display: block;
    }
    
    .inner_verified {
        padding: 25px 15px;
    }
    .inner_verified p {
       font-size: 13px;
        margin-bottom: 15px;
    }
    .vpnumber_{
            padding: 8px 10px;
    }
    .otp_div_text .form-control {
        margin-right: 10px;
    }
    
    
    }
    
    
    @media (min-width:768px) and (max-width:991px) {
    
    .inner_verified p {
        font-size: 12px;
    }
    .txt_input_box {
        display: inline-block;
        margin-right: 8px;
    }
    .clik_hide_verify {
       right: 17px;
        
    }
    .vpnumber_ {
      font-size: 12px;
        
    }
    }
    button:focus{
      box-shadow: none !important;
      outline: none !important ;
    }
    .hidePtag{
      display: none !important;
    }

    .p_click_otp{
      display: none;
    }
h4 {
  font-size: 22px;
}
.userName {
  color: #0070bb;
  // font-family: 'Bold';
  font-weight: 700;
    font-size: 18px;
}
.userSince {
  margin-top: 10px;
}
.form p {
  font-size: 16px;
  color: #0070bb;
  margin: 0;
}
.user-pic {
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  background-color: #ddd;
  border: 2px solid #0070dd;
}
@media screen and (max-width:576px) {
  .noPaddingInMob {
    padding: 0 !important;
  }
  .userName {
    color: #0070bb;
      font-weight: 600;
      font-size: 15px;
  }
  .userSince, .userCredit {
    margin: 0px;
    font-size: 12px;
  }
  .userSince {
    margin-top: 5px;
  }
  .nav-tabs > li > a {
    font-size: 14px;
    padding: 15px 0;
  }
  .form p {
    font-size: 14px;
    color: #0070bb;
    margin: 0;
  }
  .basic-list, .selling-list, .buying-list, .feedback-list {
    padding: 0;
  }
  .user-pic {
    height: 75px;
    width: 75px;
  }
}
.prefix {
  position: relative;
  top: -51px;
  font-size: 14px;
}
.dialog {
  position: fixed;
  top: 20vh;
  left: calc(50% - 150px);
  height: 400px;
  z-index: 100;
  overflow-y: auto;
}

