<div class="inner_terms">
  <h1>privacy Policy </h1>
  <h4>Welcome to Kwikz.nz (“Kwikz Limited”)</h4>

  <div class="terms_main_content">
    <div class="row">
      <div class="col-md-1 col-1">
        <span>1.</span>
      </div>
      <div class="col-md-11 col-11">
        <p>We take the privacy of our users seriously and ensure that our staff comply to the strictest standards of
          security and confidentiality when controlling and processing personal data submitted by our users. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-1">
        <span>2.</span>
      </div>
      <div class="col-md-11 col-11">
        <p>This policy sets out how we handle your personal information if you're user of Kwikz Limited Services or
          visitor to our Site(s). 'We', 'us' shall refer to Kwikz Limited or Kwikz.nz. Please read it carefully.</p>
      </div>
    </div>




    <div class="sec_2">
      <h4>Personal Data Defined</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Personal Information is information relating to an identified or identifiable natural person</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>An identifiable natural person is one who can be identified, directly or indirectly, by reference to an
              identifier such as a name, an identification number, location data, an online identifier, or to one or
              more factors specific to the physical, physiological, genetic, mental, economic, cultural or social
              identity of that natural person.</p>
          </div>
        </div>

      </div>
    </div>
    <div class="sec_2">
      <h4>How we use personal information</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>We have a legitimate interest in using your information in the following ways to improve Kwikz.nz. Our
              focus is to maintain our relationship with you and to protect all users. When using <a href="www.kwikz.nz"
                target="_blank">www.Kwikz.nz </a>(“the website”), you will be asked to provide personal information.
              This information collected will help Kwikz.nz to render its services on the Website that depend on the
              personal information collected. The purposes include:</p>
            <div class="pad_content">
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>a.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Assisting users in finding the appropriate vehicle that they are looking for</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>b.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>To assist users in finding the appropriate accessories for their vehicles</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>c.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>To provide users with various services offered by the Website, and newsletters, information on
                    vehicles, and promotional and marketing materials.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>d.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>To handle and follow up on users enquiries and complaints.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>e.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>To contact users regarding administrative notices and communications relevant to their use of the
                    website.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>f.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Verify the identity of users</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-1 col-1">
                  <span>g.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>To obtain and collect statistical information</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>h.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Operating the Site </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>i.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Verifying your identity when you sign in to any of our Website. </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>j.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Responding to support tickets, and helping facilitate the resolution of any disputes.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>k.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Updating you with operational news and information about our Sites and services e.g. to notify you
                    about changes to our Sites, website disruptions or security updates.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>l.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Data Analysis; Carrying out technical analysis to determine how to improve the Sites and </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>m.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Monitor and identify potential fraudulent activity</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>n.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Provide Better service. </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>o.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Compliance and public safety. Managing our legal and operational affairs (including, managing
                    risks relating to content and fraud matters). We may Work with law enforcement and keep Kwikz.nz
                    safe. We may get requests for account information from law enforcement authorities like the police
                    or courts.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>p.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Training our staff about how to best serve our user community</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>q.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Providing general administrative and performance functions and activities.</p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="sec_2">
      <h4>The type of personal information we collect</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>We may collect personal information from you and any devices (including mobile devices) you use when
              you: use our Website or our Services, register for an account with us, provide us information on a web
              form, update or add information to your account, participate in a community board discussion chat, or
              when you otherwise correspond with us.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Such identifiable information may include</p>
            <div class="pad_content">
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>a.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Your Name,</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>b.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Car Registration Number</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>c.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Contact Number</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>d.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Address</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>e.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Email Address</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>f.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Gender</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-1 col-1">
                  <span>g.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Occupation</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>h.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Industry and Personal Interests</p>
                </div>
              </div>




            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="sec_2">
      <h4>How we collect personal information</h4>
      <div class="terms_main_content">

        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz collects personal information that you choose to submit to us and information obtained from
              your internet browser when you sign up for or use our services, you give us certain information
              voluntarily.</p>
            <div class="pad_content">
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>a.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Browsing the website. We collect personal information directly when you provide it to us,
                    automatically as you navigate through the Website, or through other people when you use services
                    associated with the Website.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>b.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Membership Sign up. We collect your personal information when you provide it to us when you
                    complete membership registration and buy or provide items or services on our Website, subscribe to
                    a newsletter, email list, submit feedback, enter a contest, fill out a survey, or send us a
                    communication.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>c.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Online Purchases. If you buy something on our Website, we may collect payment information such as
                    contact information (address and phone number) and details of what you bought. If you buy something
                    for someone else on our Website, we collect their delivery details and contact information. </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>d.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Facebook, Google Account links. If you link your Facebook or Google account or accounts from other
                    third party services to us, we also get information from those accounts (such as your friends or
                    contacts). Those social media sites may give us automatic access to certain personal information
                    retained by them about you. The information we get from those services depends on your settings and
                    their privacy policies, so please check what those are.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>e.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Advertisers and Partners. We also get information about you and your activity outside our Website
                    from our affiliates, advertisers, partners and other third parties we work with, or other publicly
                    available sources. Online advertisers or third parties share information with us to measure or
                    improve the performance of ads on our Website, or to figure out what kinds of ads to show you. This
                    includes information about your visits to an advertiser's site or purchases you made from them, or
                    information about your interests from a third party service, which we might use to help show you
                    ads. Learn more about the types of information advertisers or other third parties share with us.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>f.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Log data. When you use our Website, our servers record information (“log data”), including
                    information that your browser automatically sends whenever you visit a website, or that your mobile
                    app automatically sends when you're using it. This log data includes your Internet Protocol
                    address, the address of and activity on websites you visit that incorporate Kwikz.nz features (like
                    the “Save” button—more details below), searches, browser type and settings, the date and time of
                    your request, how you used Kwikz.nz, cookie data and device data. If you'd like, you can get more
                    details on the types of information we collect in our logs.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-1 col-1">
                  <span>g.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Device information. In addition to log data, we collect information about the device you're using
                    our website on, including type of device, operating system, settings, unique device identifiers and
                    crash data that helps us understand when something breaks. Whether we collect some or all of this
                    information often depends on what type of device you're using and its settings.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>h.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Cookie data. We also use “cookies” (small text files sent by your computer each time you visit our
                    website, unique to your account or your browser) or similar technologies to capture log data. When
                    we use cookies or other similar technologies, we use session cookies (that last until you close
                    your browser) or persistent cookies (that last until you or your browser delete them).</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="sec_2">
      <h4>When We disclose your Personal Information</h4>
      <div class="terms_main_content">

        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz will only disclose or transfer your personal information and data in accordance to this privacy
              statement. We may disclose personal information to the following recipients</p>
            <div class="pad_content">
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>a.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Our Company Group. We may disclose personal information to individuals and organizations that are
                    in our Company group. For instance, our employees and subsidiaries.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>b.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Authorise items and Services. Authors of any items or services made available to you, so they can
                    facilitate support and license validation, who maybe located in any of the countries our products
                    are available in.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>c.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Subcontractors and Service Providers. Subcontractors and service providers who assist us in
                    connection with the ways we use personal information (as set out above), in particular: website
                    hosting providers; technical and customer support services; recruitment agencies; security and
                    fraud prevention services; payment processing services; identification verification services; and
                    operational tooling.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>d.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Professional Advisers. Our professional advisers (lawyers, accountants, financial advisers etc.).
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>e.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Government Authorities. Regulators and government authorities in connection with our compliance
                    procedures and obligations.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>f.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Prospective buyers of our Company. A purchaser or prospective purchaser of all or part of our
                    assets or our business, and their professional advisers, in connection with the purchase.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-1 col-1">
                  <span>g.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Where such disclosure is necessary for Kwikz.nz to protect and defend its rights and property</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>h.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>In compliance with laws and regulations, without limitation compliance with a judicial proceeding,
                    court order, or legal process served on Kwikz.nz</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>h.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Improving the service of the website.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="sec_2">
      <h4>Choices you have about your info</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Access the information we hold about you. We'll usually share this with you within 30 days of you asking
              us for it.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Have your information corrected or deleted. You can update your information in your settings. If you
              have problems updating the information or if you would like us to delete it,contact us</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>3.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Object to us processing your information. You can ask us to stop using your information, including when
              we use your information to send you marketing emails. If you opt out of receiving marketing messages from
              us, we may still send you updates about your account.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>4.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>We only send you marketing material you agree to. If you disagree, you can easily unsubscribe at any
              time.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>5.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Have the information you provided to us sent to another organization, where we hold this information
              with your consent or for the performance of a contract with you, where it's technically feasible.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>6.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Opt Out process. Where we have your consent to do so (e.g. if you have subscribed to one of our email
              lists or have indicated that you are interested in receiving offers or information from us), we send you
              marketing communications by email about products and services that we feel may be of interest to you. You
              can 'opt-out' of such communications at anytime by contacting us.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>7.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Close your account at any time. When you close your account, we'll deactivate it and delete your
              account.</p>
          </div>
        </div>


      </div>
    </div>
    <div class="sec_2">
      <h4>How we keep your personal Information Secure</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>We protect your personal information using technical and administrative security measures to reduce the
              risks of loss, misuse, unauthorized access, disclosure and alteration. Some of the safeguards we use are
              firewalls and data encryption, physical access controls to our data centers, and information access
              authorization controls.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>We retain your personal information for as long as is necessary to provide the services to you and
              others, and to comply with our legal obligations. If you no longer want us to use your personal
              information or to provide you with the Kwikz.nz services, you can request that we erase your personal
              information and close your Kwikz.nz account. Please note that if you request the erasure of your personal
              information we will retain information from deleted accounts as necessary for our legitimate business
              interests, to comply with the law, prevent fraud, collect fees, resolve disputes, troubleshoot problems,
              assist with investigations, enforce the terms of service and take other actions permitted by law. The
              information we retain will be handled in accordance with this Privacy Policy.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>Subscription to Newsletters and Marketing Materials</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz may from time to time send newsletters and marketing materials to members of the website based
              on the personal information and data that they have provided to Kwikz.nz </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Members will be able to “opt out” of receiving such materials by logging into their account and making
              the unsubscribe selection. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>Links to other sites</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz may have links to other websites that are not owned by Kwikz.nz. Personal information and data
              from users may be collected by third parties on these other websites. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz is not responsible or in control of the personal information and data that may be exposed in
              these other websites. Please refer to the privacy policies of these third party websites regarding the
              controlling and processing of your personal data.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>When we need to update this policy</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>We may change this policy from time to time and if we do, we'll post any changes on this page. If the
              changes are significant, we may provide a more prominent notice or get your consent, as required by law.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>The best way to get in touch is through our support team. You can contact us at our support email. You
              can also contact our Data Protection Officer.</p>
            <div class="pad_content">
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>a.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>The Personal Data Protection Officer at the following addresses</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>b.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Name:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>c.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Email: </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>d.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Postal Address: </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>e.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Telephone Number : </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>