<div class="about_us_d">
  <div class="col-md-12 pad320">
    <ul class="ul_bread">
      <li><a href="#">Home</a></li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li class="active_page">About Kwikz</li>
    </ul>
  </div>
  <div class="inn_about_us text-left">
    <div class="row">
      <div class="col-sm-5 pad320">
        <img src="./assets/svg/about-kwikz.jpg" class="ab_bimg" width="100%">
      </div>
      <div class="col-sm-7 pad320">
        <h1>About kwikz</h1>

        <p>Kwikz is a product designed by the vision to provide a smooth car buying and selling to New Zealanders. Kwikz
          believes in creating a safe community for buying and selling cars.</p>

        <p>We want to offer the best and strive to create an easy and user-friendly experience to help you find your
          perfect car. Selling your car on Kwikz is easy just add details of your car along and upload images and the
          description. Private parties can sell their car and directly communicate with the buyer with no third-party
          involvement. Our user-friendly search systems help you to find the right match by adding the specifications
          for the car you are looking for. Our feature with Carjam ensures creating a safe environment for both parties.
        </p>

        <p>Kwikz offers their customers various benefits like zero success fee which means you have to pay fee just once
          and if the car isn’t sold within a specific time you can re-list the car until sold without any extra charges.
          Our easy filter options will make your car search more comfortable than ever.</p>

        <p>No hidden costs involved and you will be able to directly interact with your buyer/seller. We aim to create a
          safer marketplace for buying and selling cars. We strive to provide with our best service to the customer. <a
            routerLink="/signup">Sign up</a> to learn more about Kwikz.</p>
      </div>
    </div>
  </div>
</div>