.row{
	margin: 0 !important
}

a:hover{
  text-decoration: none;
}


.about_us_d{
	padding: 0px;
}

.about_us_d h1{
	font-size: 28px;
	text-transform: capitalize;
	color: #007bff;
	text-align: left;
	font-weight: 700;
	margin-bottom: 15px;
}

.about_us_d p{
	color: #4e4e4e;
    font-size: 14px;
    position: relative;
}

.ul_bread{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.ul_bread li{
	display: inline-block;
	margin-right: 5px;
	font-size: 13px;
	color:#4e4e4e;
}

.ul_bread li a{
	color: #4e4e4e
}

.ul_bread li a:hover{
	color: #0e84dd;
}



.active_page{
	color: #000 !important;
	font-weight: 700
}



@media (min-width:320px) and (max-width:359px) {


}


@media (min-width:320px) and (max-width:767px) {
   
.about_us_d {
   padding: 0px;
}

.about_us_d h1 {
   font-size: 20px;
   margin-bottom: 10px;
}

.pad320{
   padding: 0
}

.ab_bimg{
   margin-bottom: 20px;
}

.about_us_d p {
   font-size: 14px;
   margin-bottom: 10px;
}

.ul_bread{
   margin-bottom: 15px;
}

}


@media (min-width:768px) and (max-width:991px) {


}

@media (min-width:992px) and (max-width:1279px) {




}

@media (min-width:1280px) and (max-width:1365px) {



}



@media (min-width:1366px) and (max-width:1600px) {



}