<div class="inner_terms">
  <h1>Cookies Policy </h1>

  <div class="terms_main_content">
    <div class="row">
      <div class="col-md-1 col-1">
        <span>1.</span>
      </div>
      <div class="col-md-11 col-11">
        <p>Cookies are pieces of information that a Website transfers to your computer's hard disk for record-keeping
          purposes. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-1">
        <span>2.</span>
      </div>
      <div class="col-md-11 col-11">
        <p>Cookies can make the Web more useful by storing information about your preferences on a particular site. The
          use of cookies is an industry standard, and many major Websites use them to provide useful features for their
          customers. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-1">
        <span>3.</span>
      </div>
      <div class="col-md-11 col-11">
        <p>Cookies in and of themselves do not personally identify users, although they do identify a user's computer.
          Most browsers are initially set up to accept cookies. If you'd prefer, you can set yours to refuse cookies.
          However, you may not be able to take full advantage of a Web site if you do so.</p>
      </div>
    </div>



    <div class="sec_2">
      <h4>Our Use of Cookies</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Authentication. We use cookies to verify your account and determine when you're logged in so we can make
              it easier for you to access the website and show you the appropriate experience and features. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Security site and product integrity. We use Security cookies to keep your account data safe and secure.
              We use security cookies to authenticate users, prevent fraudulent use of login credentials, and protect
              user data from unauthorized parties. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>3.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Site features and services. We use cookies to enable the functionality that helps us provide our
              featured services or products. Cookies help us store preferences, from this we can gather whether you've
              seen or interacted with the website. This enables us to give customized content and experiences.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>4.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Performance. Process cookies help make the website work and deliver services that the website visitor
              expects, like navigating around web pages or accessing secure areas of the website. Without these
              cookies, the website cannot function properly.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>5.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Analytics. We use cookies to better understand how people use our services so that we can improve them.
              For example: analyze which parts of the website people found most useful and engaging, and identify
              features that could be improved. Websites often collect information about how users interact with a
              website. </p>
            <div class="pad_content">
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>a.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>This may include the pages users visit most often and whether users get error messages from
                    certain pages. We use these so-called 'session state cookies' to help us improve our services, in
                    order to improve our users' browsing experience. </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>b.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Blocking or deleting these cookies will not render the website unusable. These cookies allow our
                    websites to remember information that changes the way the site behaves or looks, such as your
                    preferred language or the region you are in. For instance, by remembering your region, a website
                    may be able to provide you with local weather reports or traffic news. These cookies can also
                    assist you in changing text size, font, and other parts of web pages that you can personalize. Loss
                    of the information stored in a preference cookie may make the website experience less functional
                    but should not prevent it from working.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>6.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Advertising, recommendations, insights and measurement . We use cookies to make advertising more
              valuable and engaging for users, publishers and advertisers. Some common applications of cookies are to
              select advertising based on what's relevant to a user; to improve reporting on campaign performance; and
              to avoid showing ads the user has already seen.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>How to Control Cookies </h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Browser cookie controls In addition, your browser or device may offer settings that allow you to choose
              whether browser cookies are set and to delete them. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>For more information about these controls, visit your browser or device help material</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>