<div class="footer_section">
    <div class="container">
        <div class="inner_footer">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <a [routerLink]="['/']"><img src="./assets/images/content/footer_logo.png" alt="footer_logo" class="footer_logo_sm"></a>
                    <p class="copyright_ft">Copyright &copy;-2019 Kwikz. All rights reserved.</p>
                </div>
                <div class="col-lg-2 col-md-3">
                    <ul class="ul_first">
                        <li><a [routerLink]="['/used-cars-search']">Search</a></li>
                        <li><a [routerLink]="['/sell-used-car']">Sell Your Car</a></li>
                        <li><a [routerLink]="['/help-center']">Help</a></li>
                        <li><a [routerLink]="['/blogs']">Blogs</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4">
                    <ul class="ul_first">
                        <li><a [routerLink]="['/about']">About Us</a></li>
                        <li><a [routerLink]="['/terms']">Terms Of Service</a></li>
                        <li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
                        <li><a [routerLink]="['/cookie']">Cookie Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class='demopadding'>
                        <a href="https://www.facebook.com/KwikzNZ/" target="_blank">
                            <div class='icon social fb'><i class='fa fa-facebook'></i></div>
                        </a>
                        <a href="https://twitter.com/KwikzNZ" target="_blank">
                            <div class='icon social tw'><i class='fa fa-twitter'></i></div>
                        </a>
                        <a href="https://www.youtube.com/channel/UCFztQ2gH0QbTOlWzoJ4ikYA" target="_blank">
                            <div class='icon social in'><i class="fa fa-youtube-play"></i></div>
                        </a>
                        <a href="https://plus.google.com/b/108341173692955508480/108341173692955508480" target="_blank">
                            <div class='icon social in'><i class="fa fa-google-plus"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>