<div *ngIf="dataLoaded" class="container">
    <div class="blogs">
        <div class="row shortblog">
            <div class="col-md-9 col-sm-9 md9">
                <h1><a>{{PostData.Title}}</a> </h1>
                <div class="row shortblog">
                    <div class="col-md-1 col-sm-1 col-2 pad_0">
                        <div class="post_list_meta_unit">
                            <div class="date-d">{{ PostData.createdAt | date:'dd' }}</div>
                            <div class="date-m">{{ PostData.createdAt | date:'MMM' }}</div>
                            <div class="post_list_comment_num"></div>
                        </div>
                    </div>
                    <div class="col-md-11 col-sm-11 col-10 md11">
                        <div class="bigimg">
                            <img src={{PostData?.Images[0]?.url}} width="100%">
                        </div>
                        <div>
                            <!-- <pre style="white-space: pre-line;"> -->
                            <markdown ngPreserveWhitespaces>
                                {{PostData.Description}}
                            </markdown>
                            <!-- </pre> -->
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 pt">
                                <p id="posted">Posted in : <a>{{PostData?.category?.CategoryName}}</a></p>
                                <!-- <p id="tags">Tags : <a href="">School</a></p> -->
                            </div>
                            <div class="col-md-6 col-sm-6 sns  text-right">
                                <p id="bgshare">Share on :</p>
                                <ul class="blogshare">
                                    <li>
                                        <a (click)=shareOnFb() class='pointer'>
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)=shareOnTweet() class='pointer'>
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <!-- <li><a><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
                <hr style="border-top: 1px solid #cfcfcf;">

                <div class="row text-center">
                    <a class="backblog" [routerLink]="['/blogs']"><i class="fa fa-long-arrow-left"
                            aria-hidden="true"></i> back to
                        blogs</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 padright">
                <app-recentposts></app-recentposts>
            </div>
        </div>
    </div>
</div>