.row {
    margin: 0 !important
}

a:hover {
    text-decoration: none;
}

.pad_0 {
    padding: 0
}

.blogs {
    padding: 80px 0px 80px 0px;
}

.shortblog h1>a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.3s;
    letter-spacing: 0.5px;
    font-size: 28px;
}

.shortblog h1 {
    margin-bottom: 30px;
}

.shortblog h1>a:hover {
    color: #0070bb;
    transition: 0.3s;
}

.md11 p {
    font-size: 14px;
    color: #666;
}

#posted {
    font-size: 14px;
    color: gray;
}

#tags {
    font-size: 14px;
    color: gray;
}

.pt {
    padding-left: 0px;
}

.sns {
    padding-right: 0px;
}

.blogshare {
    padding: 0px;
    margin: 0px;
    text-align: right;
    display: inline-block;
}

.blogshare li {
    display: inline-block;
    margin-right: 20px;
}

.blogshare li:last-child {
    margin-right: 0px;
}

.blogshare li>a {
    color: white;
    text-decoration: none;
}

#bgshare {
    display: inline-block;
    margin-right: 25px;
    font-size: 15px;
    color: gray;
    margin-bottom: 0;
}

.vmbtn {
    background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    margin-top: 10px;
    padding: 10px 24px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    z-index: 30;
    margin-bottom: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.vmbtn::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(0deg, #008ae7, #0070bb);
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: -1;
}

.vmbtn:hover::before {
    transform: translateX(0px);
    transition: 0.5s;
}

.md9 {
    border-right: 1px solid lightgray;
}

.sidebar {
    padding: 40px 0px;
}

.rpost {
    padding: 20px 0px;
    position: relative;
}

.rpost:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
    height: 4px;
    width: 75px;
}

.rpost h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 15px;
}

.smdes {
    font-size: 11px;
}

.rightdesc a:hover {
    color: #0070bb;
    text-decoration: none;
}

.rightdesc {
    margin-bottom: 5px;
}

.smdes {
    padding-right: 0;
}

.smdes a {
    color: #000;
    font-size: 12px;
}

.bgtags {
    padding: 20px 0px;
    position: relative;
}

.bgtags:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
    height: 4px;
    width: 75px;
}

.bgtags h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
}

.righttags li {
    display: inline-block;
    margin-right: 5px;
}

button:focus,
button:active {
    outline: none;
}

.righttags li a {
    color: #000;
    background-color: #d8d8d8;
    font-size: 13px;
    padding: 5px 12px;
    margin: 6px 5px;
    display: inline-block;
    border-radius: 50px;
}

.righttags li a:hover {
    color: white;
    background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
    text-decoration: none;
}

.post_list_meta_unit {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 5px 3px;
    vertical-align: top;
    max-width: 100%;
    border: 2px solid #0070bb;
    text-align: center;
}

.post_list_meta_unit .date-d {
    padding: 0 5px;
    font-weight: 900;
    line-height: 30px;
    font-size: 24px;
    color: #0070bb;
}

.post_list_meta_unit .date-m {
    padding: 0 5px;
    font-size: 11px;
    text-transform: uppercase;
    color: #0070bb;
}

.blogshare i {
    color: #0070bb;
}

.bigimg {
    margin-bottom: 15px;
}

.righttags {
    padding: 0;
}

.pagination {
    padding-left: 0;
    margin: 15px auto;
    border-radius: 4px;
}

.pagination>li>a,
.pagination>li>span {
    border-radius: 50% !important;
    margin: 0 5px;
}

.pagination>li>a {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #222222;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
    border-color: #2c54cd;
    color: #fff;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #fff;
    background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
    border-color: #2c54cd;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 13px;
    background-color: #ececec;
}

.pagination>li {
    display: inline;
}


/* --------------------blog detail css start------------------- */

.backblog {
    background-color: #5db040;
    color: white;
    padding: 8px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
    border-radius: 50px;
    margin: 0px auto;
    margin-top: 20px;
    font-weight: 600
}

.backblog:hover {
    background: -webkit-linear-gradient(0deg, #008ae7, #0070bb);
    color: #fff;
}


/* --------------end here------------------ */

@media (min-width:320px) and (max-width:359px) {}

@media (min-width:320px) and (max-width:767px) {
    .shortblog h1>a {
        font-size: 19px;
    }
    .shortblog h1 {
        line-height: 22px;
    }
    .md9 {
        padding: 0;
        border: 0;
    }
    .md11 {
        padding-right: 0
    }
    .sns {
        padding-right: 0px;
        text-align: left !important;
        padding: 0;
        margin-bottom: 15px;
    }
    .md11 p {
        margin-bottom: 0;
    }
    #posted {
        font-size: 13px;
        margin-bottom: 5px;
    }
    #tags {
        font-size: 13px;
        margin-bottom: 5px;
    }
    #bgshare {
        margin-right: 10px;
        font-size: 13px;
    }
    .sidebar {
        padding: 0px 0px;
    }
    .blogs .padright {
        padding: 0
    }
    .righttags li {
        margin-right: 0px;
    }
    .blogs {
        padding: 45px 0px 45px 0px;
    }
    .rpost h4 {
        font-size: 18px;
    }
    .backblog {
        margin-bottom: 30px;
    }
    .pagination {
        margin-bottom: 40px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .blogs {
        padding: 45px 0px 45px 0px;
    }
    .md9 {
        padding: 0;
        border: 0;
    }
    #bgshare {
        margin-right: 20px;
    }
    .md11 {
        padding-right: 0
    }
    .smdes a {
        color: #000;
        font-size: 14px;
    }
}

@media (min-width:992px) and (max-width:1279px) {}

@media (min-width:1280px) and (max-width:1365px) {}

@media (min-width:1366px) and (max-width:1600px) {}