<div class="blogs">
    <div class="row shortblog">
        <div class="col-lg-9 col-md-12 col-sm-12 md9">
            <span *ngFor="let item of blogData">
        <h1><a [routerLink]="{key:item.Title,id:item.id} | slugify">{{item.Title}}</a> </h1>
        <div class="row shortblog">
          <div class="col-md-1 col-sm-1 col-2 pad_0">
            <div class="post_list_meta_unit">
              <div class="date-d"> {{ item.createdAt | date:'dd' }} </div>
              <div class="date-m"> {{ item.createdAt | date:'MMM' }} </div>
              <div class="post_list_comment_num"></div>
            </div>
          </div>
          <div class="col-md-11 col-sm-11 col-10 md11">
            <div class="bigimg">
              <img src={{item?.Images[0]?.url}} width="100%">
            </div>

            <markdown ngPreserveWhitespaces>
              {{item.Description | slice:0:200 }}{{item.Description.length > 200 ? '...' : ''}}
            </markdown>
            <br>
            <div class="row">
              <div class="col-md-6 col-sm-6 pt">
                <p id="posted">Posted in : <a>{{item?.category?.CategoryName}}</a></p>
                <!-- <p id="tags">Tags : <a href="">School</a></p> -->
              </div>
              <div class="col-md-6 col-sm-6 sns  text-right">
                <p id="bgshare">Share on :</p>
                <ul class="blogshare">
                  <li>
                    <a (click)=shareOnFb(item.id,item.Title) class='pointer'>
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a (click)=shareOnTweet(item.id,item.Title) class='pointer'>
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <!-- <li><a><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                </ul>
              </div>
            </div>
            <a [routerLink]="{key:item.Title,id:item.id} | slugify"><button class="vmbtn">view more</button></a>

          </div>
        </div>
        <hr style="border-top: 1px solid #cfcfcf;">
      </span>
            <div *ngIf="paginatedData" class='mb-2 mt-2'>
                <div class="paginationx">
                    <a (click)="loadNextPagePosts(1)">«</a>
                    <a *ngFor="let i of noOfPages" (click)="loadNextPagePosts(i)" [ngClass]="{'selected':(i==currentPage)}">{{i}}</a>
                    <a (click)="loadNextPagePosts(lastPage)">»</a>
                </div>
                <!-- <button *ngIf="paginatedData && (lastPage >= nextUrl)" class="load-btn" (click)="loadMorePosts()">Load
                  More</button> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 padright">
            <app-recentposts></app-recentposts>
        </div>
    </div>
</div>