<div class="sidebar">
    <div class="rpost">
        <h4>Recent posts</h4>
        <span *ngFor="let item of recentPostData">
            <div class="row">
                <div class="col-md-3 col-3 pad_0">
                    <img src={{item?.Images[0]?.url}} width="100%">
                </div>
                <div class="col-md-9 col-9 smdes">
                    <p class="rightdesc"><a [routerLink]="{key:item.Title,id:item.id} | slugify">{{item.Title}}</a></p>
                    <a>{{item?.category?.CategoryName}}</a>
                </div>
            </div>
            <hr>
        </span>
    </div>
    <br>
    <div class="bgtags">
        <h4>Categories</h4>
        <ul class="righttags">
            <li *ngFor="let item of categoryData">
                <a [routerLink]="{key:item, type:'category'} | slugify">{{item}}</a>
            </li>
        </ul>
    </div>
</div>