
  .row{
    margin: 0 !important
  }
  
  a:hover{
    text-decoration: none;
  }
  
  .seller_profile_div{
    padding: 70px 0px;
  }
  
  .inner_agt_profile {
      background-color: #fff;
  }
  .agent_dp_ {
    background-color: #e2e2e2;
    height: auto;
    padding: 50px 80px;
        width: 100%;
  }
  
  
  .inner_profile_part1 {
       height: 165px;
      width: 165px;
      background-color: #e2e2e2;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #0070dd;
      margin: 0px auto;
      margin-bottom: 20px;
  }
  
  
  .inner_profile_part1 .ag_pic {
    width: 100%;
  }
  
  .dprigts h1 {
      font-weight: 700;
      font-size: 20px;
      text-transform: capitalize;
      margin-bottom: 2px;
      color: #000;
  }
  .l_tion {
      margin-top: 10px;
      font-size: 13px;
  }
  .agt_info {
      padding: 0px 0px;
      margin-top: 12px;
  }
  .agt_info li {
      margin-bottom: 10px;
  }
  
  ul {
      list-style: outside none none;
      margin: 0;
      padding: 0;
  }
  
  .agt_info p {
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
  }
  
  .l_tion img {
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }
  .agt_info li img {
    width: 28px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .extra_icon{
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background: -webkit-linear-gradient(0deg,#0070bb 0,#008ae7 100%);
    color: #fff;
    margin-right: 12px;
    vertical-align: middle;
  }
  
  .extra_icon i{
      font-size: 17px;
      line-height: 31px;
  }
  
  .rate_seller li{
    display: inline-block;
    margin-right: 0px;
  }
  .rate_seller li i{
    color: #c5c5c5;
  }
  .gold{
    color: #fca300!important;
  }
  .mem_since{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 700;
    color: #0077c7;
    margin-bottom: 2px;
  }
  .act_date
  {
    font-size: 13px;
    text-transform: capitalize;
    color: #000;
  }
  .under_profile_div{
    padding: 30px 30px;
    background-color: #fff;
    width: 100%;
  }
  #tabs .nav-tabs .nav-link {
    padding: 15px 25px;
    font-size: 16px;
    text-transform: capitalize;
    display: inline-block;
    color: #bbb;
    font-weight: 700;
    border: 1px solid transparent;
  }   
  #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    font-weight: 700;
    color: #000 !important;
    border: 1px solid #eee;
    border-top: 3px solid #0079ca !important;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
    border-radius: 0 !important;
    border:0;
  }
  
  #nav-tab{
    display: block;
    border:0;
  }
  .tab-content {
    border-top: 0;
    background-color: #f9f9f9;
  }
  
  .in_tab_content{
    padding: 20px 15px;
  }
  
  .in_tab_content1 {
      padding: 20px 0px;
  }
  
  a:focus,a:active{
    border:0 !important;
    outline: 0 !important
  }
  
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border:1px solid transparent;
  }
  
  .in_tab_content h5{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c7acb;
  }
  
  .in_tab_content p{
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 5px;
    color: #363636;
  }
  
  .padl_0{
    padding-left: 0
  }
  
  .padr_0{
    padding-right: 0
  }
  
  .in_tab_content label {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c7acb;
  }
  
  .in_tab_content h4{
    font-size: 13px;
    color: #363636;
  }
  
  .mbottom15{
    margin-top: 20px;
  }
  
  .panel_box1{
    border: 1px solid #eeeeee;
  }
  
  .all_mix_cat{
    padding: 70px 0px;
  }
  
  .panel_box1:hover .img_tran {
    transition: 1.5;
    transform: scale(1.2);
  }
  
  .img_tran {
    transition: 0.5s all;
  }
  
  .img_d_box{
    height: 155px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16);
    background-color: #c8c8c8;
  }
  
  .ext_info {
    padding: 15px 15px 15px 15px;
    background: #fff;
  }
  
  .cat_p{
      margin-bottom: 3px !important;
      font-size: 13px !important;
      color: #82878a !important;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
  }
  
  .cat_p i{
    color: #1879fd;
    width: 16px;
    text-align: center;
  }
  
  .cat_p a{
    font-size: 13px;
    color: #000
  }
  
  .nm_car{
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: 700;
    line-height: 20px;
  }
  
  .box_price{
    position: absolute;
    bottom: 0;
    right: 0;
    background: -webkit-linear-gradient(0deg,#0070bb,#008ae7);
    color: #fff;
    padding: 6px 15px;
    font-weight: 700;
    font-size: 14px;
  }
  
  .box_like{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #8e979b;
    cursor: pointer;
  }
  
  .box_like:hover{
    color: red
  }
  
  .main_fe_box{
    list-style: none;
    padding: 0;
    margin-bottom: 6px;
    margin-top: 6px;
  }
  
  .main_fe_box li{
    display: inline-block;
    font-size: 13px;
    margin-bottom: 12px;
    color: #5a5959;
    line-height: 10px;
    margin-right: 15px;
  }
  
  .main_fe_box img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .main_fe_box span{
    vertical-align: middle;
  }
  
  .vdbox{
    font-size: 14px;
    padding: 7px 20px;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #3d83e0;
    border-radius: 20px;
    background: -webkit-linear-gradient(0deg,#0070bb,#008ae7);
    border: 0;
    display: inline-block;
  }
  
  .vdbox:hover{
    background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
    color: #fff
  }
  
  .lg12{
    padding: 0
  }
  
  .toggle_switch{
    padding: 0px 15px;
  }
  
  .toggle_span{
    background-color: #ddd;
    padding: 6px 10px;
    display: inline-block;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .toggle-span_active{
    background: -webkit-linear-gradient(0deg,#0070bb,#008ae7);
    color: #fff
  }
  
  .list_view{
    display: none;
  }
  
  .grid_view .col-lg-3{
    padding-bottom: 15px;
  }
  .list_view_pad{
    padding: 15px 15px;
  }

  @media (min-width:320px) and (max-width:359px) {


}


@media (min-width:320px) and (max-width:767px) {

.seller_profile_div {
    padding: 40px 0px;
}

.agent_dp_ {
  padding: 30px 10px;
}

.dprigts{
  margin-top: 20px;
}
.under_profile_div {
    padding: 25px 15px;
    
}
#tabs .nav-tabs .nav-link {
    padding: 10px 20px;
    font-size: 15px;
   
}
.toggle_switch{
  display: none;
}
.img_d_box {
    height: 190px;
}
.extra_icon {
  width: 28px;
    height: 28px;
    margin-right: 8px;
    
}
.extra_icon i {
    font-size: 13px;
    line-height: 29px;
}
.pad320{
  padding: 0
}
.mbottom15 {
    margin-top: 0px;
}
.list_view{
  display: none;
}
}


@media (min-width:768px) and (max-width:991px) {

.agent_dp_ {
   padding: 50px 30px;
 }
 .img_d_box {
    height: 130px;
   
}
}

@media (min-width:992px) and (max-width:1279px) {
.img_d_box {
    height: 139px;
    
}

 }

@media (min-width:1280px) and (max-width:1365px) {


}



@media (min-width:1366px) and (max-width:1600px) {



 }
 .r_mb {
  margin-bottom: 25px !important;
}

.r_user {
  padding: 0px 12px 0 0;
}
.wrap_feed_img {
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px auto;
  background-color: #ddd;
  border: 2px solid #0070dd;
  margin-bottom: 10px;
}

.inner_viet_review p a {
  color: #1e174b;
  font-size: 13px;
}
.r_user h6 {
  font-size: 12px;
  color: #7d7d7d;
  margin-bottom: 0;
}

.r_user p{
  margin-bottom: 0;
  color: #0070bb;
  font-weight: 700;
  font-size: 13px;
  text-transform: capitalize;
}

.r_bd h4{
font-size: 20px;
font-weight: 700;
margin-bottom: 5px;
}

.pub_date{
  color: #ababab;
  font-size: 13px;
}

.rate_seller{
  display: inline-block;
  margin-right: 30px;
}

.auto_hght{
margin-top: 4px;
}

.r_bd {
  border: 1px solid #efefef;
  padding: 15px 20px 15px 20px;
  position: relative;
  background-color: #fff;
}

.r_bd:before {
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-top: 24px solid #efefef;
  left: -24px;
  top: 30px;
  position: absolute;
  content: '';
}
.r_bd:after {
  content: '';
  margin-top: -12px;
  margin-left: -21px;
  width: 0;
  height: 0;
  border-left: 23px solid transparent;
  border-top: 23px solid #fff;
  position: absolute;
  left: 0px;
  top: 43px;
}

.auto_hght p{
color: #444
}