<div class="seller_profile_div">
  <section class="agent_profile">
    <div class="container">
      <div class="inner_agt_profile">
        <div class="row" *ngIf="dealer">

          <div class="agent_dp_">
            <div class="row">
              <div class="col-lg-3 col-sm-4 text-center">
                <div class="inner_profile_part1 text-center">
                  <img [src]="dealer.company_logo" class="ag_pic" alt="dummy">
                </div>
                <!-- <h5 class="mem_since">Member Since:</h5>
                <h6 class="act_date">June-2016</h6> -->
              </div>
              <div class="col-lg-9 col-sm-8">
                <div class="dprigts">
                  <h1>{{dealer.name}}</h1>
                  <ul class="rate_seller">
                    <li><i class="fa fa-star gold" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star gold" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star gold" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star gold" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  </ul>

                  <div class="agt_info">
                    <ul>
                      <li>
                        <p><span class="extra_icon"><i class="fa fa-map-marker"
                              aria-hidden="true"></i></span>{{dealer.address}}</p>
                      </li>
                      <li>
                        <p><span class="extra_icon"><i class="fa fa-envelope"
                              aria-hidden="true"></i></span>{{dealer.primary_email}}</p>
                      </li>
                      <li>
                        <p><span class="extra_icon"><i class="fa fa-phone"
                              aria-hidden="true"></i></span>{{dealer.primary_mobile}}</p>
                      </li>
                      <li>
                        <p><span class="extra_icon"><i class="fa fa-globe" aria-hidden="true"></i></span><a href="#"
                            target="_black">{{dealer.website}}</a></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="under_profile_div">
            <section id="tabs">
              <div class="row">
                <div class="col-lg-12 lg12">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                        role="tab" aria-controls="nav-home" aria-selected="true">profile</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Listings</a>
                      <!-- <a class="nav-item nav-link" id="nav-feedback-tab" data-toggle="tab" href="#nav-feedback"
                        role="tab" aria-controls="nav-feedback" aria-selected="false">Feedback</a> -->
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="in_tab_content">
                        <h5>Seller's info :</h5>
                        <p>{{dealer.about_us}}</p>
                        <!-- <div class="mbottom15">
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 padl_0 pad320">
                              <label>NZBN :</label>
                              <h4>{{dealer.nzbn}}</h4>
                            </div>
                            <div class="col-lg-6 col-md-6  col-sm-6 padr_0 pad320">
                              <label>GST Number :</label>
                              <h4>{{dealer.gstin}}</h4>
                            </div>
                          </div>
                        </div>
                        <div class="mbottom15">
                          <label>Motor Vehicle Trader Number :</label>
                          <h4>{{dealer.moter_vahicle_trader_number}}</h4>
                        </div> -->
                      </div>

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <div class="in_tab_content1">
                        <!-- <div class="toggle_switch text-right">
                          <span class="toggle_span toggle-span_active" id="grid_toggle" title="Grid view"><i
                              class="fa fa-th-large" aria-hidden="true"></i></span>
                          <span class="toggle_span" id="list_toggle" title="List view"><i class="fa fa-list"
                              aria-hidden="true"></i></span>
                        </div> -->
                        <div class="grid_view" *ngIf="post">
                          <div class="row">
                            <div class="col-lg-3 col-sm-4" *ngFor="let list of post">
                              <a [routerLink]="list | posturl">
                                <div class="panel_box1">
                                  <div class="img_d_box">
                                    <img *ngIf="list.thumbnail" [src]="list.thumbnail" width="100%" class="img_tran">
                                    <img *ngIf="!list.thumbnail" [src]="carNoImage" width="100%" class="img_tran">
                                    <span class="box_price">${{list.amount}}</span>
                                    <!-- <i class="fa fa-heart box_like" aria-hidden="true"></i> -->
                                  </div>
                                  <div class="ext_info">
                                    <p class="cat_p">{{list.body_style}}</p>
                                    <h3 class="nm_car">{{list.title}}</h3>
                                    <p class="cat_p"><i class="fa fa-map-marker"
                                        aria-hidden="true"></i>{{list.location}}</p>
                                    <p class="cat_p"><i class="fa fa-calendar-check-o"
                                        aria-hidden="true"></i>{{list.post_start_time | date: 'dd-MM-yyyy'}}</p>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="list_view">
                          <div class="list_view_pad">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-feedback" role="tabpanel" aria-labelledby="nav-feedback-tab">
                      <div class="in_tab_content2">
                        <div class="feedback_sec_div">
                          <div class="row r_mb">
                            <div class="col-lg-2 col-sm-3 r_user pad320 text-center">
                              <div class="wrap_feed_img">
                                <img src="img/dummy.png" alt="user1" class="r_img" width="100%">
                              </div>
                              <p>Aleksei Javison</p>
                              <h6>Henderson, Auckland, New Zealand</h6>
                            </div>
                            <div class="col-lg-10 col-sm-9 r_bd">
                              <h4>MAZDA MPV 2008</h4>
                              <div class="r_link">
                                <ul class="rate_seller">
                                  <li><i class="fa fa-star gold" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star gold" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star gold" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star gold" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                                <span class="pub_date">25 days ago</span>
                              </div>
                              <div class="auto_hght">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci molestias impedit
                                  reiciendis dicta illum magnam, ullam, iure id ducimus, pariatur veritatis excepturi
                                  vel non accusantium nobis sunt laudantium sapiente voluptates?Lorem ipsum dolor sit
                                  amet, consectetur adipisicing elit. Adipisci molestias impedit reiciendis dicta illum
                                  magnam, ullam, iure id ducimus, pariatur veritatis excepturi vel non accusantium nobis
                                  sunt laudantium sapiente voluptates?</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>