<div class="dealer_module" *ngIf="dealerData">
  <div class="container">
    <div class="dealer_info_div">
      <div class="row">
        <div class="col-8 dpadl text-left">
          <h4 class="dealer_info">Dealer info</h4>
        </div>
        <div class="col-4 dpadr text-right">
          <a routerLink="../../dealer/edit/{{dealerData.id}}" class="edit_"><i class="fa fa-pencil"
              aria-hidden="true"></i> Edit</a>
        </div>
      </div>

      <h5>Business details:</h5>
      <div class="d_frm">
        <label>Business name</label>
        <h6>{{dealerData.name}}</h6>
      </div>
      <div class="d_frm">
        <label>About Us</label>
        <h6>{{dealerData.about_us}}</h6>
      </div>

      <h5>Contact Details:</h5>
      <div class="d_frm">
        <label>Opening Hour</label>
        <h6>{{dealerData.open_close_time}}</h6>
      </div>
      <div class="row">
        <div class="col-md-6 dpadl pad320">
          <div class="d_frm">
            <label>Contact number</label>
            <h6>{{dealerData.primary_mobile}}</h6>
          </div>
        </div>
        <div class="col-md-6 dpadr pad320">
          <div class="d_frm">
            <label>Email id</label>
            <h6>{{dealerData.primary_email}}</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 dpadl pad320">
          <div class="d_frm">
            <label>Freephone</label>
            <h6>{{dealerData.secondary_mobile}}</h6>
          </div>
        </div>
        <div class="col-md-6 dpadr pad320">
          <div class="d_frm">
            <label>Website</label>
            <h6>{{dealerData.website}}</h6>
          </div>
        </div>
      </div>
      <div class="d_frm">
        <label>Address</label>
        <h6>{{dealerData.address}}</h6>
      </div>

      <!-- <h5>Uploaded Documents:</h5> -->
      <div class="row">
        <!-- <div class="col-md-6 dpadl pad320">
          <div class="d_frm">
            <label>Upload Driver Licence</label>
            <div class="up_img_load">
              <img [src]="userData.licence" width="100%">
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>


<loader *ngIf="loader"></loader>