.row {
  margin: 0 !important;
}

a:hover {
  text-decoration: none;
}

.dealer_info_div {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px 40px;
  width: 70%;
  margin: 0px auto;
}

.dealer_info_div h4 {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #0088e3;
  font-weight: 700;
  margin-bottom: 15px;
}

.dealer_info_div p {
  text-align: center;
  font-size: 13px;
  color: gray;
  margin-bottom: 25px;
}

.d_frm label {
  font-size: 13px;
  color: #4e4e4e;
  font-weight: 500;
  text-transform: capitalize;
}

.d_frm h6 {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
}

.up_img_load {
  width: 100%;
  height: 200px;
  background-color: #eee;
  overflow: hidden;
}

.d_frm {
  margin-bottom: 20px;
}

.dpadl {
  padding-left: 0;
}

.dpadr {
  padding-right: 0;
}

.dealer_info {
  text-align: left !important;
}

.branch-details h5 {
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
}

.branch-details {
  margin-top: 20px;
}

.branch_div {
  border: 1px solid #dcdcdc;
  padding: 20px;
  margin-top: 15px;
  position: relative;
}

.add_more_b {
  color: #fff;
  font-weight: 700;
  font-size: 13px;

  display: inline-block;
  border-radius: 60px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 0;
  margin-bottom: 10px;
  background-image: -webkit-linear-gradient(0deg, #0070bb 0, #0042ff 100%);
  transition: 0.4s ease all;
  margin-top: 15px;
  padding: 10px 0px;
  width: 180px;
}

.add_more_b i {
  font-size: 18px;
  vertical-align: bottom;
}

button:focus {
  outline: none;
}

.error_msg {
  color: red !important;
  text-align: left !important;
  margin-bottom: 0 !important;
  margin-top: 3px;
  text-transform: capitalize;
}

.edit_ {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background-image: -webkit-linear-gradient(bottom, rgb(0, 112, 187) 0px, rgb(0, 66, 255) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0, 112, 187) 0px, rgb(0, 66, 255) 100%);
  background-image: linear-gradient(to top, rgb(0, 112, 187) 0px, rgb(0, 66, 255) 100%);
  border-radius: 50px;
  transition: all 0.4s ease 0s;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 3px 9px;
}

.edit_:hover {
  color: rgb(255, 255, 255);
  transition: all 0.5s ease 0s;
  background: -webkit-linear-gradient(0deg, rgb(0, 138, 231) 100%, rgb(0, 112, 187) 0px);
}

@media (min-width: 320px) and (max-width: 359px) {
}

@media (min-width: 320px) and (max-width: 767px) {
  .dealer_info_div {
    width: 100%;
    padding: 30px 15px;
  }

  .dealer_info_div h4 {
    font-size: 20px;
  }
  .pad320 {
    padding: 0;
  }
  .d_frm {
    margin-bottom: 15px;
  }

  .branch-details h5 {
    font-size: 18px;
  }

  .branch_div {
    padding: 20px 15px;
  }

  .d_submit {
    font-size: 14px;
    padding: 10px 12px;
  }

  .success_message {
    width: 100%;
    padding: 30px 15px;
  }

  .success_message h5 {
    font-size: 24px;
  }

  .tickpng {
    width: 50px;
  }
  .success_message p {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dealer_info_div {
    width: 100%;
  }
  .success_message {
    width: 90%;
  }
  .success_message h5 {
    font-size: 36px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .dealer_info_div {
    width: 90%;
  }
  .success_message {
    width: 80%;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
}

@media (min-width: 1366px) and (max-width: 1600px) {
}
