mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;

  input, button {
    font-size: 1.2rem;
  }

  button {
    padding: 5px 15px;
  }
  
  mat-card-title {
    font-size: 1.8rem;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
}

.link {
  text-decoration: none;
  color: #000;
}

.container {
  margin: 10px;
  padding: 0;
}

ul,
ol {
	margin: 0;
	list-style: none;
}

.clear {
	clear: both;
}

.promotional-block li {
	margin-bottom: 30px;
}

.promotional-block {
	box-sizing: border-box;
	text-align: center;
}

.promotion-heading {
	font-size: 48px;
	color: #4e4e4e;
	margin-bottom: 40px;
}

.imghold {
	float: left;
	width: 82px;
	margin-right: 22px;
}

.promo-content {
	text-align: left;
	padding-top: 20px;
}

.promotion-subhead {
	font-size: 18px;
	color: #4e4e4e;
}

.promo-details {
	font-size: 16px;
	color: #7a7a7a;
}

.signup {
	width: 380px;
	background: #fff;
	padding-top: 0px;
	-webkit-box-shadow: 10px 10px 20px rgba(36, 39, 44, .1);
	box-shadow: 10px 10px 20px rgba(36, 39, 44, .1);
	overflow: auto;
	border-radius: 6px;
}
.inner-signup-box{
	height: auto;
	margin: 0px auto;
	margin-top: 20px;
	position: relative;
}
.input--box {
	padding: 10px 18px;
	width: 100%;
	border: 1px solid #ebebeb;
	border-radius: 0;
}

.signup-btn {
	background-color: #367DFF;
	color: #fff;
	font-weight: 500;
	border: 0;
	width: 100%;
	padding: 20px 0;
	border-radius: 0;
	height: auto;
	transition: border 1s ease-out;
	-webkit-transition: border 1s ease-out;
	-moz-transition: border 1s ease-out;
	-o-transition: border 1s ease-out;
}

.signup-btn:hover {
	color: #ffffff;
	background: #0755ff;
	box-shadow: none;
}

.main-footer {
	text-align: center;
	padding: 5px 0;
	margin-top: 40px;
}

.register--link h5 {
	color: #bbb;
	font-size: 12px;
}

.register--link h5 a {
	color: #f75a4d;
	font-weight: 500;
	font-size: 13px;
	text-decoration: none;
	margin-left: 10px;
}

.regSuccessMessage,
.regFailureMessage {
	font-size: 18px;
	text-align: center;
}

.regSuccessMessage {
	color: green
}

.regFailureMessage {
	color: red;
}

.regSuccessMessage .fa-check-circle {
	color: green;
}

.regFailureMessage .fa-times-circle {
	color: red;
}

.input-group {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
}

.input-group-prepend {
	margin-right: -2px;
}

.input-group-prepend {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.input-group-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 6px 12px;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	border: 2px solid #dde2ec;
	border-radius: 4px;
}

.input-group>.form-control {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0;
}

.input-group>.form-control:not(:first-child),
.input-group>.custom-select:not(:first-child) {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.input-group>.input-group-prepend>.input-group-img {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.signup .auth-header {
	color: #3D83E0;
	font-size: 26px;
	padding: 30px 30px 50px 30px;
	position: relative;
	z-index: 1;
	margin: 0;
}


/* The switch - the box around the slider */

.switch input {
	display: none;
}

.switch {
	display: inline-block;
	width: 32px;
	height: 16px;
	transform: translateY(50%);
	position: relative;
	margin-right: 4px;
}

.switch-text {
	color: #bbb;
	font-weight: 400;
	font-size: 13px;
}

.slider {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 15px;
	background: #dde2ec;
	cursor: pointer;
	border: 2px solid transparent;
	overflow: hidden;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #ffffff;
	border-radius: 15px;
	transform: translateX(-16px);
	transition: .4s;
}

input:checked+.slider:before {
	transform: translateX(16px);
	background: #367DFF;
}

.form-pad {
	padding: 0 30px;
}

.t-and-c {
	color: #3D83E0;
	font-size: 13px;
	margin-top: 8px;
}


/* Abhi css */

.row {
	margin: 0 !important
}

.pad_l {
	padding-left: 0;
}

.pad_r {
	padding-right: 0
}

.pad_0 {
	padding: 0;
}

.inner_login_box {
	width: 43%;
	height: auto;
	background-color: #fff;
	border-radius: 5px;
	margin: 0px auto;
	margin-top: 70px;
	padding: 50px 50px;
}

.inner_login_box h1 {
	font-size: 24px;
	// font-family: 'Open Sans', sans-serif;
	
	text-transform: uppercase;
	color: #5a5a5a;
	text-align: center;
}

.main_frm {
	margin-top: 35px;
}

.frm_wrap label {
	margin-bottom: 0;
	font-size: 13px;
	color: #0b76c7;
	
}

.frm_wrap label img {
	margin-right: 10px;
	vertical-align: top;
}

.frm_wrap {
	margin-bottom: 20px;
	position: relative;
}

.frm_wrap .form-control {
	border: 0;
	border-bottom: 2px solid rgba(127, 161, 188, 0.68);
	border-radius: 0;
	padding: 15px 30px 9px 0px;
	color: #606060;
	outline: none;
	font-size: 13px;
	
}

.form-control:focus {
	outline: none;
	box-shadow: none;
}

.frm_wrap .toggle-password {
	position: absolute;
	bottom: 6px;
	right: 10px;
	cursor: pointer;
}

.bar {
	position: relative;
}

.bar:before {
	content: '';
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: #0d7cd1;
	left: 0;
	transition: 0.5s all;
	bottom: 0;
}

.frm_wrap .form-control:focus~.bar:before {
	width: 100%;
	transition: 0.5s all;
}

.forgot_p a {
	color: #b9b9b9;
	font-size: 13px;
	display: inline-block;
	
}

.forgot_p a:hover {
	color: #0e83da
}

.login_btn {
	text-transform: uppercase;
	background-image: linear-gradient(to right, #0b76c7, #0c7acd, #0d7ed4, #0e83da, #0f87e1);
	color: #fff;
	border: 0;
	width: 100%;
	border-radius: 4px;
	padding: 14px 0px;
	// font-family: "Bold";
	cursor: pointer;
	margin-top: 25px;
}

.don_t_acc {
	margin-top: 15px;
	text-align: center;
}

a:hover {
	text-decoration: none;
}

.don_t_acc p {
	font-size: 12px;
	
	color: #5a5a5a;
	margin-bottom: 0;
	padding-bottom: 10px;
}

.don_t_acc img {
	margin-top: 10px;
}

.don_t_acc p span {
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 14px;
	color: #0e84dd;
	vertical-align: middle;
}

.check_tick {
	position: absolute;
	bottom: 8px;
	right: 4px;
}

.checkbox {
	position: relative;
	display: inline-block;
	transform: translateY(4px);
}

.checkbox:after,
.checkbox:before {
	font-family: FontAwesome;
	-webkit-font-feature-settings: normal;
	font-feature-settings: normal;
	-webkit-font-kerning: auto;
	font-kerning: auto;
	-webkit-font-language-override: normal;
	font-language-override: normal;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-weight: normal;
	text-rendering: auto;
}

.checkbox label {
	width: 32px;
	height: 42px;
	background: #ccc;
	position: relative;
	display: inline-block;
	border-radius: 46px;
	transition: 0.4s;
}

.checkbox label:after {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	left: 0;
	top: -5px;
	z-index: 2;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.4s;
}

.checkbox input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
}

.term_accept{
	font-size: .875rem;
    color: #dc3545;
}

.checkbox input:hover+label:after {
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox input:checked+label:after {
	left: 40px;
}

.model-3 .checkbox label {
	background: #0070c0;
	border: 1px solid #0070c0;
	height: 16px;
	margin: 0;
}

.model-3 .checkbox label:after {
	background: #fff;
	top: 1px;
	left: 2px;
	width: 12px;
	height: 12px;
}

.model-3 .checkbox input:checked+label:after {
	background: #ffffff;
	left: 17px;
	;
}

.rem_me {
	font-size: 13px;
	vertical-align: text-bottom;
	color: #525252;
	margin-left: 9px;
}

.forgot_p {
	margin-bottom: 0;
}

.row_rember {
	margin-top: 23px !important
}

.register_div {
	padding: 70px 0px;
}

.rght_register {
	height: auto;
	background-color: #fff;
	border-radius: 5px;
	margin: 0px auto;
	padding: 50px 50px 50px 50px;
}

.rght_register h1 {
	font-size: 24px;
	// font-family: "Black";
	text-transform: uppercase;
	color: #5a5a5a;
	text-align: center;
}

.in_lf_div {
	height: auto;
	/* IE10+ */
	background-image: -ms-linear-gradient(left, #0C77C8 0%, #0080D7 50%, #0C77C8 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(left, #0C77C8 0%, #0080D7 50%, #0C77C8 100%);
	/* Opera */
	background-image: -o-linear-gradient(left, #0C77C8 0%, #0080D7 50%, #0C77C8 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #0C77C8), color-stop(50, #0080D7), color-stop(100, #0C77C8));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(left, #0C77C8 0%, #0080D7 50%, #0C77C8 100%);
	/* W3C Markup */
	background-image: linear-gradient(to right, #0C77C8 0%, #0080D7 50%, #0C77C8 100%);
	right: 0;
	padding: 50px;
	border-radius: 5px 0px 0px 5px;
}

.inner_lrft_register {
	height: 100%;
}

.in_lf_div h1 {
	
	color: #fff;
	font-size: 28px;
	margin-bottom: 50px;
}

.div_left_im {
	display: inline-block;
	width: 12%;
	vertical-align: top;
}

.div_ri_text {
	display: inline-block;
	display: inline-block;
	width: 86%;
	padding-left: 15px;
}


/* .in_div__ret{
  width: 95%;
  margin:0px auto;
}
 */

.div_ri_text h5 {
	font-size: 16px;
	color: #fff;
	
	line-height: 24px;
	margin-bottom: 0;
}

.div_ri_text p {
	font-size: 13px;
	color: #fff;
	
	margin-bottom: 0;
	line-height: 24px;
}

.befi_wrap {
	margin-bottom: 30px;
}




/* media query */
@media (min-width:320px) and (max-width:359px) {
	.inner_login_box h1 {
		font-size: 18px !important;
	}
	.inner_login_box {
		width:100% !important;
		padding: 50px 15px !important;
	}
	.rem_me {
		font-size: 12px;
		margin-left: 4px;
	}
	.don_t_acc p span{
		font-size: 13px;
	}
	.in_lf_div {
	   padding: 30px 20px !important;
	}
	.rght_register {
		padding: 50px 15px 0px 15px !important;
	}
	
	 }
	
	
	@media (min-width:320px) and (max-width:767px) {
	
	.inner_login_box {
		width: 95%;
		padding: 50px 22px;
		
	}
	.rght_register h1 {
		font-size: 19px;
	}
	
	.inner_login_box h1 {
		font-size: 19px;
	}
	.don_t_acc img {
		width: 50px;
		margin-top: 8px;
	}
	
	.rem0{
		padding: 0;
	}
	
	.don_t_acc p span {
		margin-left: 10px;
	}
	
	.in_lf_div{
		position: relative;
		top: 0;
		transform: none;
		border-radius: 0;
		width: 100%;
		padding: 30px 30px;
	
	
	}
	
	.rght_register{
		padding: 50px 22px 0px 22px;
	}
	.in_lf_div h1 {
		font-size: 24px;
		margin-bottom: 33px;
	}
	.div_ri_text {
	  padding-left: 18px;
	}
	
	 }
	
	
	@media (min-width:768px) and (max-width:991px) {
	
	.inner_login_box {
		width: 65%;
	}
	
	.in_lf_div {
	   width:100%;
		
	}
	.rght_register {
	  padding: 50px 25px 0px 25px;
	}
	
	}
	
	@media (min-width:992px) and (max-width:1279px) {
	
	.inner_login_box {
		width: 50%;
	}
	
	.in_lf_div {
	   width: 75%;
		
	}
	
	}
	.prefix {
		position: absolute;
    top: 34px;
    font-size: 14px;
	}