<div class="row">
  <div class="inner-signup-box d-flex flex-column flex-md-row align-items-center">
    <div class="col-md-6 pad_0">
      <div class="inner_lrft_register d-flex justify-content-end">
        <div class="in_lf_div">
          <h1>Kwikz Benefits</h1>
          <div class="befi_wrap">
            <div class="div_left_im">
              <img src="./assets/login/zero_fee.svg">
            </div>
            <div class="div_ri_text">
              <h5>Zero Success fee</h5>
              <p>we do not charge any additional
                <br class="d-none"> success fee.</p>
            </div>
          </div>
          <div class="befi_wrap">
            <div class="div_left_im">
              <img src="./assets/login/list_car.svg">
            </div>
            <div class="div_ri_text">
              <h5>List car for free</h5>
              <p>Relist your car until it is sold</p>
            </div>
          </div>
          <div class="befi_wrap">
            <div class="div_left_im">
              <img src="./assets/login/car_icon.svg">
            </div>
            <div class="div_ri_text">
              <h5>Quick & easy process to find your dream car</h5>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 pad_0">
      <div class="rght_register">
        <h1>create account</h1>

        <div class="main_frm">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="form-group frm_wrap">
              <label><img src="./assets/login/user.svg">First Name</label>
              <input type="text" formControlName="fname" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
              <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                <div *ngIf="f.fname.errors.required">First Name is required</div>
              </div>
            </div>

            <div class="form-group frm_wrap">
              <label><img src="./assets/login/user.svg">Last Name</label>
              <input type="text" formControlName="lname" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
              <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                <div *ngIf="f.lname.errors.required">Last Name is required</div>
              </div>
            </div>

            <div class="form-group frm_wrap">
              <label><img src="./assets/login/mobile_icon.svg">Mobile Number</label>
              <input type="text" style="padding-left:30px" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"><span class="prefix">+64</span>
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">Mobile is required</div>
              </div>
            </div>

            <div class="form-group frm_wrap">
              <label><img src="./assets/login/email.svg">Email Address</label>
              <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.email">Valid email is required</div>
              </div>
            </div>

            <div class="frm_wrap frm_wrap">
              <label><img src="./assets/login/password.svg">Password</label>
              <input type="{{passwordType}}" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <span class="toggle-password"><img title="Show password" (click)="togglePasswordType()"
                  src="./assets/login/view_password.svg"></span>

              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>

            <div class="row row_rember form-group">
              <div class="col-md-10 col-sm-10 col-10 pad_l">
                <section class="model-3">
                  <div>
                    <input type="checkbox" (change)="acceptTerm = !acceptTerm" [checked]="acceptTerm"
                      [ngClass]="{ 'is-invalid': submitted }">
                    <span class="rem_me">I agree to Terms & Condition</span>
                    <div *ngIf="submitted">
                      <div *ngIf="!acceptTerm" class="term_accept">Please accept terms & condition</div>
                    </div>
                  </div>

                </section>
              </div>
              <div class="col-md-2 col-sm-2 col-2 text-right pad_r">
                <p class="forgot_p"><a [routerLink]="['/terms']" target="_blank">T&C</a></p>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary login_btn">SIGN UP</button>
            </div>
            <div class="don_t_acc">
              <p>Already registered? <a [routerLink]="['/login']" data-bypass=""
                  datalayer="REGISTER_POPUP_LINK"><span>Login</span>
                </a></p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>