<div class="container mt-4" *ngIf="!customeStripe">
  <h1>Default Stripe Form</h1>
  <button (click)="openCheckout()">Purchase</button>
</div>



<div class="container mt-4" *ngIf="customeStripe">
  <h1>Custome Stripe Form</h1>
  <span class="payment-message">{{message}}</span>
  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input [(ngModel)]="cardNumber" name="card-number" type="text" size="20" data-stripe="number">
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YY)</span>
      <input [(ngModel)]="expiryMonth" name="expiry-month" type="text" size="2" data-stripe="exp_month">
    </label>
    <span> / </span>
    <input [(ngModel)]="expiryYear" name="expiry-year" type="text" size="2" data-stripe="exp_year">
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input [(ngModel)]="cvc" name="cvc" type="text" size="4" data-stripe="cvc">
    </label>
  </div>
  <button (click)="getToken()">Submit</button>
</div>