
  .row{
    margin: 0 !important
  }
  
  a:hover{
    text-decoration: none;
  }
  
  .dealer_info_div{
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 30px 40px;
    width: 70%;
    margin: 0px auto;
  }
  
  
  .dealer_info_div h4{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #0088e3;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .dealer_info_div p{
    text-align: center;
    font-size: 13px;
    color: gray;
    margin-bottom: 25px;
  }
  
  .d_frm label{
    font-size: 13px;
    color: #4e4e4e;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .d_frm .form-control{
    border: 0;
    border-bottom: 2px solid rgba(127,161,188,.68);
    border-radius: 0;
    color: #606060;
    outline: 0;
    font-size: 13px;
  
    width: 100%;
  }
  
  .form-control:focus{
    outline: none !important;
    box-shadow: none;
    border-color: #5aa2da!important;
  }
  
  .d_frm{
    margin-bottom: 20px;
  }
  
  .dpadl{
    padding-left: 0;
  }
  
  .dpadr{
    padding-right: 0;
  }
  
  .box {
    display: block;
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }
  .upload-options {
    position: relative;
    height: 75px;
    background-image: -webkit-linear-gradient(0deg,#0070bb 0,#0042ff 100%);
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: background-color ease-in-out 150ms;
  }
  
  .upload-options:hover {
      background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
  }
  
  .upload-options input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .upload-options label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
  }
  
  .upload-options label::after {
   content: "\f067 ";
    font-family: "FontAwesome";
    position: absolute;
    font-size:26px;
    color: #e6e6e6;
    left: 0;
    right: 0;
    z-index: 0;
  }
  
  .upload-options label span {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
  }
  
  .upload-options label span:hover i.material-icons {
    color: lightgray;
  }
  
  .js--image-preview {
    height: 225px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .js--image-preview::after {
   content: "\f03e";
    font-family: "FontAwesome";
    position: relative;
    font-size: 4.5em;
    color: #e6e6e6;
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
  }
  
  .js--image-preview.js--no-default::after {
    display: none;
  }
  
  .js--image-preview:nth-child(2) {
    // background-image: url("http://bastianandre.at/giphy.gif");
  }
  
  
  .drop {
    display: block;
    position: absolute;
    background: rgba(95, 158, 160, 0.2);
    border-radius: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  .animate {
    -webkit-animation: ripple 0.4s linear;
     animation: ripple 0.4s linear;
  }
  
  @-webkit-keyframes ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(2.5);
              transform: scale(2.5);
    }
  }
  
  @keyframes ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
    }
  }
  
  .branch-details h5{
   font-size: 20px;
   color: #000;
   text-transform: uppercase;
   font-weight: 700;
  }
  
  
  .branch-details{
    margin-top: 20px;
  }
  
  
  .branch_div{
    border: 1px solid #dcdcdc;
      padding: 20px;
      margin-top: 15px;
      position: relative;
  }
  
  .add_more_b{
        color: #fff;
     font-weight: 700;
      font-size: 13px;
      
      display: inline-block;
      border-radius: 60px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      border: 0;
      margin-bottom: 10px;
      background-image: -webkit-linear-gradient(0deg,#0070bb 0,#0042ff 100%);
      transition: .4s ease all;
      margin-top: 15px;
      padding: 10px 0px;
          width: 180px;
  
  }
  
  .add_more_b i{
      font-size: 18px;
      vertical-align: bottom;
  }
  
  button:focus{
    outline: none;
  }
  
  .remove_button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3847fb;
    padding: 2px 8px;
    color: #fff;
  }
  
  .remove_button:hover{
    color: #fff;
  }
  
  .d_submit{
        color: #fff;
      font-weight: 700;
      font-size: 15px;
      display: inline-block;
      border-radius: 60px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      border: 0;
      margin-bottom: 10px;
      background-image: -webkit-linear-gradient(0deg,#0070bb 0,#0042ff 100%);
      transition: .4s ease all;
      margin-top: 15px;
      padding: 12px 12px;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 1px;
  }
  
  .d_submit:hover {
      background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
  }
  
  
  .error_msg{
    color: red !important;
    text-align: left !important;
    margin-bottom: 0 !important;
    margin-top: 3px;
    text-transform: capitalize;
  }
  
  .success_message{
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 50px 40px;
    width: 70%;
    margin: 0px auto;
  }
  
  .success_message h5{
    font-size: 41px;
    color: #0070bb;
    margin-top: 10px;
    // font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 0 1px 0 hsl(0, 0%, 34%), 0 2px 0 hsl(0, 0%, 69%), 0 3px 0 hsl(174,5%,70%), 0 4px 0 hsl(174,5%,66%), 0 5px 0 hsl(174,5%,64%), 0 6px 0 hsl(174,5%,62%), 0 7px 0 hsla(209, 71%, 43%, 0.38), 0 8px 0 hsl(174,5%,60%), 0 0 5px rgba(0,0,0,.05), 0 1px 3px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.3);
  }
  
  .tickpng{
    width: 60px;
  }
  
  .success_message p{text-align: center;
      font-size: 14px;
      color: gray;
      margin-bottom: 25px;
  }
  
  .back_home {
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    border-radius: 60px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    background-image: -webkit-linear-gradient(0deg,#0070bb 0,#0042ff 100%);
    transition: .4s ease all;
    border: 0;
   padding: 9px 0px;
      width: 170px;
  
  }
  
  .back_home:hover {
      transition: .5s all;
      background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
      color: #fff
  }
  .back_home i{
        font-size: 18px;
      vertical-align: middle;
      margin-right: 4px;
  }