<br>
<br>
<div class="dealer_module">
  <div class="container">
    <div class="success_message text-center">
      <img src="./assets/img/tick.png" class="tickpng">
      <h5>Thank you!</h5>
      <p> Your submission has been received.<br> we will message you on your mail in order to activate your
        account.</p>
      <a href="#" class="back_home"><i class="fa fa-home" aria-hidden="true"></i> back to home</a>
    </div>
  </div>
</div>
<br>
<br>