<section>
    <div class="landing_resgister">
        <div class="container">

            <div class="wrap_dealer">
                <h6>Whats's more! We are offering free car listing. Advertise your car with us today!</h6>
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/WhJQjZ6_hz8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h1>How to Register as Dealer?</h1>
                <div class="two_wrap">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 padl_0 pad768">
                            <div class="box_wrap bwrap1">
                                <div class="row">
                                    <div class="left_wrap">
                                        <img src="./assets/img/signup.png" class="img_1" width="100%">
                                    </div>
                                    <div class="right_wrap">
                                        <h5>Step 01</h5>
                                        <h4>Create Your<br> Account on Kwikz</h4>
                                        <p>Signup by creating your account on <a routerLink="/signup">Kwikz</a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 padr_0  pad768">
                            <div class="box_wrap">
                                <div class="row">
                                    <div class="left_wrap">
                                        <img src="./assets/img/register.png" class="img_2" width="100%">
                                    </div>
                                    <div class="right_wrap">
                                        <h5>Step 02</h5>
                                        <h4>Register For a Dealer Account</h4>
                                        <p>Submit online form with business details. Upload motor ID & Motor vehicle trader licence to verify your account.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="benifit_wrap">
                    <h2>Benifits for dealer</h2>
                    <ul>
                        <li><span>Multiple listing options:</span> You as a dealer can upload multiple listing with great ease.</li>
                        <li><span>Dedicated public page:</span> You will get a dedicated public page where the buyers can see all your listings and business details. </li>
                        <li><span>Connect with Motor Central:</span> You can easily connect your Kwikz account with Motor Central. Vehicles can then be listed by you in a single click. </li>
                        <li><span>Free listing:</span> All the listings are free until further notice.</li>
                        <li><span>Direct communication:</span> You can connect with your buyer without the involvement of any third party.
                        </li>
                        <li><span>Longer listing duration:</span> The car listing is active for 90 days. </li>
                        <li><span>Relist until sold:</span> You can relist the car for free until sold.</li>

                    </ul>
                    <h5>Kwikz is a new marketplace for Kiwi’s to sell and buy cars! It’s time to sign up today and Start selling!!
                    </h5>
                </div>
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/UIP0FwhIk7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
</section>