.row{
	margin: 0 !important
}

a:hover{
  text-decoration: none;
}

.wrap_dealer{
	margin-top: 15px;
}

.wrap_dealer h6{
	font-size: 18px;
	font-weight: 700;
	margin:20px 0;
}

.wrap_dealer h1{
	font-size: 20px;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 25px;
}

.box_wrap{
	background-color: #fff;
	border-radius:10px;
	padding: 25px;
}

.padl_0{
	padding-left: 0;
}

.padr_0{
	padding-right: 0;
}

.pad0{
	padding: 0;
}


.box_wrap h5{
	font-size: 22px;
    font-weight: 900;
    color: #79c2f3;
}

.box_wrap h4{
	font-size: 18px;
    font-weight: 700;
    color: #000;
}
.box_wrap p{
	font-size: 13px;
	margin-bottom: 0
}

.new_frame{
	width: 100%;
	height: 400px;
}

.left_wrap{
	width: 20%;
	display: inline-block;
}

.right_wrap{
	width: 80%;
	padding: 15px 20px 15px 20px;
	display: inline-block;
}

.benifit_wrap{
	background-color: #fff;
	border-radius: 10px;
	padding: 40px 25px;
	margin-top: 40px;
    margin-bottom: 40px;
    }

.benifit_wrap h2{
	font-size: 20px;
	font-weight: 700;
	color: #000;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.benifit_wrap ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.benifit_wrap h5{
	background-color: #f6f6f6;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 15px;
    margin-top: 20px;

}

.benifit_wrap ul li{
	font-size: 14px;
	color: #4e4e4e;
	padding-left: 20px;
	position:relative;
	margin-bottom: 12px;
}

.benifit_wrap ul li span{
	color: #000;
	font-weight: 700;
}


.benifit_wrap ul li:before{
    content: '';
    background-color: #fff;
    border: 2px solid #2099eb;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 6px;
    border-radius: 50px;

}


@media (min-width:320px) and (max-width:359px) {


}


@media (min-width:320px) and (max-width:767px) {

.pad768{
padding: 0
}

.bwrap1{
   margin-bottom: 30px;
}
.benifit_wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px 15px;
}
.new_frame {
   width: 100%;
   height: 193px;
}
.wrap_dealer h1 {
  margin-top: 15px;
   margin-bottom: 20px;
}
.box_wrap {
 padding: 15px;
}
.right_wrap {
padding: 0px 0px 15px 20px;
}
.bwrap1 {
   margin-bottom: 20px;
}
.wrap_dealer h6 {
   font-size: 14px;

}
.box_wrap h5 {
   font-size: 20px;
   font-weight: 700;

}
}


@media (min-width:768px) and (max-width:991px) {

.pad768{
padding: 0
}

.bwrap1{
   margin-bottom: 30px;
}
.benifit_wrap {
  
   margin-top: 30px;
   margin-bottom: 30px;
}
}

@media (min-width:992px) and (max-width:1279px) {
.box_wrap {
   
   height: 200px;
}



}

@media (min-width:1280px) and (max-width:1365px) {



}



@media (min-width:1366px) and (max-width:1600px) {



}