<div class="dealer_module">
  <div class="container">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="dealer_info_div">
        <h4>Upgrade to Business Account</h4>
        <h5>Business Details:</h5>
        <div class="d_frm">
          <label>Business name*</label>
          <input type="text" class="form-control" formControlName="business_name" placeholder="" name=""
            [ngClass]="{ 'is-invalid': submitted && f.business_name.errors }">
          <div *ngIf="submitted && f.business_name.errors" class="invalid-feedback">
            <div *ngIf="f.business_name.errors.required" class="error_msg">Please enter business name</div>
          </div>
        </div>
        <div class="d_frm">
          <label>About Us</label>
          <textarea class="form-control" formControlName="about_us" placeholder="" name=""
            [ngClass]="{ 'is-invalid': submitted && f.about_us.errors }"></textarea>
          <div *ngIf="submitted && f.about_us.errors" class="invalid-feedback">
            <div *ngIf="f.about_us.errors.required" class="error_msg">Please enter some content here</div>
          </div>
        </div>


        <h5>Contact Details:</h5>
        <div class="d_frm">
          <label>Opening Hour</label>
          <input type="text" class="form-control" formControlName="business_time" placeholder="" name=""
            [ngClass]="{ 'is-invalid': submitted && f.business_time.errors }">
          <div *ngIf="submitted && f.business_time.errors" class="invalid-feedback">
            <div *ngIf="f.business_time.errors.required" class="error_msg">Please enter opening hour</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 dpadl pad320">
            <div class="d_frm">
              <label>Contact number</label>
              <input type="text" class="form-control" formControlName="business_primary_mobile" placeholder="" name=""
                [ngClass]="{ 'is-invalid': submitted && f.business_primary_mobile.errors }">
              <div *ngIf="submitted && f.business_primary_mobile.errors" class="invalid-feedback">
                <div *ngIf="f.business_primary_mobile.errors.required" class="error_msg">Please enter mobile number
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 dpadr pad320">
            <div class="d_frm">
              <label>Email id</label>
              <input type="text" class="form-control" formControlName="business_primary_email" placeholder="" name=""
                [ngClass]="{ 'is-invalid': submitted && f.business_primary_email.errors }">
              <div *ngIf="submitted && f.business_primary_email.errors" class="invalid-feedback">
                <div *ngIf="f.business_primary_email.errors.required" class="error_msg">Please enter business mail id
                </div>
                <div *ngIf="f.business_primary_email.errors.email" class="error_msg">Please enter valid mail id</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 dpadl pad320">
            <div class="d_frm">
              <label>Freephone</label>
              <input type="text" class="form-control" formControlName="business_secondary_mobile" placeholder="" name=""
                [ngClass]="{ 'is-invalid': submitted && f.business_secondary_mobile.errors }">
            </div>
          </div>
          <div class="col-md-6 dpadr pad320">
            <div class="d_frm">
              <label>Website</label>
              <input type="text" class="form-control" formControlName="business_website" placeholder="" name="">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 dpadl pad320">
            <div class="d_frm">
              <label>Address</label>
              <ng4geo-autocomplete [userSettings]="autoCompleteSettings"
                (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 dpad1 pad320" style="padding: 0;">
            <div class="d_frm">
              <label>Company Logo*</label>
              <div class="box">
                <div class="js--image-preview">
                  <img *ngIf="company_logo_img" [src]="company_logo_img" style="width: 100%; height: auto;">
                </div>
                <div style="position: relative;">
                  <ngx-ui-loader [hasProgressBar]="false" [loaderId]="'company-logo-loader'"></ngx-ui-loader>
                </div>
                <div class="upload-options">
                  <label>
                    <input type="file" class="image-upload" accept="image/*" formControlName="company_logo"
                      [ngClass]="{ 'is-invalid': submitted && f.company_logo.errors }" (change)="companyLogo($event)">
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="!(company_logo && company_logo.length) && submitted">
              <div *ngIf="!(company_logo && company_logo.length)" class="error_msg">Please upload Company Logo
              </div>
            </div>
          </div>
        </div>
        <button class="d_submit">submit</button>
      </div>
    </form>
  </div>
</div>

<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>