<div class="dealer_part" *ngIf="!submitted">
  <div class="container">
    <div class="vin_number">
      <h4>Please Enter Your Plate Number or VIN.</h4>
      <div class="row justify-content-center form-group">
        <div class="col-12">
          <mat-form-field style="width: 100%">
            <mat-chip-list #plateList>
              <!--Iterate by array of data and display a chip for each value.-->
              <mat-chip *ngFor="let tag of searchTags" removable (removed)="onRemoveTag(tag)">
                {{tag}}
                <!--Icon that is used as a button when 'removable' set to true.-->
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input placeholder="Enter Plate Number or VIN" [matChipInputAddOnBlur]="true" [matChipInputFor]="emailList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTag($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <button class="get_car_details" (click)="getCarDetails()">Get Car Details</button>
    </div>
    <div class="show_plate_numbers" *ngIf="listOfCars && listOfCars.length">
      <div class="inner_plate">
        <h4>Enter Your Car Details Manually</h4>
        <div *ngFor="let newCar of listOfCars">
          <button class="accordion" (click)="showDetail(newCar)">{{newCar.make}} {{newCar.model}}
            {{newCar.year_manufacture}} - {{newCar.Plate_no_VIN}}</button>
          <div class="panel" [ngClass]="{'show-panel': newCar.show}">
            <div class="inner_panel">
              <form role="form">
                <div class="vin-block">
                  <p class="form-sub-hd" id="manual-details">Enter Your Car Details Manually</p>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="make" class="">Make <span style="color: red;">*</span></label>
                        <input auto-complete [source]="makes" display-property-name="make" value-property-name="make_id"
                          [list-formatter]="makeFormatter" (valueChanged)="getModel($event, newCar)"
                          [(ngModel)]="newCar.make" type="text" class="form-control custm-input-design" id="make"
                          name="make" />
                        <p *ngIf="errMsg.make" class="errMsg">{{errMsg.make}}</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="carModel" class="">Model <span style="color: red;">*</span></label>
                        <input auto-complete [source]="models" display-property-name="model"
                          value-property-name="model_id" [list-formatter]="modelFormatter"
                          (valueChanged)="getYears($event, newCar)" [(ngModel)]="newCar.model" type="text"
                          class="form-control custm-input-design" id="model" name="model" />
                        <p *ngIf="errMsg.model" class="errMsg">{{errMsg.model}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="model_detail" class="">Model Details</label>
                        <input [(ngModel)]="newCar.model_detail" type="text"
                          class="form-control model-detail custm-input-design required" id="model_detail"
                          name="model_detail">
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="carYear" class="">Year Of Manufacture <span style="color: red;">*</span></label>
                        <input auto-complete [source]="years" display-property-name="year" value-property-name="year"
                          [list-formatter]="yearFormatter" [(ngModel)]="newCar.year_manufacture" type="text"
                          id="year_manufacture" name="year_manufacture"
                          class="form-control car-year custm-input-design">
                        <p *ngIf="errMsg.year_of_manufacture" class="errMsg">{{errMsg.year_of_manufacture}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="kilometers_used" class="">Kilometres <span style="color: red;">*</span></label>
                        <input [(ngModel)]="newCar.kilometers_used" type="text"
                          class="form-control kilometers_used custm-input-design" id="kilometers_used"
                          name="kilometers_used">
                        <p *ngIf="errMsg.latest_odometer_reading" class="errMsg">{{errMsg.latest_odometer_reading}}</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="exterior_color" class="">Exterior Colour <span style="color: red;">*</span></label>
                        <input [(ngModel)]="newCar.exterior_color" type="text" id="exterior_color" name="exterior_color"
                          class="form-control exterior-colour custm-input-design">
                        <p *ngIf="errMsg.main_colour" class="errMsg">{{errMsg.main_colour}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="fuel_type" class="">Fuel Type <span style="color: red;">*</span></label>
                        <select class="form-control custm-input-design" id="fuel_type" name="fuel_type"
                          [(ngModel)]="newCar.fuel_type">
                          <option *ngFor="let kwikzFuelType of kwikzFuelTypes" [ngValue]="kwikzFuelType">
                            {{kwikzFuelType}}
                          </option>
                        </select>
                        <p *ngIf="errMsg.fuel_type" class="errMsg">{{errMsg.fuel_type}}</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="body_style" class="">Body Style <span style="color: red;">*</span></label>
                        <select class="form-control custm-input-design" id="body_style" name="body_style"
                          [(ngModel)]="newCar.body_style">
                          <option *ngFor="let body_style of bodyStyles" [ngValue]="body_style">{{body_style}}</option>
                        </select>
                        <p *ngIf="errMsg.body_style" class="errMsg">{{errMsg.body_style}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="doors" class="">Doors </label>
                        <select class="form-control custm-input-design" id="door" name="door"
                          [(ngModel)]="newCar.doors">
                          <option *ngFor="let door of doors" [ngValue]="door">{{door}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="cylinders" class="">Cylinders </label>
                        <select class="form-control custm-input-design" id="cylinders" name="cylinders"
                          [(ngModel)]="newCar.cylinders">
                          <option *ngFor="let cylinder of cylinders" [ngValue]="cylinder">{{cylinder}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="engineSize " class="">Engine Size </label>
                        <input [(ngModel)]="newCar.engine_size" type="text"
                          class="form-control engine_size custm-input-design" id="engine_size" name="engine_size" />
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="transmission" class="">Transmission</label>
                        <select class="form-control custm-input-design" id="transmission" name="transmission"
                          [(ngModel)]="newCar.transmission">
                          <option *ngFor="let transmission of transmissionTypes" [ngValue]="transmission">
                            {{transmission}}
                          </option>
                        </select>
                        <p *ngIf="errMsg.transmission" class="errMsg">{{errMsg.transmission}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="no_of_seats" class="number-of-seats">Number Of Seats </label>
                        <select class="form-control custm-input-design" id="no_of_seats" name="no_of_seats"
                          [(ngModel)]="newCar.no_of_seats">
                          <option *ngFor="let seat of noOfSeats" [ngValue]="seat">{{seat}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="no_of_owners" class="number-of-owners">Number Of Owners </label>
                        <select class="form-control custm-input-design" id="no_of_owners" name="no_of_owners"
                          [(ngModel)]="newCar.no_of_owners">
                          <option *ngFor="let owner of noOfOwners" [ngValue]="owner">{{owner}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="import_history" class="">Import History</label>
                        <select class="form-control custm-input-design" id="import_history" name="import_history"
                          [(ngModel)]="newCar.import_history">
                          <option *ngFor="let history of importHistories" [ngValue]="history">{{history}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="registration_exp" class="">Registration Expires </label>
                        <select class="form-control custm-input-design" id="registration_exp" name="registration_exp"
                          [(ngModel)]="newCar.registration_exp">
                          <option *ngFor="let exp of registrationExpires" [ngValue]="exp"> {{exp}} </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="Wof_expires" class="">WOF Expires </label>
                        <select class="form-control custm-input-design" id="Wof_expires" name="Wof_expires"
                          [(ngModel)]="newCar.Wof_expires">
                          <option *ngFor="let exp of wofExpires" [ngValue]="exp"> {{exp}} </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group margin--15 col-12">
                        <label for="Plate_no_VIN" class="carPlate">Number Plate <span
                            style="color: red;">*</span></label>
                        <input [(ngModel)]="newCar.Plate_no_VIN" type="text" id="Plate_no_VIN" name="Plate_no_VIN"
                          class="form-control custm-input-design" />
                        <p *ngIf="errMsg.plate" class="errMsg">{{errMsg.plate}}</p>
                      </div>
                    </div>
                  </div>

                  <!-- Features  -->
                  <div class="row rw-mr-top">
                    <div class="col-12">
                      <label class="form-sub-hd featureClass" for="carFeatures">Features</label>
                      <p class="select_feature">Select features available in your car</p>
                    </div>
                    <div class="col-md-6 col-12 bg">
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.abs_brakes" type="checkbox" class="form-check-input" id="abs_brakes"
                          name="abs_brakes">
                        <label class="form-check-label" for="abs_brakes">ABS Brakes</label>
                        <span class="span_pseudo"></span>
                      </div>
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.alarm" type="checkbox" class="form-check-input" id="alarm"
                          name="alarm">
                        <label class="form-check-label" for="alarm">Alarm</label>
                        <span class="span_pseudo"></span>
                      </div>
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.central_locking" type="checkbox" class="form-check-input"
                          id="central_locking" name="central_locking">
                        <label class="form-check-label" for="central_locking">Central Locking</label>
                        <span class="span_pseudo"></span>
                      </div>
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.passenger_airbag" type="checkbox" class="form-check-input"
                          id="passenger_airbag" name="passenger_airbag">
                        <label class="form-check-label" for="passenger_airbag">Passenger Airbag</label>
                        <span class="span_pseudo"></span>
                      </div>
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.sunroof" type="checkbox" class="form-check-input" id="sunroof"
                          name="sunroof">
                        <label class="form-check-label" for="sunroof">Sunroof</label>
                        <span class="span_pseudo"></span>
                      </div>
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.stereo" type="checkbox" class="form-check-input" id="stereo"
                          name="stereo">
                        <label class="form-check-label" for="stereo">Stereo</label>
                        <span class="span_pseudo"></span>
                      </div>
                    </div>
                    <div class="col-sm-6 col-12 bg">
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.air_conditioning" type="checkbox" class="form-check-input"
                          id="air_conditioning" name="air_conditioning">
                        <label class="form-check-label" for="air_conditioning">Air Conditioning</label>
                        <span class="span_pseudo"></span>
                      </div>
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.alloy_wheels" type="checkbox" class="form-check-input"
                          id="alloy_wheels" name="alloy_wheels">
                        <label class="form-check-label" for="alloy_wheels">Alloy Wheels</label>
                        <span class="span_pseudo"></span>
                      </div>
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.driver_airbag" type="checkbox" class="form-check-input"
                          id="driver_airbag" name="driver_airbag">
                        <label class="form-check-label" for="driver_airbag">Driver Airbag</label>
                        <span class="span_pseudo"></span>
                      </div>
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.power_steering" type="checkbox" class="form-check-input"
                          id="power_steering" name="power_steering">
                        <label class="form-check-label" for="power_steering">Power Steering</label>
                        <span class="span_pseudo"></span>
                      </div>
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.towbar" type="checkbox" class="form-check-input" id="towbar"
                          name="towbar">
                        <label class="form-check-label" for="towbar">Towbar</label>
                        <span class="span_pseudo"></span>
                      </div>
                      <div class="form-check custom_cb">
                        <input [(ngModel)]="newCar.four_wd" type="checkbox" class="form-check-input" id="four_wd"
                          name="four_wd">
                        <label class="form-check-label" for="four_wd">4WD</label>
                        <span class="span_pseudo"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row rw-mr-top">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-sub-hd" for="comment">Description:</label>
                        <textarea [(ngModel)]="newCar.desc" class="form-control" rows="4" id="description"
                          name="description"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 vin-block">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group margin--15 col-12">
                        <label for="carKilometres " class="">Asking Price $ <span style="color: red;">*</span></label>
                        <input [(ngModel)]="newCar.amount" type="number" name="asking_price"
                          class="form-control custm-input-design plate-number" id="" placeholder="0.00">
                        <p *ngIf="errMsg.amount" class="errMsg">{{errMsg.amount}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-12">
                      <label for="listingType" class="">On Road Costs </label>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-check form-check-inline">
                        <input [(ngModel)]="newCar.onroad_costexcluded" class="form-check-input" type="checkbox"
                          value="1" name="onroad_costexcluded" id="onroad_costexcluded"
                          (change)="onRoadChange('exclude')">
                        <label class="form-check-label" for="excludedRoadCost">Excluded - Additional Costs May
                          Apply</label>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-check form-check-inline">
                        <input [(ngModel)]="newCar.onroad_costincluded" class="form-check-input" type="checkbox"
                          value="1" name="onroad_costincluded" id="onroad_costincluded"
                          (change)="onRoadChange('include')">
                        <label class="form-check-label" for="includedRoadCost">Included - Vehicle Is Legally
                          Road-Worthy</label>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-md-6 col-12">
                      <label for="bestContactTime" class="">Best Contact Time</label>
                      <input [(ngModel)]="newCar.best_contact_time" type="text"
                        class="form-control plate-number custm-input-design" id="best_contact_time"
                        name="best_contact_time" />
                    </div>
                    <div class="col-md-6 col-12">
                      <label for="carLocation" class="">Location <span style="color: red;">*</span></label>
                      <ng4geo-autocomplete [userSettings]="autoCompleteSettings"
                        (componentCallback)="autoCompleteCallback1($event, newCar)">
                      </ng4geo-autocomplete>
                      <i class="icon-search"></i>
                      <p *ngIf="errMsg.location" class="errMsg">{{errMsg.location}}</p>
                    </div>
                  </div>
                </div>
              </form>

              <div class="col-12 vin-block">
                <p id="manual-details" class="form-sub-hd">Please Select Picture To Upload</p>
                <div (drop)="setImages($event, 1, newCar);" (dragover)="onDragOver($event)"
                  class="drop-container upload-drop-zone d-flex flex-column justify-content-center align-items-center">
                  <div (click)="openFileInput();" class="file-upload"></div>
                  <span>Just Drag And Drop Files Here Or
                    <label class="upload-button">
                      <input id="uploadImageInput" type="file" (change)="setImages($event, 0, newCar)" multiple
                        accept="image/*">
                    </label>
                  </span>
                </div>
                <p *ngIf="errMsg.images" class="errMsg">{{errMsg.images}}</p>
                <div class="col-12 vin-block" *ngIf="newCar.images && newCar.images.length">
                  <div class="section_pic_list">
                    <div class="container">
                      <div class="recent_upload">
                        <h3>Uploaded Photos</h3>
                        <div class="box_images">
                          <ul>
                            <li *ngFor="let image of newCar.images; let key = index;">
                              <img [src]="image" width="100%" alt=""><i (click)="deleteImage(key, image);"
                                class="fa fa-trash" aria-hidden="true"></i>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 vin-block" *ngIf="newCar.recentlySelected && newCar.recentlySelected.length">
                  <div class="section_pic_list">
                    <div class="container">
                      <div class="recent_upload">
                        <h3>Recently Selected Photos</h3>
                        <div class="box_images">
                          <ul>
                            <li *ngFor="let image of newCar.recentlySelected; let key = index;">
                              <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(image)" width="100%" alt="">
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="btn-box">
                  <button type="button"
                    class="btn custom-btn primaryButton prevBtn primaryButton btn-float-r" (click)="saveImages(newCar)">
                    Upload Images & Next
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <button class="final_click" *ngIf="isNotValidateOne" (click)="validateForm();">Confirm</button>
        <button class="final_click" *ngIf="!isNotValidateOne" (click)="submit()">submit</button>
      </div>
    </div>
  </div>
</div>

<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>

<app-confirmation *ngIf="submitted" [listOfCars]="listOfCars"></app-confirmation>