<div class="container-fluid nopadding">
  <div class="row nopadding">
    <div class="col-12 col-sm-12 col-md-2"></div>
    <div class="col-12 col-sm-12 col-md-8">
      <div class="forgot_box text-center" *ngIf="user_id">
        <h4>Reset password</h4>
        <div class="for_password_input ">
          <input type="password" [(ngModel)]="password" placeholder="Your Password" class="form-control" name="">
          <div *ngIf="validationCheck" class="imputRequired">Password must be at least 6 characters.</div>
        </div>
        <div class="for_password_input">
          <input type="password" [(ngModel)]="confirm_password" placeholder="Confirm Password" class="form-control"
            name="">
          <div *ngIf="passwordsMatch" class="imputRequired">Password must be same.</div>
        </div>
        <button class="reset_button" (click)="onChangePassword()">Change Password</button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2"></div>
  </div>
</div>

<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>