<!-- new design -->
<div class="container nopaddingInMob">

    <!-- breadCrums -->
    <div class="col-lg-12 pad320 pad767l">
        <div class="bread_list">
            <span class="bread_hover"> <a [routerLink]="[filterUrl]">All</a> </span><span class="b_divide">/</span>
            <span class="bread_hover"><a (click)="BreadCrumsFns('region')">{{breadCrums.region | titlecase}}</a>
            </span><span class="b_divide">/</span>
            <span *ngIf="urlContainCity">
                <span class="bread_hover"><a (click)="BreadCrumsFns('city')">{{breadCrums.city | titlecase}}</a>
                </span><span class="b_divide">/</span>
            </span>
            <span class="bread_hover"> <a (click)="BreadCrumsFns('make')">{{breadCrums.make | titlecase}}</a>
            </span><span class="b_divide">/</span>
            <span class="bread_hover"> <a (click)="BreadCrumsFns('model')">{{breadCrums.model | titlecase}}</a>
            </span><span class="b_divide">/</span>
            <span class="bread_hover"> <a (click)="BreadCrumsFns('year')">{{breadCrums.year}}</a> </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-8 pad320 pad767l">
            <div class="inner_detail_Section">
                <!-- title price location (top row) -->
                <div class="p_box19">
                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                            <h1>{{postData.post.title}} {{postData.extra_fields.year_manufacture}}</h1>
                            <p class="lblContactAddress1"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>{{postStartDate}}
                            </p>
                            <p class="lblContactAddress1"><i class="fa fa-map-marker" aria-hidden="true"></i><span>{{postData.post.location}}</span></p>
                            <p class="lblContactAddress1"><i class="fa fa-eye" aria-hidden="true"></i><span>{{postData.post.views_count}}</span></p>
                            <p class="lblContactAddress1"><i class="fa fa-heart" aria-hidden="true"></i><span>{{postData.post.watchers}}</span></p>
                            <!-- <p class="lblContactAddress1"><a *ngIf="role=='seller'" [routerLink]="[postUpdateRoute+postId]" ><i  class="fa fa-pencil" aria-hidden="true"></i><span *ngIf="role=='seller'">Edit Listing</span></a></p> -->

                        </div>
                        <div class="col-lg-3 col-md-3 text-right txc_left">
                            <div class="main_p_tag">
                                <h3 class="main_price_">${{postData.post.amount}}</h3>
                            </div>

                            <span class="cheart a320" (click)="addToWatch()"><a
                                    [title]="WatchListAlreadyAdded?'Remove from Watchlist':'Add to Watchlist'"><i
                                        [ngClass]="{'heartAlready': WatchListAlreadyAdded}" class="fa fa-heart"
                                        aria-hidden="true"></i></a></span>
                        </div>
                    </div>


                    <div *ngIf="postData.post.trade_done === 1;else withdraw" class="sold_out">Sold</div>
                    <ng-template #withdraw>
                        <div *ngIf="postData.post.withdraw === 1;else expired" class="sold_out">Withdraw</div>
                    </ng-template>
                    <ng-template #expired>
                        <div *ngIf="postExpired" class="sold_out">Expired</div>
                    </ng-template>


                </div>

                <!-- image slideshow -->
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <slideshow [height]="'525px'" [minHeight]="'260px'" [autoPlay]="true" [showArrows]="true" [imageUrls]="postData.images.length>0?postData.images:noImageData" [lazyLoad]="postData.images?.length > 1" [autoPlayWaitForLazyLoad]="true">
                    </slideshow>
                </div>

                <!-- Car Overview with icons -->
                <div class="pro_description">
                    <h4>Overview</h4>
                    <hr class="mtop8">
                    <div class="mai_fe text-center">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                                <img src="./assets/images/detailpage/calendar.png">
                                <p>Model</p>
                                <span class="value_data">{{postData.extra_fields.model}}</span>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                                <img src="./assets/images/detailpage/car.png">
                                <p>Driven</p>
                                <span class="value_data">{{postData.extra_fields.kilometers_used}}KM</span>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                                <img src="./assets/images/detailpage/001-paint-spray.png">
                                <p>Color</p>
                                <span class="value_data">{{postData.extra_fields.exterior_color}}</span>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                                <img src="./assets/images/detailpage/gearshift.png">
                                <p>Transmission</p>
                                <span class="value_data">{{postData.extra_fields.transmission?postData.extra_fields.transmission:'--'}}</span>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                                <img src="./assets/images/detailpage/fuel.png">
                                <p>Fuel</p>
                                <span class="value_data">{{postData.extra_fields.fuel_type}}</span>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                                <img src="./assets/images/detailpage/002-car.png">
                                <p>Owner</p>
                                <span class="value_data">{{postData.extra_fields.no_of_owners?postData.extra_fields.no_of_owners:'--'}}</span>
                            </div>
                        </div>
                    </div>
                    <hr class="top_m_0">
                </div>

                <!-- desc -->
                <div class="main_dexp">
                    <h4>Description</h4>
                    <hr class="mtop8">
                    <p style="margin-bottom: 2rem;white-space:pre-wrap;">{{postData.post.desc}}</p>
                </div>

                <!-- key features accordian -->
                <div class="key_fea">
                    <h4>Key Details</h4>
                    <hr class="mtop8">
                    <div class="more_details_car">

                        <!-- Listing ID & VIN -->
                        <div class="row main_detail_row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row frow_1">
                                    <div class="col-md-5 col-6">
                                        <p><b>Listing ID</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postId}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row">
                                    <div class="col-md-5 col-6">
                                        <p><b>Plate No. (VIN)</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.Plate_no_VIN===''?'-':postData.extra_fields.Plate_no_VIN}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- make model -->
                        <div class="row main_detail_row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row frow_1">
                                    <div class="col-md-5 col-6">
                                        <p><b>Make</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.make===''?'-':postData.extra_fields.make}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row">
                                    <div class="col-md-5 col-6">
                                        <p><b>Model</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.model===''?'-':postData.extra_fields.model}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- model detail & year of manufacturer -->
                        <div class="row main_detail_row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row frow_1">
                                    <div class="col-md-5 col-6">
                                        <p><b>Model Detail</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.model_detail===''?'-':postData.extra_fields.model_detail}}</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row">
                                    <div class="col-md-5 col-6">
                                        <p><b>Year Manufacture</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p>
                                            <span>{{postData.extra_fields.year_manufacture===''?'-':postData.extra_fields.year_manufacture}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- body style & color -->
                        <div class="row main_detail_row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row frow_1">
                                    <div class="col-md-5 col-6">
                                        <p><b>Body Style</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.body_style===''?'-':postData.extra_fields.body_style}}</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row">
                                    <div class="col-md-5 col-6">
                                        <p><b>Color</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p>
                                            <span>{{postData.extra_fields.exterior_color===''?'-':postData.extra_fields.exterior_color}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- KM driven & Fuel Type -->
                        <div class="row main_detail_row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row frow_1">
                                    <div class="col-md-5 col-6">
                                        <p><b>Kilometer Driven</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p>
                                            <span>{{postData.extra_fields.kilometers_used===''?'-':postData.extra_fields.kilometers_used}}</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row">
                                    <div class="col-md-5 col-6">
                                        <p><b>Fuel Type</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.fuel_type===''?'-':postData.extra_fields.fuel_type}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- transmission & Engine size -->
                        <div class="row main_detail_row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row frow_1">
                                    <div class="col-md-5 col-6">
                                        <p><b>Transmission</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.transmission===''?'-':postData.extra_fields.transmission}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row">
                                    <div class="col-md-5 col-6">
                                        <p><b>Engine Size</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.engine_size===''?'-':postData.extra_fields.engine_size}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- cylinders & doors -->
                        <div class="row main_detail_row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row frow_1">
                                    <div class="col-md-5 col-6">
                                        <p><b>Cylinders</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.cylinders===''?'-':postData.extra_fields.cylinders}}</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row">
                                    <div class="col-md-5 col-6">
                                        <p><b>No. of Doors</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.doors===''?'-':postData.extra_fields.doors}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- import history & no. of owners -->
                        <div class="row main_detail_row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row frow_1">
                                    <div class="col-md-5 col-6">
                                        <p><b>Import History</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p>
                                            <span>{{postData.extra_fields.import_history===''?'-':postData.extra_fields.import_history}}</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row">
                                    <div class="col-md-5 col-6">
                                        <p><b>No. of Owners</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.no_of_owners===''?'-':postData.extra_fields.no_of_owners}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Registration expire & WOf expire -->
                        <div class="row main_detail_row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row frow_1">
                                    <div class="col-md-5 col-6">
                                        <p><b>Registraion Expires</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p>
                                            <span>{{postData.extra_fields.registration_exp===''?'-':postData.extra_fields.registration_exp}}</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pad_cal_0">
                                <div class="row">
                                    <div class="col-md-5 col-6">
                                        <p><b>WoF Expires</b></p>
                                    </div>
                                    <div class="col-md-7 col-6">
                                        <p><span>{{postData.extra_fields.Wof_expires===''?'-':postData.extra_fields.Wof_expires}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- features with checkbox -->
                <div class="main_feature_list">
                    <h4>Features</h4>
                    <hr class="mtop8">
                    <ul class="list_features">
                        <li *ngIf='postData.extra_fields.abs_brakes'><i class="fa fa-check fthere" aria-hidden="true"></i>ABS Brakes
                        </li>
                        <li *ngIf='postData.extra_fields.air_conditioning'><i class="fa fa-check fthere" aria-hidden="true"></i>Air Conditioning
                        </li>
                        <li *ngIf='postData.extra_fields.alarm'><i class="fa fa-check fthere" aria-hidden="true"></i>Alarm</li>
                        <li *ngIf='postData.extra_fields.alloy_wheels'><i class="fa fa-check fthere" aria-hidden="true"></i>Alloy Wheels
                        </li>
                        <li *ngIf='postData.extra_fields.central_locking'><i class="fa fa-check fthere" aria-hidden="true"></i>Central Locking</li>
                        <li *ngIf='postData.extra_fields.driver_airbag'><i class="fa fa-check fthere" aria-hidden="true"></i>Driver Airbag
                        </li>
                        <li *ngIf='postData.extra_fields.passenger_airbag'><i class="fa fa-check fthere" aria-hidden="true"></i>Passanger Airbag
                        </li>
                        <li *ngIf='postData.extra_fields.power_steering'><i class="fa fa-check fthere" aria-hidden="true"></i>Power Steering
                        </li>
                        <li *ngIf='postData.extra_fields.sunroof'><i class="fa fa-check fthere" aria-hidden="true"></i>Sunroof</li>
                        <li *ngIf='postData.extra_fields.towbar'><i class="fa fa-check fthere" aria-hidden="true"></i>Towbar</li>
                        <li *ngIf='postData.extra_fields.four_wd'><i class="fa fa-check fthere" aria-hidden="true"></i>4WD</li>
                        <li *ngIf='postData.extra_fields.stereo'><i class="fa fa-check fthere" aria-hidden="true"></i>Stereo</li>
                    </ul>
                </div>

                <!-- Question Anser -->
                <div class="q_n_section">
                    <h4>Question & Answer</h4>
                    <hr class="mtop8">

                    <!-- Showing all answered & unanswered q/a -->
                    <div *ngFor="let q of postData.qnS; let i = index;" class="qna_view">
                        <div class="inner_ans_view">
                            <div class="row">
                                <div class="col-lg-2 col-md-2">
                                    <p class="que_list">Question</p>
                                </div>
                                <div class="col-lg-10  col-md-10 pad_l_0">
                                    <p class="ans_list ques_color">{{q.question}} <span *ngIf="q.ques_answered==0" class="blinking"><b>Unanswered</b></span></p>
                                    <span *ngIf="q.ques_answered==0 && role=='seller'"> <button class="answer_now"
                                            (click)="answerUnansweredNow(i)">Answer
                                            Now</button> </span>
                                    <div *ngIf="answerUnanswered[i] && answerUnanswered[i]==true && q.ques_answered==0" class="seller_login_">
                                        <textarea class="form-control" rows="5" [(ngModel)]="postAnswer" placeholder="Post your Answer here"></textarea>
                                        <button (click)="postAnswerFn(q.id, i)">Submit</button>
                                        <span *ngIf="validationFailedPostAnswer" class="error_value_required">Value
                                            Required</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="q.ques_answered" class="row">
                                <div class="col-lg-2 col-md-2">
                                    <p class="que_list">Answer</p>
                                </div>
                                <div class="col-lg-10 col-md-10 pad_l_0">
                                    <p class="ans_list">{{q.answer}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- when user is not login -->
                    <div *ngIf="!loggedIn" class="no_login">
                        <br>
                        <p>If you want to post Question then first <span style="color:blue" (click)="loginAndBack()">Login
                                Now</span></p>
                    </div>


                    <!-- login and can post a question (buyer & seller) -->
                    <div *ngIf="loggedIn" class="buyer_login">
                        <br>
                        <p class="detailPage_askQuestion">Have a question?</p>
                        <textarea class="form-control" rows="5" [(ngModel)]="postQuestion" placeholder="Post your Question here"></textarea>
                        <button (click)="postQuestionFn()">Submit</button>
                        <span *ngIf="validationFailedPostQuestion" class="error_value_required">Value Required</span>

                    </div>
                </div>
            </div>
        </div>


        <!-- seller section -->
        <div class="col-lg-3 col-md-4 col-sm-4 s_pad0">
            <div class="seller_de">
                <h3>Contact Details</h3>

                <div class="sel_p_img">
                    <img src="{{sellerProfileImage}}">
                </div>

                <div class="se_name_">
                    <h5 *ngIf="!is_dealer">{{postData.sellerInfo.fname}} {{postData.sellerInfo.lname}}</h5>
                    <h5 *ngIf="is_dealer">
                        <a [routerLink]="dealer_route">{{postData.sellerInfo.dealer_business.name}}</a>
                    </h5>
                    <div class="text-center">
                        <span class="stars" [attr.data-stars]="sellerRating">
                            <svg height="20" width="18" class="star rating" data-rating="1">
                                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78"
                                    style="fill-rule:nonzero;" />
                            </svg>

                            <svg height="20" width="18" class="star rating" data-rating="2">
                                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78"
                                    style="fill-rule:nonzero;" />
                            </svg>

                            <svg height="20" width="18" class="star rating" data-rating="3">
                                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78"
                                    style="fill-rule:nonzero;" />
                            </svg>

                            <svg height="20" width="18" class="star rating" data-rating="4">
                                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78"
                                    style="fill-rule:nonzero;" />
                            </svg>

                            <svg height="20" width="18" class="star rating" data-rating="5">
                                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78"
                                    style="fill-rule:nonzero;" />
                            </svg>
                        </span>
                    </div>
                    <p *ngIf="!is_dealer">Seller</p>
                    <p *ngIf="is_dealer">Dealer</p>
                </div>
                <hr class="d_line">
                <div class="more_seller_details">
                    <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{userRegisteredSince}} <span class="sm_text">(Member
                            since)</span></p>
                    <p *ngIf="!postData.sellerPrivacy.mobile"><i class="fa fa-phone" aria-hidden="true"></i> {{loggedIn?postData.sellerInfo.mobile:'**************'}}
                    </p>
                    <p *ngIf="!postData.sellerPrivacy.email"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{loggedIn?postData.sellerInfo.email:'**************'}}
                    </p>
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{postData.extra_fields.best_contact_time}}<span class="sm_text">(Best
                            contact time)</span></p>
                </div>
            </div>

            <div *ngIf="loggedIn && role=='buyer'" class="mess_seller">
                <h3>Contact Seller</h3>
                <input type="text" class="form-control" [(ngModel)]="contactSeller.mobile" placeholder="Mobile Number" name="">
                <input type="text" class="form-control" [(ngModel)]="contactSeller.price" placeholder="Price" name="">
                <textarea class="form-control" rows="6" [(ngModel)]="contactSeller.message" placeholder="Enter Message here"></textarea>
                <button (click)="contactSellerFn()">Send Message</button>
                <span *ngIf="validationFailedContactSeller" class="error_value_required">Value Required</span>
            </div>

            <div *ngIf="loggedIn && role=='seller'" class="mess_seller">
                <!-- not withdrawn , not sold, not expired -->
                <a *ngIf=" (postData.post.withdraw===0)&& (postData.post.trade_done===0) && ( !postExpired ) " [routerLink]="[postUpdateRoute+postId]">
                    <button class="seller_mode">Edit Listing</button> </a>

                <!-- not expired  -->
                <button *ngIf="!postExpired && postData.post.trade_done===0" (click)="markAsSold()" class="seller_mode">Mark as
                    Sold</button>

                <!-- not expired , unsold  -->
                <button *ngIf="postData.post.withdraw ===0 && ( !postExpired )" (click)="withdrawListing()" class="seller_mode">Withdraw
                    Listing</button>

                <!-- notwithdrawn, not sold , expired  -->
                <button *ngIf=" (postData.post.withdraw===0)&& (postData.post.trade_done===0) && ( postExpired )  " (click)="reList()" class="seller_mode">Re-List</button>
            </div>


            <div *ngIf="!loggedIn" class="mess_seller">

                <button (click)="loginAndBack()">Login to Contact</button>
            </div>

            <div class="vehicleReport-block">
                <a href={{carJamAffUrl}} target="_blank">
                    <div class="vehicleReport">
                        <span class="title">Get Vehicle Report</span>
                        <br />
                        <span class="text">Powered by Carjam</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>