ul {
    list-style: none;
}

.clearfix {
    clear: both;
}

a {
    text-decoration: none;
}

input,
textarea {
    padding: 10px 18px;
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #dbdbdb;
    font-size: 13px;
    font-family: inherit;
}

.custum-input-design {
    background-color: transparent;
    border-radius: 0;
    outline: 0;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-weight: 100;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    height: 380px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

#listing-heading {
    font-size: 18px;
}

.watchlist-btn {
    background: #f75a4d;
    color: white;
    margin: auto;
    border-radius: 5px;
    font-size: 15px;
    height: 28px;
    padding: 2px 5px;
}

.gvr-btn {
    background: #5BB530;
    color: white;
    margin: auto;
    border-radius: 5px;
    font-size: 15px;
    height: 28px;
    padding: 2px 5px;
    margin-right: 10px;
}

#side-bar-block {
    background: #fafafa;
    padding: 15px 15px 15px 15px;
}

.askingPrice-section {
    padding-bottom: 0px;
}

.askingPrice-right {
    float: right;
}

.borderless td,
.borderless th {
    border: none;
}

table.t-offer-received {
    margin-bottom: 0px !important;
}

.offer-received {
    margin-top: 20px;
}

.buyer-trade-offer {
    margin-top: 20px;
}

.offer-received>h5,
.seller-options>h5,
.buyer-trade-offer>h5,
.seller-details>h5 {
    padding-bottom: 6px;
    border-bottom: 1px solid #cccccc;
}

.table-popup {
    margin-bottom: 0px;
}

.cancelbtn,
.savebtn {
    display: inline-block;
    background: #F75A4D;
    color: white;
    margin: auto;
    border: none;
    font-size: 15px;
    height: 28px;
    padding: 2px 5px;
    margin-right: 10px;
    width: 100%;
    max-width: 120px;
    margin: 20px 0 0 0;
}

.btn-margin-top {
    margin-top: 10px;
}

.btn-enqire {
    background: #5BB530;
    color: white;
    margin: auto;
    border: none;
    font-size: 15px;
    height: 28px;
    padding: 2px 5px;
    margin-right: 10px;
    width: 100%;
    height: 30px;
    max-width: 200px;
}

.btn-contact-seller {
    background: #5BB530;
    color: white;
    margin: auto;
    border-radius: 2px;
    font-size: 15px;
    height: 28px;
    padding: 2px 5px;
    margin-right: 10px;
    width: 100%;
    max-width: 200px;
    height: 30px;
}

.contact-seller-magin {
    margin-top: 10px;
}

#car-details ul li {
    float: left;
    width: 14.2%;
    text-align: center;
}

#car-details ul li:nth-child(even) {
    background: #f5f5f5;
}

#car-details li .dttwo {
    margin-top: 10px;
    font-size: 12px;
    color: #4e4e4e;
}

#car-details li .dttop {
    font-size: 10px;
    color: #5d5d5d;
}

.car-details-section {
    margin: 0 auto;
    padding-left: 0px;
    display: flex;
    box-shadow: 0px 4px 0px 0px rgba(209, 207, 207, 0.4);
}

ul.car-details-section li {
    padding: 10px 0px;
}

.imag-carousel {
    margin-top: 10px;
}

.main-box {
    margin: 40px 0px;
}

.grey-divider {
    border-bottom: 1px #e6e6e6 solid;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

#buy-vehicle-report {
    border-left: 2px solid #e0e0e0;
    background: #fafafa;
    padding: 15px 15px 15px 15px;
}

#vehicle-features,
#vehicle-description {
    background: #fafafa;
    padding: 15px 15px 15px 15px;
}

.white-spaces {
    white-space: nowrap;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs>li>a {
    font-size: 15px;
    border: none;
    color: #4e4e4e;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #f75a4d !important;
}

.nav-tabs>li>a::after {
    content: "";
    background: #f75a4d;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.nav>li>a.no-bg:focus,
.nav>li>a.no-bg:hover {
    text-decoration: none;
    background-color: transparent;
}

.tab-nav>li>a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 30px;
}

.details-panel li {
    border-bottom: 1px solid #e0e0e0;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
}

.leftview {
    line-height: 26px;
    color: #696969;
    width: 44%;
    font-size: 14px;
    float: left;
}

.rightview {
    line-height: 1.5;
    color: #353535;
    padding: 10px;
    width: 44%;
    font-size: 14px;
    float: left;
}

.panel {
    border: 0px;
    box-shadow: none;
    background-color: none !important;
}

.panel-default>.panel-heading {
    margin-bottom: 2px;
}

.panel-heading {
    border-radius: 0px;
}

p.breadCrumbs>a {
    color: #4e4e4e;
    font-size: 15px;
}

#listing-heading {
    color: #4e4e4e;
    font-size: 24px;
}

div.car-info {
    margin-top: 10px;
}

#myTable {
    width: 100%;
}

.m-right {
    margin-right: 50px;
}

.th-border {
    border-bottom: 1px #e6e6e6 solid;
}

.change-offer-btn {
    background: #d1cfcf;
    margin: auto;
    font-size: 15px;
    height: 28px;
    padding: 2px 5px;
    width: 100%;
    height: 30px;
    max-width: 200px;
    border: none;
}

.more-offers {
    text-align: right;
    margin-bottom: 20px;
}

.more-offers a {
    margin-right: 5px;
    cursor: pointer;
}

.to-bold {
    color: #4e4e4e;
    font-size: 15px;
}

.interested-buyers {
    float: right;
    margin-right: 10px;
}

.interested-buyers>span.to-bold {
    color: #F75A4D;
}

.key-details {
    font-size: 24px;
    color: #4e4e4e;
    font-weight: 600;
}

.bold-font {
    font-weight: 600;
}

.f-right {
    float: right;
}


/* Seller After Confirmation */

.seller-options {
    display: block;
    margin-top: 30px;
}

.seller-details {
    margin-top: 20px;
}


/* Social Section */

.social-container {
    margin-bottom: 5px;
}

.fb-bckg {
    background: #0070BA;
    padding: 6px;
    margin-right: 7px;
}

.gp-bckg {
    background: #E22A2A;
    padding: 6px;
}


/* POPUP */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.seller-modal-withdraw {
    width: 520px !important;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 400px;
}

.modal-header {
    padding: 0px 15px;
    border-bottom: none;
    border-top-width: 4px;
    border-top-style: solid;
    border-color: #3079AB;
}

.box-header {
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
    background-color: #f9fafa;
}

.modal-footer {
    padding: 0px;
}

.box-footer {
    padding: 0 15px 15px;
    background-color: #f9fafa;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.pagination {
    margin: 20px 0 0 0;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.grayed:disabled {
    background-color: #b9b9b9;
}

.t-offer-received tr.inactive {
    background-color: #ececec;
    color: #b9b9b9;
}

li.token-input-input-token {
    display: none !important;
}


/* css new design */

.row {
    margin: 0 !important
}

a:hover {
    text-decoration: none;
}

.bread_hover:hover {
    cursor: pointer;
}

.bread_list span {
    font-size: 14px;
    color: #0089e5;
}

.b_divide {
    margin: 0px 7px;
    color: #545454 !important;
}

.inner_detail_Section {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.bread_list {
    margin-bottom: 20px;
}

.p_box19 h1 {
    color: #0088e3;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0;
    font-size: 26px;
    margin-bottom: 10px;
    line-height: 32px;
}

.main_price_ {
    position: relative;
    background: -webkit-linear-gradient( 0deg, rgb(0, 112, 187) 0%, rgb(0, 138, 231) 100%);
    color: #fff;
    font-weight: 700;
    padding: 7px 8px;
    min-width: 80px;
    display: inline-block;
    text-align: right;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 0;
}

//   .main_price_:before {
//       width: 0;
//       border-bottom: 35px solid #0073c0;
//       border-left: 11px solid transparent;
//       content: '';
//       position: absolute;
//       top: 0;
//       left: -11px;
//       height: 100%;
//   }
.cheart i {
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
    color: #c7c7c7;
}

.cheart i:hover {
    color: red;
}

.code_red {
    color: red !important;
}

.heartAlready {
    color: red !important;
}

.lblContactAddress1 {
    color: #8e979b;
    font-size: 14px;
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 12px;
}

.lblContactAddress1 i {
    color: #1879fd;
    margin-right: 5px;
    font-size: 14px;
    width: 12px;
}

.p_box19 {
    padding: 25px 0px;
}

.main_p_tag {
    margin-bottom: 10px;
}

.seller_de {
    background-color: #ffffff;
    padding: 20px 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.s_pad_l {
    padding-left: 0;
}

.s_pad0 {
    padding: 0;
}

.seller_de h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #000;
}

.sel_p_img img {
    width: 100%;
}

.se_name_ h5 a {
    color: #1f174b;
    font-size: 15px;
    font-weight: 700;
}

.se_name_ h5 {
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
}

.se_name_ h5 a {
    color: #0088e3;
    font-size: 15px;
    font-weight: 700;
}

.se_name_ p {
    color: #a5a5a5;
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
}

.sel_p_img {
    height: 85px;
    width: 85px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    background-color: #ddd;
    border: 2px solid #0070dd;
}

.d_line {
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid #ededed;
}

.more_seller_details i {
    width: 15px;
    color: #0088e3;
}

.more_seller_details p {
    font-size: 13px;
    margin-bottom: 10px;
}

.more_seller_details .sm_text {
    font-size: 12px;
    color: #7b7b7b;
    margin-left: 2px;
}

.pro_description h4 {
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: unset;
}

.pro_description {
    padding: 15px 15px;
}

.mai_fe .col-lg-2 p {
    color: #000;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 13px;
}

.mai_fe .col-lg-2 img {
    width: 40px;
    margin-bottom: 10px;
}

.mai_fe .col-lg-2 {
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid lightgray;
}

.mai_fe .col-lg-2:last-child {
    border: 0;
}

.carousel-indicators .active {
    background: -webkit-linear-gradient( 0deg, rgb(0, 112, 187) 0%, rgb(0, 138, 231) 100%);
}

.value_data {
    font-size: 12px;
    color: #696969;
}

.mess_seller {
    background-color: #ffffff;
    padding: 20px 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.mess_seller h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #000;
}

.mess_seller .form-control {
    border-radius: 0;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #000;
    margin-bottom: 12px;
}

.mess_seller textarea {
    height: 150px;
}

.mess_seller .form-control:focus {
    border-color: #0088e3;
}

.mess_seller textarea {
    resize: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.mess_seller button {
    background: -webkit-linear-gradient( 0deg, rgb(0, 112, 187) 0%, rgb(0, 138, 231) 100%);
    padding: 7px 0px;
    width: 100%;
    color: #fff;
    font-size: 13px;
    margin-top: 0px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
}

.mess_seller button:hover {
    transition: 0.5s all;
    background: -webkit-linear-gradient( 0deg, rgb(0, 138, 231) 100%, rgb(0, 112, 187) 0%);
}

.key_fea {
    padding: 15px 15px;
}

.key_fea h4 {
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: unset;
}

.card a {
    display: block;
}

.mb-0 {
    font-size: 16px;
    color: #fff;
}

.rwborder {
    padding: 10px 0px;
    border-bottom: 1px solid #e8e8e8;
}

.rwborder:last-child {
    border-bottom: 0;
}

.rwborder p {
    font-size: 13px;
    color: #000;
    margin-bottom: 0;
}

.rwborder .main_tag {
    color: #0088e3;
    font-weight: 700;
}

.card-header {
    background: -webkit-linear-gradient( 0deg, rgb(0, 112, 187) 0%, rgb(0, 138, 231) 100%);
    border-radius: 0;
}

.card-header:first-child {
    border-radius: 0;
}

.main_feature_list {
    padding: 15px 15px;
}

.main_feature_list h4 {
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: unset;
}

.list_features {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list_features li {
    width: 49.5%;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 12px;
}

.list_features li i {
    width: 22px;
}

.fnone {
    color: red;
}

.fthere {
    color: green;
}

.main_dexp {
    padding: 15px 15px;
}

.main_dexp h4 {
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: unset;
}

.main_dexp p {
    font-size: 14px;
    margin-bottom: 0;
}

button:focus {
    outline: none;
}

.top_m_0 {
    margin-bottom: 0;
}

.q_n_section {
    padding: 15px 15px;
}

.q_n_section h4 {
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: unset;
}

.no_login p {
    font-size: 13px;
    color: #000;
    font-weight: 700
}

.question_list {
    font-size: 13px;
    font-weight: 700;
    color: #000
}

.que_list {
    font-size: 13px;
    font-weight: 700;
    color: #000;
    margin-bottom: 4px;
}

.ans_list {
    font-size: 13px;
    color: #000;
    margin-bottom: 0
}

.pad_l_0 {
    padding-left: 0;
}

.ques_color {
    color: #0088e3;
    margin-bottom: 0;
}

.detailPage_askQuestion {
    font-size: 13px;
}

.question_list span {
    font-weight: normal;
}

.inner_ans_view {
    margin-bottom: 15px;
    position: relative;
}

.inner_ans_view:before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #cacaca;
    position: absolute;
    top: 0;
    left: 0;
}

.seller_login_ textarea {
    font-size: 14px;
    color: #000;
    border-radius: 0;
    border: 1px solid #ccc;
    resize: none;
}

.seller_login_ button {
    background: -webkit-linear-gradient( 0deg, rgb(0, 112, 187) 0%, rgb(0, 138, 231) 100%);
    color: #fff;
    font-size: 14px;
    border: 0;
    margin-top: 12px;
    border-radius: 50px;
    padding: 8px 28px;
    transition: 0.5s all;
}

.buyer_login button:hover {
    transition: 0.5s all;
    background: -webkit-linear-gradient( 0deg, rgb(0, 138, 231) 100%, rgb(0, 112, 187) 0%);
}

.buyer_login textarea {
    font-size: 14px;
    color: #000;
    border-radius: 0;
    border: 1px solid #ccc;
    resize: none;
}

.buyer_login button {
    background: -webkit-linear-gradient( 0deg, rgb(0, 112, 187) 0%, rgb(0, 138, 231) 100%);
    color: #fff;
    font-size: 14px;
    border: 0;
    margin-top: 12px;
    border-radius: 50px;
    padding: 8px 28px;
    transition: 0.5s all;
}

.buyer_login button:hover {
    transition: 0.5s all;
    background: -webkit-linear-gradient( 0deg, rgb(0, 138, 231) 100%, rgb(0, 112, 187) 0%);
}

.blinking {
    animation: blinkingText 1.5s infinite;
}

@keyframes blinkingText {
    0% {
        color: red;
    }
    49% {
        color: transparent;
    }
    50% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: red;
    }
}

.answer_now {
    background: -webkit-linear-gradient( 0deg, rgb(0, 112, 187) 0%, rgb(0, 138, 231) 100%);
    color: #fff;
    font-size: 14px;
    border: 0;
    margin-top: 12px;
    border-radius: 50px;
    padding: 8px 28px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    margin-bottom: 20px;
}

.error_value_required {
    color: red;
    font-size: 13px;
}

.sold_out {
    position: relative;
    background: red;
    color: #fff;
    font-weight: 700;
    padding: 4px 20px;
    display: inline-block;
    text-align: right;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: -11px;
    position: relative;
}

.sold_out:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 11px solid red;
    border-left: 12px solid transparent;
    position: absolute;
    left: 0px;
    bottom: -11px;
}

.sold_out p {
    margin-bottom: 0
}


/* .seller_login_{
    display: none;
  } */


/* .buyer_login{
    display: none;
  }
   */


/* .qna_view{
    display: none;
  } */


/* --- media quesries  */

@media (min-width:320px) and (max-width:359px) {}

@media (min-width:320px) and (max-width:767px) {
    .pad320 {
        padding: 0;
    }
    .p_box19 h1 {
        font-size: 18px;
        margin-bottom: 4px;
        line-height: 26px;
    }
    .bread_list span {
        font-size: 13px;
    }
    .bread_list {
        margin-bottom: 15px;
    }
    .p_box19 {
        padding: 10px 0px;
    }
    .lblContactAddress1 {
        font-size: 12px;
    }
    .txc_left {
        text-align: left !important;
    }
    // .main_price_:before {
    //    display: none;
    // }
    .main_p_tag {
        margin-top: 10px;
    }
    // .main_price_:after {
    //    content: '';
    //    position: absolute;
    //    top: 0;
    //    right: -11px;
    //    width: 0;
    //    height: 0;
    //    border-bottom: 35px solid #3389e4;
    //    border-right: 11px solid transparent;
    // }
    .main_price_ {
        width: 95px;
        text-align: left;
    }
    .pro_description h4 {
        font-size: 16px;
    }
    .mai_fe .col-lg-2 img {
        width: 26px;
    }
    .mai_fe .col-lg-2 {
        border: 0;
        margin-bottom: 15px;
    }
    .pro_description {
        padding: 15px 15px 0 15px;
    }
    .top_m_0 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .key_fea h4 {
        font-size: 16px;
    }
    .card-body {
        padding: 5px 15px;
    }
    .mb-0 {
        font-size: 14px;
        color: #fff;
    }
    .main_feature_list h4 {
        font-size: 16px;
    }
    .list_features li {
        width: 100%;
        margin-bottom: 8px;
        font-size: 13px;
    }
    .seller_de {
        margin-top: 15px;
    }
    .seller_de h3 {
        font-size: 14px;
        text-align: center;
    }
    .se_name_ h5 a {
        font-size: 14px;
    }
    .mess_seller h3 {
        font-size: 14px;
    }
    .main_dexp p {
        font-size: 13px;
    }
    .main_dexp h4 {
        font-size: 16px;
    }
    .mtop8 {
        margin-top: 8px;
    }
    .a320 {
        position: absolute;
        bottom: 13px;
        right: 17px;
    }
    .q_n_section h4 {
        font-size: 16px;
    }
    .pad_l_0 {
        padding-left: 15px;
    }
    .inner_ans_view {
        margin-bottom: 20px;
    }
    .ques_color {
        margin-bottom: 8px;
    }
    .sold_out {
        font-size: 14px;
        margin-left: -8px;
        margin-top: 0;
    }
    .sold_out:before {
        border-top: 9px solid #0071bd;
        border-left: 8px solid transparent;
        bottom: -9px;
    }
    .pad_cal_0 .frow_1 {
        margin-bottom: 10px !important;
    }
    .more_details_car p {
        font-size: 13px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .p_box19 h1 {
        font-size: 18px;
        line-height: unset;
    }
    .pad_l_0 {
        padding-left: 15px;
    }
    .lblContactAddress1 {
        font-size: 12px;
    }
    .sold_out {
        font-size: 16px;
    }
    .main_price_ {
        font-size: 15px;
    }
    // .main_price_:before {
    // border-bottom: 32px solid #0073c0;
    // }
    .main_dexp h4 {
        font-size: 16px;
    }
    .mtop8 {
        margin-top: 8px;
    }
    .main_dexp p {
        font-size: 13px;
    }
    .pro_description h4 {
        font-size: 16px;
    }
    .mai_fe .col-lg-2 {
        border: 0;
        margin-bottom: 15px;
    }
    .mai_fe .col-lg-2 img {
        width: 32px;
    }
    .top_m_0 {
        margin: 0
    }
    .key_fea h4 {
        font-size: 16px;
    }
    .mb-0 {
        font-size: 14px;
        color: #fff;
    }
    .card-body {
        padding: 5px 5px;
    }
    .pad767l {
        padding-left: 0;
    }
    .pad_cal_0 .frow_1 {
        margin-bottom: 10px !important;
    }
}

@media (min-width:992px) and (max-width:1279px) {}

@media (min-width:1280px) and (max-width:1365px) {}

@media (min-width:1366px) and (max-width:1600px) {}


/* edit listing */

.lblContactAddress1 a {
    color: #8e979b;
}

.lblContactAddress1 a:hover {
    color: #1879fd;
}


/* star rating */


/* .stars {
cursor: pointer;
} */


/* .stars:hover .star polygon {
fill: #ffd055 !important;
} */


/* .stars .star {
float: left;
} */

.stars .star polygon {
    fill: #d8d8d8;
}


/* .stars .star:hover ~ .star polygon {
    fill: #d8d8d8 !important;
    } */

.stars[data-stars] .star polygon {
    fill: #ffd055;
}

.stars[data-stars="1"] .star:nth-child(1)~.star polygon {
    fill: #d8d8d8;
}

.stars[data-stars="2"] .star:nth-child(2)~.star polygon {
    fill: #d8d8d8;
}

.stars[data-stars="3"] .star:nth-child(3)~.star polygon {
    fill: #d8d8d8;
}

.stars[data-stars="4"] .star:nth-child(4)~.star polygon {
    fill: #d8d8d8;
}

.stars[data-stars="5"] .star:nth-child(5)~.star polygon {
    fill: #d8d8d8;
}


/* car jam block css */

.vehicleReport-block {
    margin: auto;
    padding: 20px 32px;
    background: #fff;
    text-align: -webkit-center;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.vehicleReport {
    /* background-color: #3488ff; */
    background: -webkit-linear-gradient( 0deg, rgb(0, 112, 187) 0%, rgb(0, 138, 231) 100%);
    text-align: center;
    padding: 10px 0;
    // width: 200px;
    height: 70px;
    border-radius: 50px;
}

.vehicleReport .title {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.vehicleReport .text {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}


/* seller mode edit */

.seller_mode {
    margin-bottom: 15px;
}

.main_detail_row:nth-child(odd) {
    background: #f8f8f8;
}

.main_detail_row {
    padding: 12px 0px;
}

.more_details_car p {
    margin-bottom: 0;
    color: #000;
    font-size: 14px;
}

.pad_cal_0 {
    padding: 0;
}

@media screen and (max-width:576px) {
    .nopaddingInMob {
        padding: 0 !important;
    }
}