<div class="row">
    <div class="inner_login_box d-flex align-items-center">
        <div class="main_frm">
            <h1>sign in</h1>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group frm_wrap">
                    <label><img src="./assets/login/user.svg">Email Address</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="Email address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>

                <div class="form-group frm_wrap">
                    <label><img src="./assets/login/password.svg">Password</label>
                    <input type="{{passwordType}}" placeholder="Password here" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>

                    <span class="toggle-password"><img title="Show password" (click)="togglePasswordType()"
              src="./assets/login/view_password.svg"></span>
                </div>

                <div class="row row_rember">
                    <div class="col-md-6 col-sm-6 col-6 rem0 pad_l">

                    </div>
                    <div class="col-md-6 col-sm-6 col-6  text-right pad_r">
                        <p class="forgot_p"><a [routerLink]="['/forgot']">Forgot password?</a></p>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary login_btn">Login</button>
                </div>

                <div class="don_t_acc">
                    <p>NOT REGISTERED? <a [routerLink]="['/signup']" class="ml-7 cr-register-call"><span>SIGN UP</span></a></p>
                </div>

            </form>
        </div>
    </div>
</div>

<loader *ngIf="loader"></loader>
<toast-notifications></toast-notifications>