<div class="inner_terms">
  <h1>TERMS OF SERVICE</h1>
  <h4>ACCEPTANCE OF TERMS</h4>
  <div class="terms_main_content">
    <div class="row">
      <div class="col-md-1 col-1">
        <span>1.</span>
      </div>
      <div class="col-md-11 col-11">
        <p>Welcome to Kwikz.nz.Your access and use of this Website (at www.Kwikz.nz) and Services (defined below) as
          set out below is conditional on your acceptance without modification of the terms, conditions and notices
          (collectively, "Terms of Service") contained herein. Your access to and use of this Website constitutes your
          unconditional agreement to all the Terms of Service for the time being as set out herein. Please read the
          following terms of services carefully.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-1">
        <span>2.</span>
      </div>
      <div class="col-md-11 col-11">
        <p>Kwikz reserves the right to vary the Terms of Service from time to time at its absolute discretion.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-1">
        <span>3.</span>
      </div>
      <div class="col-md-11 col-11">
        <p>It is your onus to check the Terms of Service regularly for updates. If you do not agree to any of the Terms
          of Service contained herein, please do not access or use this Website.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-1">
        <span>4.</span>
      </div>
      <div class="col-md-11 col-11">
        <p>You warrant that you are 18 years of age and have the necessary authority and capacity to enter into this
          agreement.</p>
      </div>
    </div>

    <div class="sec_2">
      <h4>PERSONAL AND NON-COMMERCIAL USE LIMITATION</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz grants to you an non exclusive limited non commercial license to use the website, strictly for
              personal use only.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create
              derivative works from, transfer, or sell any information, software, products or services obtained from,
              or through, this Website.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>DESCRIPTION OF SERVICE</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz is a platform that provides end users with access to Kwikz.nz database regarding car valuation,
              car sales, car insurance, renewal, scraping or exporting cars to selling cars. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>This includes discussion boards, product database, members listings, classifieds, news and articles
              (collectively, "Services").</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>USER CONDUCT</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>As a condition of your use of this Website, you warrant and undertake to Kiwkz.nz that you will not use
              this Website for any purpose that is illegal under any relevant laws or prohibited by the Terms of
              Service. You agree to refrain from the following: </p>
            <div class="pad_content">
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>a.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of
                    privacy and publicity) of others.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>b.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Post, distribute or disseminate any untrue, inappropriate, hateful, profane, defamatory, racially,
                    religiously, ethnically or sexually objectionable, infringing, obscene, indecent or unlawful topic,
                    name, material or information.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>c.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Impersonate any person or entity, including, but not limited to, a Kwikz official, forum moderator
                    or other Website end user, or falsely state or otherwise misrepresent your affiliation with a
                    person or entity.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>d.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>reverse engineer or exploit software , text, photographs and diagrams) that is protected by
                    intellectual property laws (or by rights of privacy or publicity) unless you own or control the
                    rights thereto or have received all necessary consents.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>e.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Post a link, upload or distribute any files that contain viruses, corrupted files, or any other
                    similar software or programs that may damage or degrade or otherwise prejudice the operation and
                    performance of another's computer.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>f.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Post or otherwise transmit any content that infringes any patent, trademark, trade secret,
                    copyright or other proprietary rights of any party.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>g.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Post or otherwise transmit any content that you do not have a right to transmit under any law or
                    under contractual or fiduciary relationships (such as inside information, proprietary and
                    confidential information learned or disclosed as part of employment relationships or under
                    non-disclosure agreements).</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>h.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Advertise or offer to sell any goods or services on a commercial basis in the Forums.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>i.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Unless otherwise authorized by kwikz.nz, vehicle and vehicle related industry manufacturers,
                    distributors, retailers, merchants, and the respective employees of such establishments are
                    prohibited from advertising or offering to sell any goods or services, on behalf or in the interest
                    of that establishment, in the Classifieds, Forums or any end-user Services/Facilities.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>j.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Conduct or forward through the Website surveys, contests, pyramid schemes or chain letters and
                    post/transmit any junk mail, spam or any unsolicited mass dissemination of email.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>k.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Falsify or delete any author attributions, legal or other proper notices or proprietary
                    designations or labels of the origin or source of software or other material contained in a file
                    that is uploaded.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>l.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Restrict or inhibit any other user from using and enjoying the Website and/or Services.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>m.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Promote or provide instructional information about illegal activities, promote physical harm or
                    injury against any group or individual, or promote any act of cruelty to animals. This may include,
                    but is not limited to, providing instructions on how to assemble bombs, grenades and other weapons,
                    and creating "Crush" sites.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>n.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Collect or store personal data about other users.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>o.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Violate the Forum Etiquette and Rules which is hereby incorporated by reference.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>p.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Use any robot, spider, other automatic device, or manual process to monitor or copy any pages
                    within the Website or the contents without Kwikz.nz’s prior written permission.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>q.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Use any device, software or routine to interfere or attempt to interfere with the proper working
                    of the Website.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>r.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>Take any action that imposes an unreasonable or disproportionately large load on Kwikz.nz's
                    servers.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>You also acknowledge and agree that any decision of Kwikz.nz under the Terms of Service shall be final,
              conclusive and binding upon you.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>GRANT OF LICENCE</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>You agree to grant (or warrant that the owner of such rights has expressly granted) Kwikz.nz an
              irrevocable, royalty-free, transferable and worldwide right and license to use, copy, modify, adapt,
              publish, translate, create derivative works from and sell and distribute content that you submit or
              contribute through product reviews, postings or testimonials without compensation to you.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>In addition, you warrant that all moral rights in those materials have been waived. None of the
              materials shall be subject to any obligation of confidence on the part of Kwikz.nz.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>EXTERNAL LINKS DISCLAIMER</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>This site and our mobile application may contain (or you may be sent through the site or our mobile
              application) links to other websites or content belonging to or originating from third parties or links
              to websites and feature sin banners or other advertising. Such external links are not investigated,
              monitored, or checked for accuracy, adequacy, validity, reliability, availability or completeness by us.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>WE DO NOT WARRANT, ENDORSE GUARANTEE, OR ASSUME RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY
              INFORMATION OFFERED BY THIRD PARTY WEBSITES LINKED THROUGH THE SITE OR ANY WEBSITE OR FEATURE LINKED
              THROUGH THE SITE OR ANY WEBSITE OR FEATURE LINKED IN ANY BANNER OR OTHER ADVERTISING. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>3.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND
              THIRD PARTY PROVIDERS OF PRODUCTS OR SERVICES. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>TERMINATION AND ACCESS RESTRICTION</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz, in its sole discretion, may terminate, ban or suspend your Kwikz.nz membership, use of the
              Services, and/or remove and discard any content within the Services, for any reason without prior notice,
              including, without limitation.</p>
            <div class="pad_content">
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>a.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>for lack of use;</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>b.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>if Kwikz.nz believes that you have violated any provision of the Terms of Service;</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>c.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>acting in a manner inconsistent with the objectives of the Website;</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>d.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>challenging the authority of any Kwikz.nz staff, employee or agent; or</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-1">
                  <span>e.</span>
                </div>
                <div class="col-md-11 col-11">
                  <p>displaying unruly, contemptuous or disrespectful behaviour towards any Kwikz.nz staff, employee or
                    agent.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz may also in its sole discretion and at any time discontinue providing the Services, or any part
              thereof, with or without notice. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>3.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz may without prior notice, deactivate or delete your Kwikz.nz Membership and all related
              information and files in your Kwikz.nz Membership and/or bar any further access to such files or the
              Services.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>4.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz shall not be liable to you or any third-party for any termination of your access to the
              Services.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>5.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz reserves the right to deny in its sole discretion your access to the Website, the Services or
              any portion thereof without ascribing any reason therefore and without prior notice.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>ADVERTISEMENTS AND PROMOTIONS</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz runs advertisements and promotions on the Website. By accessing the Website and/or using the
              Services, you agree that Kwikz.nz has the right to run such advertisements and promotions. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>You agree that Kwikz.nz shall not be responsible or liable for any loss or damage of any sort incurred
              as the result of any such dealings or as the result of the presence of such advertisers on the Services.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>CENSORSHIP</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz reserves the right at all times to disclose any information as necessary to satisfy any
              applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to
              remove any information or materials, in whole or in part, in Kwikz.nz's sole discretion.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz does not control or endorse the content, messages or information provided by users and,
              therefore, Kwikz.nz specifically disclaims any liability with regard to the communities and any actions
              resulting from your participation in any community. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>INDEMNITY</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>You are solely responsible and liable for any and all access, use and/or misuse of this Website and
              Services made under your User ID and Password (whether or not authorised by you). </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>You agree to indemnify and hold Kwikz.nz, the Website administrators, its subsidiaries, affiliates,
              officers, agents, co-branders or other partners, and employees, harmless from any claim or demand,
              including reasonable legal fees, made by any third party due to or arising out of your content, your
              access to the Website and use of the Services, your connection to the Services, this Website, your
              violation of the Terms of Service, or your violation of any rights of another.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>LIABILITY DISCLAIMER</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>The information, software, products, and services included on or through this Website may include
              inaccuracies or typographical errors. Kwikz.nz is not responsible for any such inaccuracies and/or
              errors, as it does not and cannot review all content posted on the Website.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>2.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>KWIKZ.NZ MAKES NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, TIMELINESS, AND ACCURACY OF THE
              INFORMATION, PRODUCTS, PRICES, SERVICES AND RELATED GRAPHICS CONTAINED ON THIS Website FOR ANY PURPOSE.
              ALL SUCH INFORMATION, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF
              ANY KIND. KWIKZ.NZ HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION,
              PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF
              MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>3.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>IN NO EVENT SHALL KWIKZ.NZ BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL,
              CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE,
              DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THIS Website, WITH
              THE DELAY OR INABILITY TO USE THIS Website, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY
              INFORMATION, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THIS Website, OR OTHERWISE ARISING
              OUT OF THE USE OF THIS Website, WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF
              KWIKZ.NZ HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. WHERE THE EXCLUSION OR LIMITATION OF LIABILITY
              FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES IS PROHIBITED BY LAW AND YOU ARE DISSATISFIED WITH ANY PORTION OF
              THIS Website, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING
              THIS Website.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-1">
            <span>4.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz is not responsible to you or any third party for your actions and activities on this Website
              (whether or not authorised by you) for any reason whatsoever including without limitation, your failure
              to comply with the spirit and the letter of the Terms of Service herein.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>MODIFICATION OF THESE TERMS AND CONDITIONS</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>Kwikz.nz reserves the right to change the terms, conditions, and notices under which this Website is
              offered, without prior notice to you.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec_2">
      <h4>GOVERNING LAW</h4>
      <div class="terms_main_content">
        <div class="row">
          <div class="col-md-1 col-1">
            <span>1.</span>
          </div>
          <div class="col-md-11 col-11">
            <p>These Terms of Service shall be governed and construed in accordance with the laws of New Zealand.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>