.terms_{
	padding: 75px 0px;
}

.inner_terms{
	background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    padding: 40px 30px;
}

.inner_terms h1{
	font-size: 20px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	// font-family: "Bold";
	margin-bottom: 20px;
}

.inner_terms h4{
	font-size: 20px;
	text-transform: uppercase;
	color: #5b5b5b;
	text-align: center;
	// font-family: "Medium";
}

.inner_terms p{
	color: #696969;
	font-size: 14px;
}

.terms_main_content{
	margin-top: 25px;
}

.terms_main_content .col-md-1{
	text-align: center;
}

.terms_main_content .col-md-11{
	padding-left: 0
}

.sec_2{
	margin-top: 25px;
}

@media (min-width:320px) and (max-width:767px) {
    .inner_terms {
        padding: 40px 15px;
    }
    .inner_terms h1 {
        font-size: 18px;
    }
    .inner_terms h4 {
        font-size: 16px;
    }
    .terms_main_content .col-md-1 {
        padding:0;
    }
    .terms_main_content .col-md-11 {
        padding: 0;
    }
}