a{
    text-decoration: none;
  }
  
  
  .container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  
  /* CLEARFIX */
  
  .cf:before,
  .cf:after {
      content: " ";
      display: table;
  }
  
  .cf:after {
      clear: both;
  }
  
  .cf {
      *zoom: 1;
  }
  
  .row{
    margin: 30px 0;
  }
  
  
  /* ALL LOADERS */
  
  
  
  /* LOADER 6 */
  
  #loader-6 span{
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #3498db;
    margin: 0 2px;
  }
  
  #loader-6 span:nth-child(1){
    animation: grow 1s ease-in-out infinite;
  }
  
  #loader-6 span:nth-child(2){
    animation: grow 1s ease-in-out 0.15s infinite;
  }
  
  #loader-6 span:nth-child(3){
    animation: grow 1s ease-in-out 0.30s infinite;
  }
  
  #loader-6 span:nth-child(4){
    animation: grow 1s ease-in-out 0.45s infinite;
  }
  
  @keyframes grow{
    0%, 100%{
      -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      transform: scaleY(1);
    }
  
    50%{
      -webkit-transform: scaleY(1.8);
      -ms-transform: scaleY(1.8);
      -o-transform: scaleY(1.8);
      transform: scaleY(1.8);
    }
  }