
@media (min-width:320px) and (max-width:767px) {

  .forgot_box{
      width:100%;
      padding: 30px 20px;
  }
  
  .forgot_box h4 {
      font-size: 18px;
      margin-bottom: 10px;
  }
  
  }
  
  @media (min-width:768px) and (max-width:991px) {
  // .forgot_box{
  //   width: 70%;
    
  // }
  }
  
    a:hover{
      text-decoration: none;
    }
    
    .forgot_box{
      width: 100%;
      margin: 0px auto;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      padding:30px 30px;
      background-color: #fff;
      border-radius: 4px;
    }
    
    .forgot_box h4{
      color: #0088e3;
        font-weight: 700;
        text-transform: capitalize;
        margin-top: 0;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 12px;
        line-height: initial;
    }
    
    .forgot_box .form-control{
        border-radius: 0;
        border: 1px solid #ccc;
        font-size: 13px;
        color: #000;
        height: 40px;
    
    }
    
    .forgot_box p{
      color: #9c9c9c;
      font-size: 13px;
    }
    
    .forgot_box .form-control:focus{
      outline: none !important;
      box-shadow: none;
    }
    
    .reset_button{
        background: -webkit-linear-gradient( 0deg, rgb(0,112,187) 0%, rgb(0,138,231) 100%);
        padding: 7px 0px;
        color: #fff;
        font-size: 13px;
        margin-top: 0px;
        border: 0;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 20px;
        width: 200px;
    }
    
    
    .for_password_input{
      text-align: center;
    }
    
    
    .reset_button:hover {
        transition: 0.5s all;
        background: -webkit-linear-gradient( 0deg, rgb(0,138,231) 100%, rgb(0,112,187) 0%);
    }
    
    .imputRequired{
      color: red;
    }
    
    
  
  