<div class="container-fluid nopadding">
  <div class="row nopadding">
    <div class="col-12 col-sm-12 col-md-2"></div>
    <div class="col-12 col-sm-12 col-md-8">
      <div class="forgot_box text-center">
        <h4>Forgot password</h4>
        <p>Please enter email associated with your account.</p>
        <div class="for_password_input">
          <input type="email" [(ngModel)]="emailID" placeholder="Your Email address" class="form-control" name="">
          <div *ngIf="validationCheck" class="imputRequired">Input Required</div>
          <button (click)="forgotPassword()" class="reset_button">Reset my Password</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2"></div>
  </div>
</div>

<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>