<div class="thnk_div" *ngIf="!token">
  <div class="container">
    <div class="inner_thnk">
      <img src="./assets/images/content/tick.png" class="tick_img">
      <h1>Thanks for reaching out!</h1>
      <h4>We will get touch with you soon.</h4>
      <a [routerLink]="['/']" class="back_to_home">Back to home</a>
    </div>
  </div>
</div>

<div class="thnk_div" *ngIf="token">
  <div class="container">
    <div class="inner_thnk">
      <img *ngIf="(token == 'invalid') && !isVerified" src="./assets/close.png" class="tick_img">
      <img *ngIf="(token != 'invalid') && !isVerified" src="./assets/help.png" class="tick_img">
      <img *ngIf="(token != 'invalid') && isVerified" src="./assets/images/content/tick.png" class="tick_img">
      <h1>{{text}}</h1>
      <h4 *ngIf="isVerified">Now you can Login and use the services.</h4>
      <a *ngIf="isVerified" [routerLink]="['/login']" class="back_to_home">Login</a>
    </div>
  </div>
</div>