.thnk_div{
	padding: 100px 0px;
	text-align: center;
	height: 100vh
}
.thnk_div h1{
	font-size: 36px;
	 color:#5b5b5b;
	 margin-bottom: 35px;
}

.tick_img{
	width: 60px;
	height: 60px;
	margin-bottom: 35px;
}
.thnk_div  h4{
	font-size:14px;
	color:#696969 
}

.back_to_home{
	margin-top: 35px;
	display: inline-block;
	 padding: 10px 16px;
	font-size: 12px;
	color: #fff;
	background: -webkit-linear-gradient(0deg,#0070bb,#008ae7);
	border-radius: 50px;
	text-transform: uppercase;
	text-decoration: none;
}

.back_to_home:hover {
    background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
    color: #fff
}

@media (min-width:320px) and (max-width:767px) {
    .thnk_div h1 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    
    .back_to_home {
        margin-top: 30px;
    }
}