<carousel [noWrap]="carousal.noWrapSlides" [showIndicators]="carousal.showIndicator" [interval]="carousal.myInterval"
  [(activeSlide)]="carousal.activeSlideIndex" [noPause]="carousal.noPauseIndicator">
  <!-- Image Slider -->
  <slide *ngFor="let item of carFeed">
    <div class="img_d_box">
      <img [src]="item.thumbnail" width="100%">
      <span class="box_price">${{item.amount}}</span>
      <i class="fa fa-heart box_like" aria-hidden="true"></i>
    </div>
    <div class="ext_info">
      <p class="cat_p"><a href="">{{item.body_style}}</a></p>
      <h5 class="nm_car"><a href="">{{item.title}} {{item.year_manufacture}}</a></h5>
      <p class="cat_p"><i class="fa fa-map-marker" aria-hidden="true"></i>{{item.location}}</p>
      <p class="cat_p"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>{{item.updated_at | dateFormat}}</p>
      <a class="vdbox" [routerLink]="item | posturl">View Details</a>
    </div>
  </slide>
</carousel>