<div class="row">
  <!-- <div class="col-12">
    <img src="./assets/svg/browse_listing_page.svg">
  </div> -->

  <div class="col-lg-3 col-md-12 col-sm-12 pad320">
    <app-filters></app-filters>
  </div>

  <div class="col-lg-9 col-md-12 col-sm-12 pad320">
    <div class="chip_filter" *ngIf="filterData && (
      currentTitleValue || currentMakeValue ||
      currentModelValue || fitlerFormYearFrom || fitlerFormYearTo ||
      fitlerFormKmsFrom || fitlerFormKmsTo || filterFormFuelType ||
      filterFormBodyType || filterFormTransmissionType || filterFormColor ||
      filterFormlistingId || fitlerFormPriceFrom || fitlerFormPriceTo ||
      filterFormLocation
    )">
      <p>Filters :</p>

      <div class="fchips_" *ngIf="currentTitleValue">
        <h6>Keyword :</h6>
        <div class="close_chip" (click)="currentTitleValue = '';getFilterPost()"><span>✕</span><span
            class="filter_name">{{currentTitleValue}}</span></div>
      </div>

      <div class="fchips_" *ngIf="currentMakeValue">
        <h6>Make :</h6>
        <div class="close_chip" (click)="currentMakeValue = '';getFilterPost()"><span>✕</span><span
            class="filter_name">{{currentMakeValue}}</span></div>
      </div>

      <div class="fchips_" *ngIf="currentModelValue">
        <h6>Model :</h6>
        <div class="close_chip" (click)="currentModelValue = '';getFilterPost()"><span>✕</span><span
            class="filter_name">{{currentModelValue}}</span></div>
      </div>

      <div class="fchips_" *ngIf="fitlerFormYearFrom && fitlerFormYearTo">
        <h6>Year :</h6>
        <div class="close_chip" (click)="fitlerFormYearFrom = '';fitlerFormYearTo = '';getFilterPost()"><span
            >✕</span><span
            class="filter_name">{{fitlerFormYearFrom}} -
            {{fitlerFormYearTo}}</span></div>
      </div>

      <div class="fchips_" *ngIf="fitlerFormPriceFrom && fitlerFormPriceTo">
        <h6>Price Range :</h6>
        <div class="close_chip" (click)="fitlerFormPriceFrom = '';fitlerFormPriceTo = '';getFilterPost()"><span
            >✕</span><span
            class="filter_name">${{fitlerFormPriceFrom}} -
            ${{fitlerFormPriceTo}}</span></div>
      </div>

      <div class="fchips_" *ngIf="fitlerFormKmsFrom && fitlerFormKmsTo">
        <h6>Kms Driven :</h6>
        <div class="close_chip" (click)="fitlerFormKmsFrom = '';fitlerFormKmsTo = '';getFilterPost()"><span
            >✕</span><span
            class="filter_name">{{fitlerFormKmsFrom}} -
            {{fitlerFormKmsTo}}</span></div>
      </div>

      <div class="fchips_" *ngIf="filterFormFuelType">
        <h6>Fuel Type :</h6>
        <div class="close_chip" (click)="filterFormFuelType = '';getFilterPost()"><span>✕</span><span
            class="filter_name">{{filterFormFuelType}}</span></div>
      </div>

      <div class="fchips_" *ngIf="filterFormBodyType">
        <h6>Body Type :</h6>
        <div class="close_chip" (click)="filterFormBodyType = '';getFilterPost()"><span>✕</span><span
            class="filter_name">{{filterFormBodyType}}</span></div>
      </div>

      <div class="fchips_" *ngIf="filterFormTransmissionType">
        <h6>Transmission Type :</h6>
        <div class="close_chip" (click)="filterFormTransmissionType = '';getFilterPost()"><span>✕</span><span class="filter_name">{{filterFormTransmissionType}}</span></div>
      </div>

      <div class="fchips_" *ngIf="filterFormColor">
        <h6>Color :</h6>
        <div class="close_chip" (click)="filterFormColor = '';getFilterPost()"><span>✕</span><span class="filter_name">{{filterFormColor}}</span></div>
      </div>

      <div class="fchips_" *ngIf="filterFormlistingId">
        <h6>Listing Id :</h6>
        <div class="close_chip" (click)="filterFormlistingId = '';getFilterPost()"><span>✕</span><span class="filter_name">{{filterFormlistingId}}</span></div>
      </div>

      <div class="fchips_" *ngIf="filterFormLocation">
        <h6>Location :</h6>
        <div class="close_chip" (click)="filterFormLocation = '';getFilterPost()"><span>✕</span><span class="filter_name">{{filterFormLocation}}</span></div>
      </div>
    </div>

    <div *ngIf="noResultFound">
      <div class="align-items-center">No Results Found</div>
    </div>
    <div *ngIf="postSkeleton">
      <!-- <div class="listing_restro" *ngFor="let i of skeletonArray"> -->
      <!-- <img src="./assets/svg/list_product.svg" style="width: 100%; margin-bottom: 10px"> -->
      <div class="listing_restro1 ng-star-inserted" *ngFor="let i of skeletonArray">
        <div class="list_v_ab">
          <div class="row">
            <div class="col-lg-4 col-md-4 pad_left pad320">
              <div class="imgrelative1"></div>
            </div>
            <div class="col-lg-8 col-md-8 pad_right pad320">
              <div class="list_desc1">
                <div class="price_tag1"></div>
                <h4></h4>
                <ul class="custom-list1">

                </ul>
                <p class="lblContactAddress1"></p>
                <p class="lblContactAddress1"></p>
                <ul class="facilities-list1 clearfix">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <hr class="new_hr">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-6 pad_left"><button class="list_view_detail1"></button>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-6 pad_right text-right">
                    <ul class="inview1">

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div *ngFor="let resultPost of resultPosts" class="listing_restro">
      <div class="list_v_ab">
        <div class="row">
          <div class="col-lg-4 col-md-4 pad_left pad320">
            <div class="imgrelative">
              <a *ngIf="!resultPost.thumbnail" [routerLink]="resultPost | posturl">
                <img src="./assets/images/nocarimage.jpg" class="img-responsive" width="100%">
              </a>
              <a *ngIf="resultPost.thumbnail" [routerLink]="resultPost | posturl">
                <img src="{{resultPost.thumbnail}}" class="img-responsive" width="100%">
              </a>
              <!-- <img *ngIf="resultPost.thumbnail" src="{{resultPost.thumbnail}}" class="img-responsive" width="100%"> -->
              <span (click)="addToWishlist(resultPost.id)" class="listing_heart hidden-xs"><i class="fa fa-heart"
                  aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 pad_right pad320">
            <div class="list_desc">
              <div class="price_tag">
                <span>${{resultPost.amount}}</span>
              </div>
              <h4><a [routerLink]="resultPost | posturl">{{resultPost.title}}
                  {{resultPost.year_manufacture}}</a></h4>
              <ul class="custom-list">
                <li>{{resultPost.make}} /</li>
                <li>{{resultPost.model}} /</li>
                <li>{{resultPost.body_style}}</li>
                <!-- <li>{{resultPost.model_detail}} /</li> -->
              </ul>

              <p class="lblContactAddress"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>{{resultPost.updated_at
                | dateFormat}}</p>
              <p class="lblContactAddress"><i class="fa fa-map-marker"
                  aria-hidden="true"></i><span>{{resultPost.location}}</span></p>
              <ul class="facilities-list clearfix">
                <li>
                  <img src="./assets/images/carlistingpage/road.png" title="Milage">
                  <span>{{resultPost.kilometers_used}}</span>
                </li>
                <li>
                  <img src="./assets/images/carlistingpage/fuel.png" title="Fuel Type">
                  <span>{{resultPost.fuel_type}}</span>
                </li>
                <li>
                  <img src="./assets/images/carlistingpage/gear.png" title="Gear Type">
                  <span>{{resultPost.transmission}}</span>
                </li>
                <li>
                  <img src="./assets/images/carlistingpage/002-motor.png" title="Engine size">
                  <span>{{resultPost.engine_size}}</span>
                </li>
                <li>
                  <img src="./assets/images/carlistingpage/spray.png" title="Color">
                  <span>{{resultPost.exterior_color}}</span>
                </li>
                <li>
                  <img src="./assets/images/carlistingpage/calender.png" title="Manufactured In">
                  <span>{{resultPost.year_manufacture}}</span>
                </li>
              </ul>
              <hr class="new_hr">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-6  pad_left">
                  <a [routerLink]="resultPost | posturl">
                    <button class="list_view_detail">View Details</button> </a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-6 pad_right text-right">
                  <ul class="inview">
                    <li><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;<span>{{resultPost.watchers}}</span></li>
                    <span class="bar_line">|</span>
                    <li><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;<span>{{resultPost.views_count}}</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="paginatedData">
      <div class="pagination">
        <a (click)="loadNextPagePosts(1)">«</a>
        <a *ngFor="let i of noOfPages" (click)="loadNextPagePosts(i)"
          [ngClass]="{'selected':(i==currentPage)}">{{i}}</a>
        <a (click)="loadNextPagePosts(lastPage)">»</a>
      </div>
      <!-- <button *ngIf="paginatedData && (lastPage >= nextUrl)" class="load-btn" (click)="loadMorePosts()">Load
        More</button> -->
    </div>
  </div>
</div>


<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>