.row {
  margin: 0 !important;
}
.load-btn {
  position: relative;
  background: -webkit-linear-gradient(0deg, #0070bb 0%, #008ae7 100%);
  color: #fff;
  font-weight: 700;
  padding: 4px 8px;
  width: 150px;
  display: inline-block;
  /* text-align: right; */
  font-size: 18px;
  border-radius: 4px;
  border: none;
}
a:hover {
  text-decoration: none;
}

.listing_restro {
  padding: 12px 10px;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.list_desc h4 a {
  color: #000;
  font-weight: 600;
}

.list_desc h4 a:hover {
  color: #1879fd;
}

.list_desc h4 {
  font-size: 18px;
  margin-bottom: 3px;
}

.pad_right {
  padding-right: 0;
}

.pad_left {
  padding-left: 0;
}

.listing_heart {
  position: absolute;
  color: #d0cdcd;
  top: 0px;
  cursor: pointer;
  font-size: 22px;
  left: 10px;
}

.listing_heart:hover {
  color: red;
}

.listing_heart_red {
  color: red;
}

.imgrelative {
  position: relative;
  background-color: #efefef;
  height: 180px;
  overflow: hidden;
}

.lblContactAddress {
  color: #8e979b;
  font-size: 13px;
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 12px;
}

.lblContactAddress i {
  color: #1879fd;
  margin-right: 5px;
  font-size: 14px;
  width: 14px;
}

.listed_date {
  font-size: 13px;
  color: lightgray;
  margin-bottom: 0;
}

.price_tag {
  position: absolute;
  top: 0;
  right: 0;
}

.price_tag span {
  position: relative;
  background: -webkit-linear-gradient(0deg, rgb(0, 112, 187) 0%, rgb(0, 138, 231) 100%);
  color: #fff;
  font-weight: 700;
  padding: 4px 8px;
  min-width: 75px;
  display: inline-block;
  text-align: right;
  font-size: 18px;
  border-radius: 4px;
}

// .price_tag span:before {
// width: 0;

//     border-bottom: 35px solid #0073c0;
//     border-left: 11px solid transparent;
//     content: '';
//     position: absolute;
//     top: 0;
//     left: -11px;
//     height: 100%;

// }

.custom-list {
  margin: 0;
  border-bottom: 1px solid #ededed;
  line-height: initial;
  padding: 0px 0px 4px 0px;
  margin-bottom: 5px;
}

.custom-list li {
  font-size: 10px;
  list-style: none;
  display: inline-block;
  padding-right: 5px;
  text-transform: uppercase;
}

.facilities-list {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.facilities-list li {
  list-style: none;
  width: 33%;
  float: left;
  font-size: 13px;

  margin-bottom: 12px;
  color: #5a5959;
  line-height: 15px;
}

.list_view_detail {
  font-size: 14px;
  padding: 7px 20px;
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #3d83e0;
  border-radius: 20px;
  background: -webkit-linear-gradient(0deg, rgb(0, 112, 187) 0%, rgb(0, 138, 231) 100%);
  transition: 0.5s all;
  border: 0;
}

.list_view_detail:hover {
  transition: 0.5s all;
  background: -webkit-linear-gradient(0deg, rgb(0, 138, 231) 100%, rgb(0, 112, 187) 0%);
}

button:focus {
  outline: none;
}

.new_hr {
  border-top: 1px solid #ededed;
  margin-top: 0;
  margin-bottom: 8px;
}

.inview {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 8px;
}
.inview li {
  display: inline-block;
  font-size: 13px;
}
.inview li i {
  color: #1879fd;
}
.bar_line {
  color: #cccccc;
}

/* media quesries  */

@media (min-width: 320px) and (max-width: 359px) {
}
@media (min-width: 320px) and (max-width: 767px) {
  .pad320 {
    padding: 0;
  }

  .imgrelative {
    margin-bottom: 15px;
    background-color: #efefef;
  }

  .price_tag {
    position: relative;
    margin-bottom: 10px;
  }
  // .price_tag span:before{
  //    display: none;
  // }
  // .price_tag span:after{
  //    content: '';
  //    position: absolute;
  //    top: 0;
  //    right: -11px;
  //    width: 0;
  //    height: 0;
  //    border-bottom: 35px solid #3389e4;
  //    border-right: 11px solid transparent;
  // }
  .price_tag span {
    text-align: left;
    width: 95px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1279px) {
}

@media (min-width: 1280px) and (max-width: 1365px) {
}

@media (min-width: 1366px) and (max-width: 1600px) {
}
.facilities-list li img {
  margin-right: 7px;
}
.inview li span {
  margin-left: 4px;
}
.bar_line {
  margin: 0 3px;
}

@media (min-width: 768px) {
  .list_desc h4 {
    padding-right: 110px;
  }
}
.pagination {
  text-align: center;
  padding: 20px 0;
}

.pagination a {
  // font-family: "Open Sans";
  font-size: 14px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: #222;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
  text-decoration: none;
  border-radius: 50%;
  font-weight: 700;
  margin: 0px 2px;
}

.pagination a:hover, .pagination a.selected {
  color: #fff;
  border-color: #0076c5;
  background: -webkit-linear-gradient(0deg,#0070bb 0,#008ae7 100%);
}



.listing_restro1 {
  padding: 12px 10px;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.pad_left {
  padding-left: 0;
}

.pad_right {
  padding-right: 0;
}

.inview1 {
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
  height: 20px;
  width: 60px;
  float: right
}

.list_view_detail1 {
  width: 120px;
  height: 35px;
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
  border: 0
}

.facilities-list1 {
  padding-left: 0
}

.facilities-list1 li {
  height: 20px;
  width: 130px;
  display: inline-block;
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
}

.lblContactAddress1 {
  height: 20px;
  width: 100px;
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
  display: inline-block;
}

.custom-list1 {
  height: 15px;
  width: 100px;
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
}

.list_desc1 h4 {
  height: 21px;
  width: 300px;
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
}

.price_tag1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 75px;
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
}

.imgrelative1 {
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
  position: relative;
  background-color: #efefef;
  height: 180px;
  overflow: hidden;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, .1)
  }
  50% {
    background-color: rgba(165, 165, 165, .3)
  }
  100% {
    background-color: rgba(165, 165, 165, .1)
  }
}

@-webkit-keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, .1)
  }
  50% {
    background-color: rgba(165, 165, 165, .3)
  }
  100% {
    background-color: rgba(165, 165, 165, .1)
  }
}

@media (min-width: 320px) and (max-width: 359px) {}

@media (min-width: 320px) and (max-width: 767px) {
  .pad320 {
    padding: 0;
  }
  .imgrelative1 {
    margin-bottom: 15px;
    background-color: #efefef;
  }
  .price_tag1 {
    position: relative;
    margin-bottom: 10px;
    width: 100px;
  }
  .list_desc1 h4 {
    height: 21px;
    width: 100%;
  }
  .facilities-list1 li {
    width: 85px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .facilities-list1 li {
    width: 125px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .facilities-list1 li {
    width: 108px;
  }
  .list_desc1 h4 {
    width: 262px;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {}

@media (min-width: 1366px) and (max-width: 1600px) {}











#accordion{
  background: white;
  border-radius: 5px;
  padding: 15px 10px;
  box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
}

.card{
  border: none !important;
  border-radius: 0;
  margin: 10px auto;
  padding: 10px;
}



.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}




.color-box {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 3px 6px;
  border: 1px solid;
}




/* Slider Component */
.noUi-horizontal{
    height: 7px !important;
  }
  .noUi-horizontal .noUi-handle{
    height: 16px !important;
  }
  .noUi-handle:after, .noUi-handle:before{
    height: 4px !important;
  }
  
  /*@import "/node_modules/nouislider/distribute/nouislider.min.css";*/
  
  /* ACCORDION */
  
  
  .card .card-header .card-link{
    color: #8e8e8e;
    font-size: 15px;
  }
  .panel-CustHeading{
    padding: 5px 15px;
    border: none !important;
    background: transparent;  
  }
  .toggle-class{
    background: url('https://www.kwikz.nz/assets/side_filter/active_arrow.svg') center top no-repeat;
    color: white;
    height: 14px;
    width: 14px;
    margin-top: 14px;
    display: block;     
  }
  
  a[aria-expanded="true"] span.toggle-class{
    background: url('https://www.kwikz.nz/assets/side_filter/hover_arrow.svg') center top no-repeat;
    color: white;
    height: 14px;
    width: 14px;
    display: block;  
  }
  .filtersSection{
    background-color: #eaeaea;
    text-align: left;
    padding: 20px;
    padding-bottom: 40px;
    min-height:800px;
  }
  
  .accordionHeading, .searchTitle{
      font-size:16px;
  }
  
  .searchField{
    padding-top:10px
  }
  
  .searchField{
      padding-top:10px;
    margin-bottom: 10px;
  }
  
  .padding-left-zero{
      padding-left:0;
  }
  
  
  
  .searchResultsTitle{
      font-size:24px;
      margin-top:10px;
  }
  
  .carbybodytype{
    width: 100%;
    margin-top: 15px;
      padding:0;
      left:0;
      display:inline-block;
  }
  
  .carbybodytype ul{
      display:inline-block;
      padding:0;
      left:0;
  }
  
  .accordion--section{
    border-bottom: 1px solid darkgray;
  }
  .input-group-shadow{
    background: none;
    border-bottom: 2px solid rgba(127, 161, 188, 0.68);
  }
  .input-box, .btn-customize{
    background: none;
  }
  .input-group>.form-control:first-child, .input-group>.custom-select:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .btn-customize:hover, .btn-customize:focus{
        background-color: white;
  }
  .filterDiv {
    float: left;
    color: #ffffff;
    width: 20px;
    height:20px;
    line-height: 25px;
    text-align: center;
    margin: 2px;
  }
  
  .show {
    display: block;
  }
  
  .container {
    overflow: hidden;
  }
  
  .filterDiv.red{background-color:red}
  .filterDiv.green{background-color:green}
  .filterDiv.black{background-color:black}
  .filterDiv.blue{background-color:blue}
  .filterDiv.grey{background-color:grey}
  .filterDiv.yellow{background-color:yellow}
  .filterDiv.orange{background-color:orange}
  
  
  /* Form */
  
  .frm_wrap {
      margin-bottom: 20px;
      position: relative;
  }
  
  .frm_wrap .form-control {
      border: 0;
      border-bottom: 2px solid rgba(127, 161, 188, 0.68);
      border-radius: 0;
      color: #606060;
      outline: none;
      font-size: 13px;
    width: 100%;
  }
  
  .form-control:focus {
      outline: none;
      box-shadow: none;
  }
  
  
  
  
  
  /* mobile filter  */
  
  
  .mo_filter{
      margin-top: 10px;
  }
  
  .serach_warp{
      position: relative;
  }
  
  .inner_mo_filter .form-control{
      border: 0;
      border-bottom: 2px solid rgba(127,161,188,.68);
      border-radius: 0;
      color: #606060;
      outline: none;
      font-size: 13px;
      font-weight: 600;
      width: 100%;
      background-color: transparent;
  }
  
  .form-control:focus{
      outline: none;
      box-shadow: none;
  }
  
  .sclick_{
      position: absolute;
      top: 50%;
      right: 0;
      background-color: transparent;
      border: 0;
      font-size: 14px;
      transform: translateY(-50%);
      color: #0073c0;
  }
  button:focus{
      outline: none;
      box-shadow: none;
  }
  
  .more_filter_mo{
      background: -webkit-linear-gradient( 0deg, rgb(0,112,187) 0%, rgb(0,138,231) 100%);
      border-radius: 5px 5px 5px 5px;
      margin-top: 20px;
         padding: 8px 12px;
  }
  
  .more_filter_mo p{
      color: #fff;
      font-size: 14px;
      margin-bottom: 0;
  }
  
  .more_filter_mo p i{
      margin-right: 5px;
  }
  
  .filter_box_mob{
      padding: 0px 0px;
      font-size: 13px;
      background-color: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      position: relative;
      display: none;
    
  }
  
  .filter_box_mob .close_down{
      background: -webkit-linear-gradient( 0deg, rgb(0,112,187) 0%, rgb(0,138,231) 100%);
      color: #fff;
      padding: 4px 6px;
      border-radius: 50px;
      position: absolute;
      bottom: -10px;
      left: 50%;
     margin: 0px auto;
      display: inline-block;
      transform: translateX(-50%);
      cursor: pointer;
      z-index: 1;
  }
  
  
  
  
  
  
  
  @media (min-width:320px) and (max-width:767px) {
    .mobileHide320{
      display: none;
     }
     .mo_filter{
       margin-bottom: 20px;
     }
    }

    .search-btn-div {
      position: absolute;
      border: 0;
      right: 0;
      top: 8px;
      z-index: 100000;
    }



    
a:hover{
  text-decoration: none;
}

button:focus,button:hover{
  outline: none;
}

.form-control:focus{
outline: none;
box-shadow: none;
border-bottom: 2px solid #008ae7 !important;
}

.filter_div{
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.06);
  border-radius: 5px;
}

.filters_text h4{
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
}

.filters_text{
  width: 70%;
  display: inline-block;
}

.clear_filter{
  width: 28%;
  display: inline-block;
}
.clear_filter span{
  color: #2874f0;
  font-size: 12px;
  vertical-align: text-bottom;
}

.wrap_1{
  padding: 15px 15px;
  // z-index: 99999;
  position: relative
}

.wrap_1:nth-child(13){
  border-bottom: 0 !important
}
.close_chip{
  cursor: pointer;
  font-size: 12px;
     background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
  border-radius: 3px;
  display: inline-block;
  padding: 1px 8px;
  margin-right: 0px;
  text-transform: capitalize;
      vertical-align: middle;
}

.close_chip span{
    margin-right: 5px;
    font-size: 11px;
    color: #fff;
    margin-right: 3px !important;
}

.fchips_{
  display: inline-block;
}

.close_chip:hover .filter_name {
  text-decoration: line-through;
}
.close_chip:hover {
  background-color: #008ae7;
}
.wrap_1 .accordion {
  background: none;
  color: #4d4d4d;
  cursor: pointer;
  padding:0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.active, .wrap_1 .accordion:hover {
 transition: 0.3s all;
}
.wrap_1 .accordion:after {
  content: '\f107';
  color: #008ae7;
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: normal
}
.wrap_1 .active:after {
  content: "\f106";
}
.wrap_1 .panel {
  // max-height: 0;
  max-height: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.inner_panel{
  padding: 10px 0px;
  font-size: 13px;
}
.wrap_1 .form-control{
  border: 0;
  border-bottom: 2px solid #e0e0e0;
  border-radius: 0;
  font-size: 14px;
  color: #636363;
}
.warp_in{
  position: relative
}
.warp_in button{
  position: absolute;
  top: 50%;
  right: 0;
  background-color: transparent;
  border: 0;
  transform: translateY(-50%);
  color: #909090;
  z-index: 99;
  cursor: pointer
}
.warp_in button:hover{
  color: #008ae7;
}

.check_div{
  margin-top: 10px;
  height: 250px;
  overflow-y: auto;
}

.container_01 {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
  font-weight: 600
}

.container_01 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
  border-radius: 4px;
}

.container_01:hover input ~ .checkmark {
  background-color: #ccc;
}

.container_01 input:checked ~ .checkmark {
  background: -webkit-linear-gradient(0deg,#0070bb,#008ae7);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_01 input:checked ~ .checkmark:after {
 display: block;
}

.container_01 .checkmark:after {
 left: 7.5px;
 top: 3px;
 width: 5px;
 height: 11px;
 border: solid white;
 border-width: 0 2px 2px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color:#2870bb;
    /* background-color: rgba(0,0,0,0.75); */
}

.chip_filter p{
    margin-bottom: 0;
    font-weight: 700;
    color: #0070bb;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin-right: 5px;

}
.fchips_{
    border: 0;
    background-color: #75b1da;
    padding: 1px 5px 4px 5px;
    border-radius: 4px;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
}

.fchips_ h6{
    margin-bottom: 0;
    font-size: 13px;
    display: inline-block;
  
}

.fchips_:hover{
  cursor: pointer;
} 

.fchips_ span {
    margin-right: 0px;
    font-size: 11px;
    color: #fff;
}

.f_close_chip{
    padding: 1px 4px 2px 4px;
    background-color: #015086;
    border-radius: 50%;
    font-weight: 700;
}



@media (min-width:320px) and (max-width:359px) {

}


@media (min-width:320px) and (max-width:767px) {

.link-paste {
   width: 100%;
}

.option_invite h2 {
 font-size: 24px;
 letter-spacing: 0px;
}

.chip_filter p{
  display: block;
  margin: 15px 0;
}

.main_bnner{
	width: 100%;
}

.hide768{
	display: none;
}

.inner_option_in {
  padding: 50px 0px 70px 0;
  background-size: cover;
}

.share_btn_s {
  width: 100%;
  padding: 14px 10px 13px 41px;
  margin-bottom: 22px;
}

.share_fb i {
   width: 50px;
}

.share_tw i {
   width: 50px;
}

.share_in i {
   width: 50px;
}

.share_wapp i {
  width: 50px;
}

.chip_contact p {
    font-size: 15px;
}

.chip_contact span {
    font-size: 13px;
}

.chip_img {
  width: 78px;
  height: 78px;
  left: 12px;
}

.divider_line {
 margin-top: 40px;
 margin-bottom: 40px;
}

.well {
  width: 100%;
  padding: 15px 20px 15px 15px;
  font-size: 13px;
  letter-spacing: 0;
  margin-top: 35px;

}

.personal_msg{
	width:100%;
	margin-top: 20px;
}
.personal_msg label {
   font-size: 13px;
   margin-bottom: 10px;
}
.personal_msg textarea {
    font-size: 13px;
  padding: 15px 15px;
}
.custom_email h5 {
	font-size: 16px;
	margin-bottom: 30px;
}
.custom_email{
	width: 100%;
}
.img_box3{
	width: 100px;
}
.img_box3 img{
	width: 100%;
}
.how_invite p {
    font-size: 15px;
}

.box3:before {
  display: none
}
.edit_contact {
  font-size: 15px;
 }

.chip_contact {
   padding: 16px 15px 16px 90px;
   margin-bottom: 20px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(44, 84, 206,.7);
  }
  70% {
      box-shadow: 0 0 0 15px rgba(44, 84, 206, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(44, 84, 206, 0);
  }
}

.inner_invite h2 {
   font-size: 20px;
}

.f_sign {
  font-size: 13px;
  color: #000;
  letter-spacing: 0px;
}

.get_started {
  font-size: 17px;
  letter-spacing: 1px;
}

.box3 {
 margin-bottom: 30px;
}

.option_invite {
    margin-top: 30px;
}
.top_inviter_p {
    font-size: 13px;
   letter-spacing: 0px;
}
.link-paste .form-control {
  font-size: 14px;
  padding: 0px 135px 0px 15px;
}

.link-paste button {
    padding: 0px 10px;
    font-size: 12px;
        line-height: 25px;
}
.share_link {
	font-size: 17px;
	letter-spacing: 1px;
}

.social_media h5 {
  font-size: 16px;
  margin-bottom: 30px;
}
.divider_line:before {
    content: 'or';
    top: -22px;
    width: 40px;
    height: 40px;
    line-height: 39px;
   font-size: 13px;
}

.import_contact h5 {
   font-size: 16px;
   margin-bottom: 30px;
}
.import_c a {
 width: 40px;
}
.import_contact ul li {

    margin-right: 25px;
}
.custom_email .form-control {
    font-size: 13px;
}

.terms_p {
margin-top: 5px;
}

.terms_p a {
    font-size: 12px;
}

.gift-card {
    width: 70px;
}

.custom_email label {
    font-size: 13px;
    margin-bottom: 10px;
}
}


@media (min-width:768px) and (max-width:991px) {

.main_bnner{
	width: 100%;
}

.hide768{
	display: none;
}

.inner_option_in {
	padding: 69px 0px 90px 0;
}

.share_btn_s {
  width: 100%;
  padding: 14px 10px 13px 41px;
  margin-bottom: 22px;
}

.share_fb i {
   width: 50px;
}

.share_tw i {
   width: 50px;
}

.share_in i {
   width: 50px;
}

.share_wapp i {
  width: 50px;
}

.chip_contact p {
    font-size: 18px;
}

.chip_img {
  width: 85px;
  height: 83px;
  left: 14px;
}
.divider_line {
 margin-top: 60px;
 margin-bottom: 60px;
}
.well {
    width: 100%;
}
.personal_msg{
	width:100%;
}
.custom_email{
	width: 100%;
}
.img_box3{
	width: 100px;
}
.img_box3 img{
	width: 100%;
}
.how_invite p {
    font-size: 15px;
        margin-top: 15px;
}
.box3:before {
    top: 39px;
   right: -49px;
}

.chip_contact {
    padding: 16px 15px 16px 100px;
    margin-bottom: 20px;
}

}

@media (min-width:992px) and (max-width:1279px) {

.main_bnner{
	width: 100%;
}

.share_btn_s {
  width: 100%;
  padding: 14px 10px 13px 41px;
}
.share_fb i {
   width: 35px;
}
.share_tw i {
   width: 35px;
}
.share_in i {
   width: 35px;
}
.share_wapp i {
  width: 35px;
}

.chip_contact p {
    font-size: 14px;
}
.chip_img {
    width: 77px;
    height: 77px;
}
.chip_contact {
 padding: 16px 15px 16px 85px;
}

.divider_line {
 margin-top: 60px;
 margin-bottom: 60px;
}

.well {
    width: 800px;
}
.personal_msg{
	width: 800px;
}
.custom_email{
	width: 800px;
}

 }

@media (min-width:1280px) and (max-width:1365px) {


}



@media (min-width:1366px) and (max-width:1600px) {

.well {
    width: 800px;
}
.personal_msg{
	width: 800px;
}
.custom_email{
	width: 800px;
}
.import_c a {
	width: 50px;
}


}
.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid;
  margin: 10px;
}