<div class="invalid_page">
    <div class="container text-center">
        <div class="wrap_invalid">
            <img src="./assets/svg/404.png" class="logo_error">
            <h1>Sorry, we couldn't find that page.</h1>
            <p>The page you're searching for doesn't exist anymore, either it has been<br> moved or the link is broken. Stay up to date by visiting our <a routerLink="/blogs">blog.</a></p>
            <div class="btn-group">
                <a class="btn-outline" routerLink="/help-center">Get in Touch with us</a>
                <a class="btn-primary" routerLink="/">Return to Homepage</a>
            </div>
            <div class="error-code large">
                Error Code: 404
            </div>
        </div>
    </div>
</div>