.invalid_page{
    padding: 0px 0;
    height: 100vh;
  }
  
  .invalid_page .logo_error{
  width: 175px;
  }
  
  .invalid_page h1{
    font-size: 32px;
    color: #4e4e4e;
    margin-top: 20px;
  }
  
  .invalid_page p{
    font-size: 17px;
    color: #4e4e4e;
    margin-top: 20px;
  }
  
  .btn-group {
      margin: 20px 0 35px 0;
  }
  
  .invalid_page .btn-group a.btn-outline {
      border: 2px solid #d7d7d7;
      color: #7e8081;
  }
  
  .invalid_page .btn-group a.btn-primary {
    background: -webkit-linear-gradient(0deg,#0070bb 0,#008ae7 100%);
    color: #fff;
  }
  
  .invalid_page .btn-group a {
      transition: 0.2s ease all;
      display: inline-block;
      padding: 10px 40px;
      font-size: 16px;
      border-radius: 3px;
      text-decoration: none;
      margin: 0 5px;
      font-weight: 600;
  }
  
  .invalid_page .btn-group a.btn-outline:hover {
      background: #d7d7d7;
      color: #495055;
      cursor: pointer;
  }
  
  .invalid_page .btn-group a.btn-primary:hover {
      transition: .5s all;
      background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
      border:0;
      cursor: pointer;
  }
  
  .large {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 1px;
      opacity: 0.5;
      color: #4e4e4e
  }
  
  .invalid_page .wrap_invalid{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      width: 90%;
     margin: 0px auto;
  }
  
  
  @media (min-width:320px) and (max-width:359px) {


}


@media (min-width:320px) and (max-width:767px) {

.invalid_page .logo_error {
    width: 80px;
}

.invalid_page h1 {
    font-size: 20px;
}

.invalid_page p {
    font-size: 14px;
    margin-top: 15px;
}

.invalid_page p br{
	display: none;
}

.btn-group {
    margin: 5px 0 20px 0;
}

.invalid_page .btn-group a {
   padding: 10px 10px;
   font-size: 13px;
}

.invalid_page .wrap_invalid{
	width: 95%;
}

.large {
 font-size: 14px;
}

}


@media (min-width:768px) and (max-width:991px) {


}

@media (min-width:992px) and (max-width:1279px) {

}

@media (min-width:1280px) and (max-width:1365px) {

}

@media (min-width:1366px) and (max-width:1600px) {



 }  