<div class="row">

  <div class="col-12 col-md-4 col-lg-3">
    <!-- <div class="top_banner_img d-block d-sm-block d-md-none">
      <a [routerLink]="['/sell-used-car']"> <img src="../assets/svg/web_banner_v02.jpg" width="100%">
      </a>
    </div> -->
    <app-filters></app-filters>
    <div class="ad_box d-none d-sm-none d-md-block">
      <div class="inner_ad_box">
        <h3>Hello,</h3>
        <p>Got a moment to share some feedback?</p>
        <div class="sure_btn text-right">
          <a [routerLink]="['/help-center']">Sure</a>
        </div>
      </div>
    </div>
    <!-- <button class="view_all_btn d-none d-sm-none d-md-block" style="width: 100%;margin-top: 20px;margin-bottom: 20px;"
      (click)="checkLogin()">Register As
      Dealer</button> -->
      <button class="view_all_btn d-none d-sm-none d-md-block" style="width: 100%;margin-top: 20px;margin-bottom: 20px;"
      (click)="checkLogin()">Business Account</button>
  </div>


  <div class="col-12 col-md-8 col-lg-9">

    <div class="top_banner_img d-none d-sm-none d-md-block">
      <a [routerLink]="['/sell-used-car']"> <img src="./assets/images/homePage/web_banner_v01.jpg" width="100%">
      </a>
    </div>

    <div class="top_banner_img d-block d-sm-block d-md-none">
      <a [routerLink]="['/sell-used-car']"> <img src="./assets/svg/web_banner_v02.jpg" width="100%">
      </a>
    </div>


    <div>
      <div class="row">
        <div class="col-6">
          <h1 class="latest_title">Latest Listing</h1>
        </div>
        <div class="col-6 text-right">
          <a class="view_all_btn" [routerLink]="['/used-cars-search']">View All</a>
        </div>
      </div>
      <div class="inner_slider_cars" *ngIf="!feedDataLoaded">
        <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carFeedSkeleton">
          <ngu-tile *nguCarouselDef="let item; let i = index">
            <div class="item ng-star-inserted">
              <div class="tile">
                <div class="img_d_box1">

                </div>
                <div class="ext_info">
                  <p class="cat_p1"></p>
                  <h5 class="nm_car1"></h5>
                  <p class="cat_p2"></p>
                  <p class="cat_p2"></p>
                  <button class="vdbox1"></button>
                </div>
              </div>
            </div>
          </ngu-tile>
        </ngu-carousel>
      </div>

      <div class="inner_slider_cars" *ngIf="feedDataLoaded && (feedData.length > 0)">
        <app-multi-item [carFeed]="feedData"></app-multi-item>
      </div>
    </div>



    <div class="d-flex">
      <div class="homeBanner"></div>
      <div class="searchResults">
        <p class="searchResultsTitle">By Body Type</p>
        <div class="carbybodytype row">
          <div class="col-sm-4 col-md-4 col-lg-4 col-6 col--25">
            <a [routerLink]="[filterUrl]" [queryParams]="{body_style:'Hatchback'}">
              <div class="car--box">
                <span class="hatchback car-blocks img-position"></span>
                <p class="car-type">Hatchback</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-6 col--25">
            <a [routerLink]="[filterUrl]" [queryParams]="{body_style:'Sedan'}">
              <div class="car--box">
                <span class="sedan car-blocks img-position"></span>
                <p class="car-type">Sedan</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-6 col--25">
            <a [routerLink]="[filterUrl]" [queryParams]="{body_style:'StationWagon'}">
              <div class="car--box">
                <span class="station-wagon car-blocks img-position"></span>
                <p class="car-type">Station Wagon</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-6 col--25">
            <a [routerLink]="[filterUrl]" [queryParams]="{body_style:'Suv'}">
              <div class="car--box">
                <span class="suv car-blocks img-position"></span>
                <p class="car-type">SUV</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-6 col--25">
            <a [routerLink]="[filterUrl]" [queryParams]="{body_style:'Classic'}">
              <div class="car--box">
                <span class="classic car-blocks img-position"></span>
                <p class="car-type">Classic</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-6 col--25">
            <a [routerLink]="[filterUrl]" [queryParams]="{body_style:'Utility'}">
              <div class="car--box">
                <span class="ute car-blocks img-position"></span>
                <p class="car-type">Utility</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-6 col--25">
            <a [routerLink]="[filterUrl]" [queryParams]="{body_style:'Convertibles'}">
              <div class="car--box">
                <span class="Convertibles car-blocks img-position"></span>
                <p class="car-type">Convertibles</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-6 col--25">
            <a [routerLink]="[filterUrl]" [queryParams]="{body_style:'Coupe'}">
              <div class="car--box">
                <span class="coupe car-blocks img-position"></span>
                <p class="car-type">Coupe</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-6 col--25">
            <a [routerLink]="[filterUrl]" [queryParams]="{body_style:'Van'}">
              <div class="car--box">
                <span class="van car-blocks img-position"></span>
                <p class="car-type">Van</p>
              </div>
            </a>
          </div>
        </div>
        <p class="searchResultsTitle">By Fuel Type</p>
        <div class="carByFuelType row">
          <div class="fuel-col-25 col-lg-3 col-md-3 col-sm-3 col-6">
            <a [routerLink]="[filterUrl]" [queryParams]="{fuel_type:'Petrol'}">
              <div class="fuel-box">
                <span class="petrol car-blocks img-position"></span>
                <p class="fuel-type">Petrol</p>
              </div>
            </a>
          </div>
          <div class="fuel-col-25 col-lg-3 col-md-3 col-sm-3 col-6">
            <a [routerLink]="[filterUrl]" [queryParams]="{fuel_type:'Diesel'}">
              <div class="fuel-box">
                <span class="diesel car-blocks img-position"></span>
                <p class="fuel-type">Diesel</p>
              </div>
            </a>
          </div>
          <div class="fuel-col-25 col-lg-3 col-md-3 col-sm-3 col-6">
            <a [routerLink]="[filterUrl]" [queryParams]="{fuel_type:'Hybrid'}">
              <div class="fuel-box">
                <span class="hybrid car-blocks img-position"></span>
                <p class="fuel-type">Hybrid</p>
              </div>
            </a>
          </div>
          <div class="fuel-col-25 col-lg-3 col-md-3 col-sm-3 col-6">
            <a [routerLink]="[filterUrl]" [queryParams]="{fuel_type:'Electric'}">
              <div class="fuel-box div--last">
                <span class="electric car-blocks img-position"></span>
                <p class="fuel-type">Electric</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="ad_box d-block d-sm-block d-md-none">
      <div class="inner_ad_box">
        <h3>Hello,</h3>
        <p>Got a moment to share some feedback?</p>
        <div class="sure_btn text-right">
          <a [routerLink]="['/help-center']">Sure</a>
        </div>
      </div>
    </div>
    <!-- <button class="view_all_btn d-block d-sm-block d-md-none" style="width: 100%;margin-top: 20px;margin-bottom: 20px;"
      (click)="checkLogin()">Register As
      Dealer</button> -->
    <button class="view_all_btn d-block d-sm-block d-md-none" style="width: 100%;margin-top: 20px;margin-bottom: 20px;"
      (click)="checkLogin()">Business Account</button>
  </div>


</div>