// @import "../../../styles.scss";

.red {
  color: red;
}
body {
  // font-family: "Kanit-regular";
}
.background-grey {
  background-color: #f8f8f8;
}
.col--100 {
  width: 100%;
  float: left;
}
.col--25 {
  float: left;
  margin-bottom: 15px;
}
.fuel-col-25 {
  width: 25%;
  float: left;
}
.div--last {
  margin-right: 0px !important;
}
p.searchResultsTitle,
p.carByFuelType {
  font-size: 20px;
  color: rgb(78, 78, 78);
  margin-top: 15px;
}
.homeBanner {
  background: url("https://www.kwikz.nz/assets/banner/ad_banner.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.car--box {
  padding: 20px 24px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
  box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
}
.car--box:hover {
  cursor: pointer;
}
.car--box > p {
  margin: 10px 0 0;
}
.carbybodytype li:hover {
  background: #ffffff;
}
.carbybodytype li a {
  text-decoration: none;
}
.car-blocks {
  height: 60px;
  display: block;
}
.car-type,
.fuel-type {
  // font-family: "Medium";
  font-size: 14px;
  color: #aaaaaa;
}
p.car-type:hover,
p.fuel-type:hover {
  color: #0070bb;
}
.img-position {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
span.hatchback {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/hatchback.svg");
}
span.hatchback:hover {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/hatchback-hover.svg");
}
span.sedan {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/sedan.svg");
}
span.sedan:hover {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/sedan-hover.svg");
}
span.station-wagon {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/stationwagon.svg");
}
span.station-wagon:hover {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/stationwagon-hover.svg");
}
span.suv {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/SUV.svg");
}
span.suv:hover {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/SUV-hover.svg");
}
span.classic {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/classic.svg");
}
span.classic:hover {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/classic-hover.svg");
}

span.ute {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/utility.svg");
}
span.ute:hover {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/utility-hover.svg");
}

span.Convertibles {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/Convertibles.svg");
}
span.Convertibles:hover {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/convertible-hover.svg");
}
span.coupe {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/coupe.svg");
}
span.coupe:hover {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/coupe-hover.svg");
}
span.van {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/van.svg");
}
span.van:hover {
  background-image: url("https://www.kwikz.nz/assets/images/homePage/icons/van-hover.svg");
}

.fuel-box {
  padding: 10px;
  max-height: 122px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
}
.carByFuelType .fuel-box p.fuel-type {
  margin-bottom: 0;
}
span.diesel {
  background: transparent url("https://www.kwikz.nz/assets/fuel_filters/diesel.svg") center top no-repeat;
}
span.diesel:hover {
  background-image: url("https://www.kwikz.nz/assets/fuel_filters/diesel_hover.svg");
}
span.petrol {
  background: transparent url("https://www.kwikz.nz/assets/fuel_filters/petrol.svg") center top no-repeat;
}
span.petrol:hover {
  background-image: url("https://www.kwikz.nz/assets/fuel_filters/petrol_hover.svg");
}
span.hybrid {
  background: transparent url("https://www.kwikz.nz/assets/fuel_filters/hybrid.svg") center top no-repeat;
}
span.hybrid:hover {
  background-image: url("https://www.kwikz.nz/assets/fuel_filters/hybrid_hover.svg");
}
span.electric {
  background: transparent url("https://www.kwikz.nz/assets/fuel_filters/electronic.svg") center top no-repeat;
}
span.electric:hover {
  background-image: url("https://www.kwikz.nz/assets/fuel_filters/electronic_hover.svg");
}

/*==========  Mobile First Method  ==========*/

@media (min-width: 320px) and (max-width: 767px) {
  .carByFuelType .col-6 {
    margin-bottom: 15px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .car--box {
    padding: 10px;
  }
  .fuel-box {
    padding: 15px;
    margin-right: 10px;
    box-sizing: border-box;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .car--box {
    padding: 20px 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .car--box {
    padding: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* slick sliders  */

.inner_slider_cars .slick-arrow {
  position: absolute;
  bottom: -60px;
  display: block;
  left: 0;
  border: 1px solid #3286e0;
  right: 0;
  margin: 0px auto;
  padding: 12px 13px;
  background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
}

.inner_slider_cars .slick-arrow:hover {
  background: -webkit-linear-gradient(0deg, #008ae7, #0070bb);
  cursor: pointer;
}

.inner_slider_cars .serv_l {
  left: -56px;
}

.inner_slider_cars .serv_r {
  right: -56px;
}

.inner_slider_cars .slick-slide {
  margin-left: 20px;
}

.inner_slider_cars .slick-list {
  margin-left: -20px;
}
.slick-slide {
  outline: none;
}

.img_d_box {
  height: 235px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.ext_info {
  padding: 15px 15px 15px 15px;
  background: #fff;
}

.cat_p {
  margin-bottom: 0;
  font-size: 13px;
  color: #82878a;
}
.cat_p i {
  color: #1879fd;
  width: 16px;
  text-align: center;
}

.cat_p a {
  font-size: 13px;
  color: #000;
}

.nm_car {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 700;
  // font-family: "Bold";
}

.box_price {
  position: absolute;
  bottom: 0;
  right: 0;
  background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
  color: #fff;
  padding: 6px 22px;
  font-weight: 700;
}

.box_like {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #8e979b;
  cursor: pointer;
}

.box_like:hover {
  color: red;
}

.main_fe_box {
  list-style: none;
  padding: 0;
  margin-bottom: 6px;
  margin-top: 6px;
}

.main_fe_box li {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 12px;
  color: #5a5959;
  line-height: 10px;
  margin-right: 15px;
}

.main_fe_box img {
  display: inline-block !important;
  vertical-align: middle;
  margin-right: 5px;
}

.main_fe_box span {
  vertical-align: middle;
}

.vdbox {
  font-size: 14px;
  padding: 7px 20px;
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #3d83e0;
  border-radius: 20px;
  background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
  border: 0;
  display: inline-block;
  margin-top: 15px;
}

.vdbox:hover {
  background: -webkit-linear-gradient(0deg, #008ae7 100%, #0070bb 0);
  color: #fff;
}

.zoom_img {
  transition: 0.5s all;
}

.slick-slide:hover .zoom_img {
  transition: 0.5s all;
  transform: scale(1.2);
}

@media (min-width: 320px) and (max-width: 359px) {
}

@media (min-width: 320px) and (max-width: 767px) {
  .img_d_box {
    height: 225px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img_d_box {
    height: 142px;
  }
  .box_price {
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .img_d_box {
    height: 195px;
  }
  .inner_slider_cars .serv_r {
    right: -41px;
  }
  .inner_slider_cars .serv_l {
    left: -41px;
  }
}
@media (min-width: 1280px) and (max-width: 1365px) {
  .img_d_box {
    height: 195px;
  }
}

@media (min-width: 1366px) and (max-width: 1600px) {
  .img_d_box {
    height: 230px;
  }
}

.view_all_btn {
  font-size: 14px;
  padding: 7px 20px;
  color: #fff;
  border-color: #3d83e0;
  border-radius: 20px;
  background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
  border: 0;
  display: inline-block;
}

.view_all_btn:hover {
  background: -webkit-linear-gradient(0deg, #008ae7 100%, #0070bb 0);
  color: #fff;
}

.slider_top {
  margin-top: 25px;
}
.latest_title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 6px;
  color: #4e4e4e;
  // font-family: "Black";
}

.banner_filter {
  margin-top: 15px;
}

.top_banner_img {
  margin-bottom: 25px;
}
/* slick sliders */

.latest_title,
.searchResultsTitle {
  color: #404040 !important;
  font-weight: 700;
  // font-family: "Black";
}

.ad_box {
  background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
  padding: 12px;
  border-radius: 5px;
  margin-top: 15px;
}

.inner_ad_box {
  border: 2px solid #fff;
  padding: 12px;
}

.inner_ad_box h3 {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}

.inner_ad_box p {
  font-size: 13px;
  color: #fff;
}

.sure_btn a {
  background: -webkit-linear-gradient(0deg, #004472, #004472);
  color: #fff;
  font-size: 15px;
  padding: 8px 25px 7px;
  display: inline-block;
  border-radius: 50px;
  line-height: initial;
  cursor: pointer;
}

.sure_btn a:hover {
  background: -webkit-linear-gradient(0deg, #fff, #fff);
  color: #000;
  cursor: pointer;
}
.img_d_box {
  height: 275px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  padding: 15px;
  img {
    min-width: 100%;
    height: 100%;
  }
}

.tile {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.img_d_box1 {
  height: 160px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
}

.ext_info {
  padding: 15px;
  background: #fff;
}
.cat_p1 {
  margin-bottom: 0;
  width: 50px;
  height: 19px;
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
}
.cat_p2 {
  margin-bottom: 0;
  width: 150px;
  height: 19px;
  margin-bottom: 5px;
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
}
.nm_car1 {
  height: 20px;
  width: 100%;
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
  margin-top: 5px;
}
.vdbox1 {
  width: 115px;
  height: 35px;
  border-radius: 20px;
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation: pulse 1s infinite ease-in-out;
  margin-top: 15px;
  border: 0;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

@-webkit-keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

@media (min-width: 320px) and (max-width: 359px) {
}

@media (min-width: 320px) and (max-width: 767px) {
  .img_d_box1 {
    height: 180px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img_d_box1 {
    height: 200px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .img_d_box1 {
    height: 160px;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
}

@media (min-width: 1366px) and (max-width: 1600px) {
}
