<div class="container" style="padding-top: 10%;">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center form-group">
      <div class="col-4">
        <mat-form-field style="width: 100%">
          <mat-chip-list #emailList>
            <!--Iterate by array of data and display a chip for eavh value.-->
            <mat-chip *ngFor="let email of emails" removable (removed)="onRemoveEmail(email)">
              {{email}}
              <!--Icon that is used as a button when 'removable' set to true.-->
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Enter emails" [matChipInputAddOnBlur]="true" [matChipInputFor]="emailList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addEmail($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <button mat-raised-button type="submit" color="primary">Submit</button>
      </div>
    </div>
  </form>
</div>