.row{
	margin: 0 !important
}

a:hover{
  text-decoration: none;
}


.main_sell_new{
    margin-top: 40px;
  
  }
  
  .inner_sell_new{
    background-color: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
      padding: 30px 20px;
      position: relative;
  }
  
  .inn_5{
  	margin-top: 95px
  }
  
  .inner_sell_new:before{
    content: '';
    width: 0;
    height: 0;
    border-bottom:539px solid #007fd4;
      border-left: 460px solid transparent;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
  }
  
  
  .h4_sell{
     font-size: 22px; 
     color: #0b76c7;
     // font-family: bold;
     margin-bottom: 15px;
      
  }
  
  .p_sell_new{
       font-size: 12px;
    color: #2f2f2f;
    margin-bottom: 5px;
    // font-family: medium;
  }
  
  
  .frre_list_sell{
      font-size: 18px;
          color: #0b76c7;
      margin-top: 20px;
      // font-family: bold;
      text-transform: capitalize;
  }
     
  
  .inner_sell_new ul{
      margin: 0;
      padding: 0;
      list-style: none;
  
  }
  .new_text{
  	font-size: 13px;
    margin-top: 15px;
    color: #8e8e8e;
  }
  
  .ul_sell_new{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px !important;
  }
  .martop0{
  	margin-top: 0 !important;
  }
  
  .ul_sell_new li{
    
    font-size: 12px;
    color: #4a4a4a;
    margin-bottom: 15px;
  }
  
  .ul_sell_new li img{
    width: 14px;
    margin-right: 8px;
    vertical-align: text-bottom;
  }
  
  .list_new_car{
    background: -webkit-linear-gradient( 0deg, rgb(0,112,187) 0%, rgb(0,138,231) 100%);
    padding: 7px 15px;
    color: #fff;
    font-size: 13px;
    margin-top: 0px;
    border: 0;
    // font-family: "bold";
    cursor: pointer;
    border-radius: 50px;
    margin-top: 13px;
  }
  
  .list_new_car:focus{
    box-shadow: none !important;
    outline: none !important
  }
  
  .list_new_car:hover {
      transition: 0.5s all;
      background: -webkit-linear-gradient( 0deg, rgb(0,138,231) 100%, rgb(0,112,187) 0%);
  }
  
  
  .video_kwikz{
     background-color: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
      margin-top: 50px;
  
  }
  
  .inner_kwikz_video{
    height: 375px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
  }
  
  .play_icon_kwikz{
    width: 80px;
    position: absolute;
  top: 50%;
  left: 0;
  right:0;
  margin: 0px auto;
  transform: translateY(-50%);
  }
  

  





  @media (min-width:320px) and (max-width:767px) {

    .pad320{
      padding: 0
    }
  
      .inner_sell_new {
         padding: 30px 15px;
          
      }
      .h4_sell {
          font-size: 18px;
          
      }
      .martop0 {
      margin-top: 15px !important;
  }
      .hidden_br320{
          display: none;
      }
      
      .frre_list_sell {
         font-size: 16px;
         margin-top: 15px;
             margin-bottom: 15px;
      }
      .ul_sell_new{
          width: 100%;
          margin-top: 0px !important
      }
      .inn_5{
          margin-top: 50px;
      }
      
      .inner_sell_new:before {
      border-bottom: 234px solid #007fd4;
      border-left: 345px solid transparent;
         
      }
      .inner_kwikz_video {
          height: 165px;
      }
      .play_icon_kwikz {
          width: 45px;
         
      }
      .video_kwikz{
          margin-top: 35px;
      }
      .fancybox-content{
          width: 100% !important;
          height: 35% !important;
          max-width: 100% !important;
      }
      }
      
      
      
      @media (min-width:768px) and (max-width:991px) {
      
      .inn_5{
          margin-top: 30px;
      }
       .fancybox-content{
          width: 95% !important;
          height: 400px !important;
        }
      
      .inn_5 img{
         width: 500px;
         margin: 0px auto;
         display: block;
      }
      
     .inner_sell_new:before {
          border-left: 690px solid transparent;
        border-bottom: 262px solid #007fd4;
    }
      
      .inner_kwikz_video {
          height: 275px;
      }
      
      
      }
      
      @media (min-width:992px) and (max-width:1279px) {
      
     
       .fancybox-content{
          width: 95% !important;
          height: 400px !important;
        }
      
      .inner_sell_new:before {
        border-left: 338px solid transparent;
      border-bottom: 602px solid #007fd4;
       }
      
      }