<!-- <div class="container"> -->
<div class="inner_sell_new">
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-6 pad320">
            <h4 class="h4_sell">At Kwikz: Selling your car is going to be a smooth ride!</h4>
            <p class="p_sell_new">Are you looking forward to selling your car? <a href="javascript:void()" (click)="checkLogin()">List Your Car for Free at Kwikz!</a></p>
            <p class="p_sell_new">Kwikz helps sellers to advertise their car online. Here, buying and selling cars is quick and hassle-free!</p>
            <p class="p_sell_new">Hurry, we’re offering free listing until further notice! <a href="javascript:void()" (click)="checkLogin()">Advertise your vehicle today!</a></p>
            <p class="p_sell_new"></p>
            <h4 class="frre_list_sell">Unique features</h4>
            <ul class="ul_sell_new">
                <li><img src="./assets/svg/blue-tick.png">Free listing until further notice. </li>
                <li><img src="./assets/svg/blue-tick.png">Zero success fees.</li>

            </ul>
            <ul class="ul_sell_new">
                <li><img src="./assets/svg/blue-tick.png">No hidden costs</li>
                <li><img src="./assets/svg/blue-tick.png">Direct communication (No third-party involvement)</li>

            </ul>

            <h4 class="frre_list_sell martop0">Other features</h4>
            <ul class="ul_sell_new">
                <li><img src="./assets/svg/blue-tick.png">Quick buying and selling procedure</li>
                <li><img src="./assets/svg/blue-tick.png">Re-list until sold</li>
                <li><img src="./assets/svg/blue-tick.png">Highly trustworthy and secure platform</li>

            </ul>
            <ul class="ul_sell_new">
                <li><img src="./assets/svg/blue-tick.png">Easy-filter options</li>
                <li><img src="./assets/svg/blue-tick.png">Upload up-to 20 photos</li>

            </ul>

            <p class="new_text">Kwikz is an awesome platform for Kiwis to sell their car! <a href="/signup">Sign up</a> today and sell your car for Free!</p>
            <button (click)="checkLogin()" class="list_new_car">Get Started</button>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-6 pad320">
            <div class="inn_5">
                <img src="./assets/svg/banner_fimage.png" class="img-responsive" width="100%">
            </div>
        </div>
    </div>
</div>
<div class="video_kwikz">
    <div class="inner_kwikz_video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/9LMSqJ8UuqM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
<!-- </div> -->