<div class="filter_div">
    <div class="wrap_1 wrap_2">
        <div class="filters_text">
            <h4>Filters</h4>
        </div>
        <div class="clear_filter text-right" *ngIf="currentTitleValue || 
            currentModelValue || fitlerFormYearFrom || fitlerFormYearTo ||
            fitlerFormKmsFrom || fitlerFormKmsTo || filterFormFuelType ||
            filterFormBodyType || filterFormTransmissionType || filterFormColor ||
            filterFormlistingId || fitlerFormPriceFrom || fitlerFormPriceTo ||
            filterFormLocation || currentMakeValue">
            <span><a href="javascript:void(0)" (click)="clearAllFilter()">Clear all</a></span>
        </div>
    </div>

    <div class="wrap_1 wrap_2">
        <div class="warp_in">
            <input type="text" class="form-control" style="padding-right: 30px;" placeholder="Search"
                [(ngModel)]="currentTitleValue" name="" #keyword id="keyword" (keyup.enter)="getFilterPost()">
            <button><i class="fa fa-search" aria-hidden="true" (click)="getFilterPost()"></i></button>
        </div>
    </div>


    <div (click)="mobileFilterMore()" class="more_filter_mo">
        <p><i class="fa fa-filter" aria-hidden="true"></i> More Advance Filters</p>
    </div>



    <div class="filter_box_mob">
        <i (click)="closeMobilefilter()" class="fa fa-times close_down" aria-hidden="true"></i>
        <div class="wrap_1">
            <button class="accordion" (click)="show.make = !show.make">Make</button>
            <div class="panel" [ngStyle]="{'height': show.make ? '100%' : 0 }">
                <div class="inner_panel">
                    <app-filter-loader *ngIf="uiLoader && uiLoader['make-loader']"></app-filter-loader>
                    <!-- <div style="position: relative;">
                        <ngx-ui-loader [hasProgressBar]="false" [loaderId]="'make-loader'"></ngx-ui-loader>
                    </div> -->
                    <mat-form-field *ngIf="!uiLoader['make-loader']" class="example-full-width">
                        <input type="text" (click)="makeFocus()" placeholder="Select make" aria-label="Number" matInput
                            [formControl]="makeControl" [(ngModel)]="currentMakeValue" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let make of filteredMake | async" [value]="make.make"
                                (onSelectionChange)="makeChanged(make)">
                                {{make.make}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="wrap_1">
            <button class="accordion" (click)="show.model = !show.model">Model</button>
            <div class="panel" [ngStyle]="{'height': show.model ? '100%' : 0 }">
                <div class="inner_panel">
                    <app-filter-loader *ngIf="uiLoader['model-loader']"></app-filter-loader>
                    <mat-form-field class="example-full-width" *ngIf="!uiLoader['model-loader']">
                        <input type="text" (focus)="modelFocus()" placeholder="Select model" aria-label="Number"
                            matInput [formControl]="modelControl" [(ngModel)]="currentModelValue"
                            [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let model of filteredModel | async" [value]="model.model"
                                (onSelectionChange)="modelChanged(model)">
                                {{model.model}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="wrap_1">
            <button class="accordion" (click)="show.year = !show.year">Year</button>
            <div class="panel" [ngStyle]="{'height': show.year ? '100%' : 0 }">
                <div class="inner_panel">
                    <p class="m0">Year From</p>
                    <mat-slider name="myYearFrom" class="example-margin" [max]="2020" [min]="1980" [step]="1"
                        [thumbLabel]="true" [(ngModel)]="fitlerFormYearFrom">
                    </mat-slider>
                    <br>

                    <p class="m0">Year To</p>
                    <mat-slider name="myYearTo" class="example-margin" [max]="2020" [min]="fitlerFormYearFrom"
                        [step]="1" [thumbLabel]="true" (input)="setManufactureYearTo(fitlerFormYearFrom, $event.value)"
                        [(ngModel)]="fitlerFormYearTo" (blur)="getFilterPost()">
                    </mat-slider>
                </div>
            </div>
        </div>
        <div class="wrap_1">
            <button class="accordion" (click)="show.price = !show.price">price range</button>
            <div class="panel" [ngStyle]="{'height': show.price ? '100%' : 0 }">
                <div class="inner_panel">
                    <p class="m0">Min Price</p>
                    <mat-slider name="minPrice1" [displayWith]="formatLabel" class="example-margin" [max]="200000"
                        [min]="1000" [step]="1000" [thumbLabel]="true" [(ngModel)]="fitlerFormPriceFrom">
                    </mat-slider>
                    <br>

                    <p class="m0">Max Price</p>
                    <mat-slider name="minPrice2" [displayWith]="formatLabel" class="example-margin" [max]="200000"
                        [min]="fitlerFormPriceFrom" [step]="1000" [thumbLabel]="true"
                        (input)="setMaxPrice(fitlerFormPriceFrom,  $event.value)" (blur)="getFilterPost()" [(ngModel)]="fitlerFormPriceTo">
                    </mat-slider>
                </div>
            </div>
        </div>
        <div class="wrap_1">
            <button class="accordion" (click)="show.kms = !show.kms">kms driven</button>
            <div class="panel" [ngStyle]="{'height': show.kms ? '100%' : 0 }">
                <div class="inner_panel">
                    <p class="m0">Min Kms Driven</p>
                    <mat-slider name="minKmsDriven" [displayWith]="formatLabel" class="example-margin" [max]="300000"
                        [min]="10000" [step]="10000" [thumbLabel]="true" [(ngModel)]="fitlerFormKmsFrom">
                    </mat-slider>
                    <br>

                    <p class="m0">Max Kms Driven</p>
                    <mat-slider name="maxKmsDriven" [displayWith]="formatLabel" class="example-margin" [max]="300000"
                        [min]="fitlerFormKmsFrom" [step]="10000" [thumbLabel]="true"
                        (input)="setKmsUsed(fitlerFormKmsFrom, $event.value)" (blur)="getFilterPost()" [(ngModel)]="fitlerFormKmsTo">
                    </mat-slider>
                </div>
            </div>
        </div>
        <div class="wrap_1">
            <button class="accordion" (click)="show.fuel = !show.fuel">fuel type</button>
            <div class="panel" [ngStyle]="{'height': show.fuel ? '100%' : 0 }">
                <div class="inner_panel">
                    <mat-form-field>
                        <mat-label>Select an option</mat-label>
                        <mat-select [(value)]="filterFormFuelType" (selectionChange)="getFuelType(filterFormFuelType)">
                            <mat-option [value]="fuelType" *ngFor="let fuelType of fuelTypeArray">{{fuelType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="wrap_1">
            <button class="accordion" (click)="show.body = !show.body">body type</button>
            <div class="panel" [ngStyle]="{'height': show.body ? '100%' : 0 }">
                <div class="inner_panel">
                    <mat-form-field>
                        <mat-label>Select an option</mat-label>
                        <mat-select [(value)]="filterFormBodyType" (selectionChange)="getBodyType(filterFormBodyType)">
                            <mat-option [value]="bodyType" *ngFor="let bodyType of bodyTypeArray">{{bodyType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="wrap_1">
            <button class="accordion" (click)="show.transmission = !show.transmission">transmission</button>
            <div class="panel" [ngStyle]="{'height': show.transmission ? '100%' : 0 }">
                <div class="inner_panel">
                    <mat-form-field>
                        <mat-label>Select an option</mat-label>
                        <mat-select [(value)]="filterFormTransmissionType"
                            (selectionChange)="getTransmissionType(filterFormTransmissionType)">
                            <mat-option [value]="transmission" *ngFor="let transmission of transmissionType">
                                {{transmission}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="wrap_1">
            <button class="accordion" (click)="show.color = !show.color">color</button>
            <div class="panel" [ngStyle]="{'height': show.color ? '100%' : 0 }">
                <div class="inner_panel">
                    <span class="color-box" style="background: silver" (click)="getColor('Silver')"></span>
                    <span class="color-box" style="background: white" (click)="getColor('White')"></span>
                    <span class="color-box" style="background: black" (click)="getColor('Black')"></span>
                    <span class="color-box" style="background: grey" (click)="getColor('Grey')"></span>
                    <span class="color-box" style="background: red" (click)="getColor('Red')"></span>
                    <span class="color-box" style="background: blue" (click)="getColor('Blue')"></span>
                    <span class="color-box" style="background: green" (click)="getColor('Green')"></span>
                </div>
            </div>
        </div>
        <div class="wrap_1">
            <button class="accordion" (click)="show.listing = !show.listing">Listing ID</button>
            <div class="panel" [ngStyle]="{'height': show.listing ? '100%' : 0 }">
                <div class="inner_panel">
                    <input type="text" [(ngModel)]="filterFormlistingId"
                        class="form-control input-box number-of-owners custm-input-design" id="listingId"
                        name="listingId" (input)="getListingId($event.target.value)" placeholder="Enter Listing Id" />
                </div>
            </div>
        </div>
        <div class="wrap_1 pb-15">
            <button class="accordion" (click)="show.location = !show.location">location</button>
            <div class="panel" [ngStyle]="{'height': show.location ? '100%' : 0 }">
                <div class="inner_panel">
                    <mat-form-field>
                        <mat-label>Select an option</mat-label>
                        <mat-select [(value)]="filterFormLocation" (selectionChange)="getLocation(filterFormLocation)">
                            <mat-option [value]="location" *ngFor="let location of locationArray">
                                {{location}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>

<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>