<div class="col-12 col-md-9">
  <div class="row">
    <!-- pages header -->
    <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a (click)="changePage(1);" [ngClass]="{'active btn-active' : (currentPage == 1)}"
            class="btn btn-notActive btn-active btn-circle carDetail-img">1</a>
          <p>Car Details</p>
        </div>
        <div class="stepwizard-step">
          <a (click)="changePage(2);" [ngClass]="{'active btn-active' : (currentPage == 2)}"
            class="btn btn-notActive btn-circle carListing-img" [attr.disabled]="currentPage < 2">2</a>
          <p>Listing Details</p>
        </div>
        <div class="stepwizard-step">
          <a (click)="changePage(3);" [ngClass]="{'active btn-active' : (currentPage == 3)}"
            class="btn btn-notActive btn-circle carPost-img" [attr.disabled]="currentPage < 3">3</a>
          <p>Photos</p>
        </div>
        <div class="stepwizard-step">
          <a (click)="changePage(4);" [ngClass]="{'active btn-active' : (currentPage == 4)}"
            class="btn btn-notActive btn-circle carConfirmation-img" [attr.disabled]="currentPage < 4">4</a>
          <p>Confirmation</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="col-12 col-md-9">
  <div class="row">

    <!-- Page 1 - Car Detail -->
    <div class="col-12 active nopaddingInMob" id="stepOne" [style.display]="(currentPage == 1) ? 'block' : 'none'">
      <!-- enter VIN to autofill -->
      <div class="form-group col-12 vin-block" id="vin">
        <label class="form-sub-hd" for="plateNumber">Please Enter Your Plate Number or VIN.</label>
        <input type="text" [disabled]="mode=='update'" [(ngModel)]="plateNumber" class="form-control" id="plate"
          placeholder="Enter your number plate or VIN" />
        <div class="btn-box">
          <button id="getCarDetails" [disabled]="mode=='update'" (click)="getCarDetails();" type="submit"
            class="btn custom-btn primaryButton btn-float-l">Get
            Car Details</button>
        </div>
      </div>
      <form role="form">
        <div class="vin-block">
          <p class="form-sub-hd" id="manual-details">Enter Your Car Details Manually</p>

          <!-- new car input boxes -->
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="make" class="">Make <span style="color: red;">*</span></label>
                <input auto-complete [disabled]="mode=='update'" [source]="makes" display-property-name="make"
                  value-property-name="make_id" [list-formatter]="makeFormatter" (valueChanged)="getModel($event)"
                  [(ngModel)]="newCar.make" type="text" class="form-control custm-input-design" id="make" name="make" />
                <p *ngIf="errMsg.make" class="errMsg">{{errMsg.make}}</p>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="carModel" class="">Model <span style="color: red;">*</span></label>
                <input auto-complete [disabled]="mode=='update'" [source]="models" display-property-name="model"
                  value-property-name="model_id" [list-formatter]="modelFormatter" (valueChanged)="getYears($event)"
                  [(ngModel)]="newCar.model" type="text" class="form-control custm-input-design" id="model"
                  name="model" />
                <p *ngIf="errMsg.model" class="errMsg">{{errMsg.model}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="model_detail" class="">Model Details</label>
                <input [(ngModel)]="newCar.model_detail" [disabled]="mode=='update'" type="text"
                  class="form-control model-detail custm-input-design required" id="model_detail" name="model_detail">
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="carYear" class="">Year Of Manufacture <span style="color: red;">*</span></label>
                <input auto-complete [source]="years" [disabled]="mode=='update'" display-property-name="year"
                  value-property-name="year" [list-formatter]="yearFormatter" [(ngModel)]="newCar.year_manufacture"
                  type="text" id="year_manufacture" name="year_manufacture"
                  class="form-control car-year custm-input-design">
                <p *ngIf="errMsg.year_of_manufacture" class="errMsg">{{errMsg.year_of_manufacture}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="kilometers_used" class="">Kilometres <span style="color: red;">*</span></label>
                <input [(ngModel)]="newCar.kilometers_used" type="text"
                  class="form-control kilometers_used custm-input-design" id="kilometers_used" name="kilometers_used">
                <p *ngIf="errMsg.latest_odometer_reading" class="errMsg">{{errMsg.latest_odometer_reading}}</p>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="exterior_color" class="">Exterior Colour <span style="color: red;">*</span></label>
                <input [(ngModel)]="newCar.exterior_color" type="text" id="exterior_color" name="exterior_color"
                  class="form-control exterior-colour custm-input-design">
                <p *ngIf="errMsg.main_colour" class="errMsg">{{errMsg.main_colour}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="fuel_type" class="">Fuel Type <span style="color: red;">*</span></label>
                <select class="form-control custm-input-design" id="fuel_type" name="fuel_type"
                  [(ngModel)]="newCar.fuel_type">
                  <option *ngFor="let kwikzFuelType of kwikzFuelTypes" [ngValue]="kwikzFuelType">{{kwikzFuelType}}
                  </option>
                </select>
                <!-- <input auto-complete [source]="kwikzFuelTypes" [(ngModel)]="newCar.fuel_type" type="text" class="form-control plate-number custm-input-design" id="fuel_type" name="fuel_type" /> -->
                <p *ngIf="errMsg.fuel_type" class="errMsg">{{errMsg.fuel_type}}</p>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="body_style" class="">Body Style <span style="color: red;">*</span></label>
                <select class="form-control custm-input-design" id="body_style" name="body_style"
                  [(ngModel)]="newCar.body_style">
                  <option *ngFor="let body_style of bodyStyles" [ngValue]="body_style">{{body_style}}</option>
                </select>
                <!-- <input auto-complete [source]="bodyStyles" [(ngModel)]="newCar.body_style" type="text" class="form-control plate-number custm-input-design" id="body_style" name="body_style" /> -->
                <p *ngIf="errMsg.body_style" class="errMsg">{{errMsg.body_style}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="doors" class="">Doors </label>
                <select class="form-control custm-input-design" id="door" name="door" [(ngModel)]="newCar.doors">
                  <option *ngFor="let door of doors" [ngValue]="door">{{door}}</option>
                </select>
                <!-- <input auto-complete [source]="doors" [(ngModel)]="newCar.doors" type="text" class="form-control car-doors custm-input-design" id="doors" name="doors"> -->
                <!-- <p *ngIf="errMsg.doors" class="errMsg">{{errMsg.doors}}</p> -->
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="cylinders" class="">Cylinders </label>
                <select class="form-control custm-input-design" id="cylinders" name="cylinders"
                  [(ngModel)]="newCar.cylinders">
                  <option *ngFor="let cylinder of cylinders" [ngValue]="cylinder">{{cylinder}}</option>
                </select>
                <!-- <input auto-complete [source]="cylinders" [(ngModel)]="newCar.cylinders" type="text" class="form-control cylinders custm-input-design" id="cylinders" name="cylinders" /> -->
                <!-- <p *ngIf="errMsg.cylinders" class="errMsg">{{errMsg.cylinders}}</p> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="engineSize " class="">Engine Size </label>
                <input [(ngModel)]="newCar.engine_size" type="text" class="form-control engine_size custm-input-design"
                  id="engine_size" name="engine_size" />
                <!-- <p *ngIf="errMsg.cc_rating" class="errMsg">{{errMsg.cc_rating}}</p> -->
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="transmission" class="">Transmission</label>
                <select class="form-control custm-input-design" id="transmission" name="transmission"
                  [(ngModel)]="newCar.transmission">
                  <option *ngFor="let transmission of transmissionTypes" [ngValue]="transmission">{{transmission}}
                  </option>
                </select>
                <!-- <input auto-complete [source]="transmissionTypes" [(ngModel)]="newCar.transmission" type="text" class="form-control transmissionType custm-input-design" id="transmission" name="transmission" /> -->
              </div>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-md-6 col-12">
                          <div class="form-group margin--15 col-12">
                              <label for="engineSize " class="">4WD <span style="color: red;">*</span></label>
                              <input [(ngModel)]="newCar.four_wd" type="text" class="form-control four_wd custm-input-design" id="four_wd" name="four_wd" />
                              <p *ngIf="errMsg.four_wd" class="errMsg">{{errMsg.four_wd}}</p>
                          </div>
                      </div> -->
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="no_of_seats" class="number-of-seats">Number Of Seats </label>
                <select class="form-control custm-input-design" id="no_of_seats" name="no_of_seats"
                  [(ngModel)]="newCar.no_of_seats">
                  <option *ngFor="let seat of noOfSeats" [ngValue]="seat">{{seat}}</option>
                </select>
                <!-- <input auto-complete [source]="noOfSeats" [(ngModel)]="newCar.no_of_seats" type="text" class="form-control number-of-seats custm-input-design" id="no_of_seats" name="no_of_seats" /> -->
                <!-- <p *ngIf="errMsg.number_of_owners" class="errMsg">{{errMsg.number_of_owners}}</p> -->
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="no_of_owners" class="number-of-owners">Number Of Owners </label>
                <select class="form-control custm-input-design" id="no_of_owners" name="no_of_owners"
                  [(ngModel)]="newCar.no_of_owners">
                  <option *ngFor="let owner of noOfOwners" [ngValue]="owner">{{owner}}</option>
                </select>
                <!-- <input auto-complete [source]="noOfOwners" [(ngModel)]="newCar.no_of_owners" type="text" class="form-control number-of-owners custm-input-design" id="no_of_owners" name="no_of_owners" /> -->
                <!-- <p *ngIf="errMsg.number_of_owners" class="errMsg">{{errMsg.number_of_owners}}</p> -->
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="import_history" class="">Import History</label>
                <select class="form-control custm-input-design" id="import_history" name="import_history"
                  [(ngModel)]="newCar.import_history">
                  <option *ngFor="let history of importHistories" [ngValue]="history">{{history}}</option>
                </select>
                <!-- <input auto-complete [source]="importHistories" [(ngModel)]="newCar.import_history" type="text" class="form-control custm-input-design" id="import_history" name="import_history" /> -->
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="registration_exp" class="">Registration Expires </label>
                <select class="form-control custm-input-design" id="registration_exp" name="registration_exp"
                  [(ngModel)]="newCar.registration_exp">
                  <option *ngFor="let exp of registrationExpires" [ngValue]="exp"> {{exp}} </option>
                </select>
                <!-- <input auto-complete [source]="registrationExpires" [(ngModel)]="newCar.registration_exp" type="text" class="form-control custm-input-design" id="registration_exp" name="registration_exp" /> -->
                <!-- <p *ngIf="errMsg.licence_expiry_date" class="errMsg">{{errMsg.licence_expiry_date}}</p> -->
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="Wof_expires" class="">WOF Expires </label>
                <select class="form-control custm-input-design" id="Wof_expires" name="Wof_expires"
                  [(ngModel)]="newCar.Wof_expires">
                  <option *ngFor="let exp of wofExpires" [ngValue]="exp"> {{exp}} </option>
                </select>
                <!-- <input auto-complete [source]="wofExpires" [(ngModel)]="newCar.Wof_expires" type="text" class="form-control custm-input-design" id="Wof_expires" name="Wof_expires" /> -->
                <!-- <p *ngIf="errMsg.expiry_date_of_last_successful_wof" class="errMsg">{{errMsg.expiry_date_of_last_successful_wof}}</p> -->
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 col-12">
              <div class="form-group margin--15 col-12">
                <label for="Plate_no_VIN" class="carPlate">Number Plate <span style="color: red;">*</span></label>
                <input [(ngModel)]="newCar.Plate_no_VIN" [disabled]="mode=='update'" type="text" id="Plate_no_VIN"
                  name="Plate_no_VIN" class="form-control custm-input-design" />
                <p *ngIf="errMsg.plate" class="errMsg">{{errMsg.plate}}</p>
              </div>
            </div>
          </div>

          <!-- Features  -->
          <div class="row rw-mr-top">
            <div class="col-12">
              <label class="form-sub-hd featureClass" for="carFeatures">Features</label>
              <p class="select_feature">Select features available in your car</p>
            </div>
            <div class="col-md-6 col-12 bg">
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.abs_brakes" type="checkbox" class="form-check-input" id="abs_brakes"
                  name="abs_brakes">
                <label class="form-check-label" for="abs_brakes">ABS Brakes</label>
                <span class="span_pseudo" (click)="newCar.abs_brakes = !newCar.abs_brakes"></span>
              </div>
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.alarm" type="checkbox" class="form-check-input" id="alarm" name="alarm">
                <label class="form-check-label" for="alarm">Alarm</label>
                <span class="span_pseudo" (click)="newCar.alarm = !newCar.alarm"></span>
              </div>
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.central_locking" type="checkbox" class="form-check-input"
                  id="central_locking" name="central_locking">
                <label class="form-check-label" for="central_locking">Central Locking</label>
                <span class="span_pseudo" (click)="newCar.central_locking = !newCar.central_locking"></span>
              </div>
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.passenger_airbag" type="checkbox" class="form-check-input"
                  id="passenger_airbag" name="passenger_airbag">
                <label class="form-check-label" for="passenger_airbag">Passenger Airbag</label>
                <span class="span_pseudo" (click)="newCar.passenger_airbag = !newCar.passenger_airbag"></span>
              </div>
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.sunroof" type="checkbox" class="form-check-input" id="sunroof"
                  name="sunroof">
                <label class="form-check-label" for="sunroof">Sunroof</label>
                <span class="span_pseudo" (click)="newCar.sunroof = !newCar.sunroof"></span>
              </div>
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.stereo" type="checkbox" class="form-check-input" id="stereo" name="stereo">
                <label class="form-check-label" for="stereo">Stereo</label>
                <span class="span_pseudo" (click)="newCar.stereo = !newCar.stereo"></span>
              </div>
            </div>
            <div class="col-sm-6 col-12 bg">
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.air_conditioning" type="checkbox" class="form-check-input"
                  id="air_conditioning" name="air_conditioning">
                <label class="form-check-label" for="air_conditioning">Air Conditioning</label>
                <span class="span_pseudo" (click)="newCar.air_conditioning = !newCar.air_conditioning"></span>
              </div>
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.alloy_wheels" type="checkbox" class="form-check-input" id="alloy_wheels"
                  name="alloy_wheels">
                <label class="form-check-label" for="alloy_wheels">Alloy Wheels</label>
                <span class="span_pseudo" (click)="newCar.alloy_wheels = !newCar.alloy_wheels"></span>
              </div>
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.driver_airbag" type="checkbox" class="form-check-input" id="driver_airbag"
                  name="driver_airbag">
                <label class="form-check-label" for="driver_airbag">Driver Airbag</label>
                <span class="span_pseudo" (click)="newCar.driver_airbag = !newCar.driver_airbag"></span>
              </div>
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.power_steering" type="checkbox" class="form-check-input" id="power_steering"
                  name="power_steering">
                <label class="form-check-label" for="power_steering">Power Steering</label>
                <span class="span_pseudo" (click)="newCar.power_steering = !newCar.power_steering"></span>
              </div>
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.towbar" type="checkbox" class="form-check-input" id="towbar" name="towbar">
                <label class="form-check-label" for="towbar">Towbar</label>
                <span class="span_pseudo" (click)="newCar.towbar = !newCar.towbar"></span>
              </div>
              <div class="form-check custom_cb">
                <input [(ngModel)]="newCar.four_wd" type="checkbox" class="form-check-input" id="four_wd"
                  name="four_wd">
                <label class="form-check-label" for="four_wd">4WD</label>
                <span class="span_pseudo" (click)="newCar.four_wd = !newCar.four_wd"></span>
              </div>
            </div>
          </div>

          <!-- Description -->
          <div class="row rw-mr-top">
            <div class="col-12">
              <div class="form-group">
                <label class="form-sub-hd" for="comment">Description:</label>
                <textarea [(ngModel)]="newCar.desc" class="form-control" rows="4" id="description"
                  name="description"></textarea>
              </div>
            </div>
          </div>

          <!-- Next button -->
          <div class="btn-box">
            <button type="submit" class="btn custom-btn btn-primary nextBtn primaryButton btn-float-l"
              (click)="isValidateOne();">Next</button>
          </div>

        </div>
      </form>
    </div>

    <!-- Page 2 - Listing Detail -->
    <div class="col-12 active nopaddingInMob" id="stepTwo" [style.display]="(currentPage == 2) ? 'block' : 'none'">
      <form role="form">
        <div class="col-12 vin-block">
          <!-- <div class="row">
                      <div class="col-12 col-md-6">
                          <div class="form-group">
                              <label for="listingType">Listing Duration <span style="color: red;">*</span></label>
                              <input auto-complete [source]="listingDurations" display-property-name="listing_duration_fixed_length" [(ngModel)]="newCar.listing_duration_fixed_length" type="text" class="form-control plate-number custm-input-design" id="fixedLength" name="listing_duration_fixed_length" />
                              <p *ngIf="errMsg.listing_duration_fixed_length" class="errMsg">{{errMsg.listing_duration_fixed_length}}</p>
                          </div>
                      </div>
                  </div> -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group margin--15 col-12">
                <label for="carKilometres " class="">Asking Price $ <span style="color: red;">*</span></label>
                <input [(ngModel)]="newCar.amount" type="number" name="asking_price"
                  class="form-control custm-input-design plate-number" id="" placeholder="0.00">
                <p *ngIf="errMsg.amount" class="errMsg">{{errMsg.amount}}</p>
              </div>
            </div>
            <!-- <div class="col-md-6 col-12">
                          <div class="form-group margin--15 col-12 bg">
                              <div class="form-check custom_cb">
                                  <input [(ngModel)]="newCar.near_offer" class="form-check-input" type="checkbox" value="1" name="near_offer" id="near_offer">
                                  <label class="form-check-label" for="nearOffer">Near Offer </label>
                                  <span class="span_pseudo"></span>
                                  <p *ngIf="errMsg.near_offer" class="errMsg">{{errMsg.near_offer}}</p>
                              </div>
                          </div>
                      </div> -->
          </div>

          <div class="row">
            <!-- <div class="col-12 col-md-6">
                          <div class="form-group">
                              <label for="min_amount" class="">Minimum value </label>
                              <input [(ngModel)]="newCar.min_amount" type="text" class="form-control plate-number custm-input-design" id="min_amount" name="min_amount" placeholder="" />
                               <p *ngIf="errMsg.minimum_value" class="errMsg">{{errMsg.minimum_value}}</p>
                           </div>
                      </div> -->
          </div>

          <div class="row form-group">
            <div class="col-12">
              <label for="listingType" class="">On Road Costs </label>
              <!-- <p *ngIf="errMsg.onroad" class="errMsg">{{errMsg.onroad}}</p> -->
            </div>
            <div class="col-md-6 col-12">
              <div class="form-check form-check-inline">
                <input [(ngModel)]="newCar.onroad_costexcluded" class="form-check-input" type="checkbox" value="1"
                  name="onroad_costexcluded" id="onroad_costexcluded" (change)="onRoadChange('exclude')">
                <label class="form-check-label" for="excludedRoadCost">Excluded - Additional Costs May Apply</label>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-check form-check-inline">
                <input [(ngModel)]="newCar.onroad_costincluded" class="form-check-input" type="checkbox" value="1"
                  name="onroad_costincluded" id="onroad_costincluded" (change)="onRoadChange('include')">
                <label class="form-check-label" for="includedRoadCost">Included - Vehicle Is Legally Road-Worthy</label>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6 col-12">
              <label for="bestContactTime" class="">Best Contact Time</label>
              <input [(ngModel)]="newCar.best_contact_time" type="text"
                class="form-control plate-number custm-input-design" id="best_contact_time" name="best_contact_time" />
              <!-- <p *ngIf="errMsg.best_contact_time" class="errMsg">{{errMsg.best_contact_time}}</p> -->
            </div>
            <div class="col-md-6 col-12">
              <label for="carLocation" class="">Location <span style="color: red;">*</span></label>
              <ng4geo-autocomplete [userSettings]="autoCompleteSettings"
                (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
              <!-- <label for="bestContactTime" class="">Selected Address</label> -->
              <!-- <input [(ngModel)]="newCar.location" type="text" class="form-control plate-number custm-input-design"
                id="location" name="location" /> -->
              <i class="icon-search"></i>
              <p *ngIf="errMsg.location" class="errMsg">{{errMsg.location}}</p>
            </div>
          </div>
          <div class="btn-box">
            <button type="submit" class="btn custom-btn prevBtn primaryButton btn-float-l"
              (click)="checkStep(1,1);">Previous</button>
            <button type="submit" class="btn custom-btn nextBtn primaryButton btn-float-r"
              (click)="isValidateTwo();">Next</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Page 3 - Photos -->
    <div class="col-12 active nopaddingInMob" id="stepThree" [style.display]="(currentPage == 3) ? 'block' : 'none'">
      <div class="col-12 vin-block">
        <p id="manual-details" class="form-sub-hd">Please Select Picture To Upload</p>
        <div (drop)="setImages($event, 1);" (dragover)="onDragOver($event)"
          class="drop-container upload-drop-zone d-flex flex-column justify-content-center align-items-center">
          <div (click)="openFileInput();" class="file-upload"></div>
          <span>Just Drag And Drop Files Here Or
            <label class="upload-button">
              <input id="uploadImageInput" type="file" (change)="setImages($event, 0)" multiple accept="image/*">
            </label>
          </span>
        </div>

        <div class="col-12 vin-block" *ngIf="newCar.images && newCar.images.length">
          <div class="section_pic_list">
            <div class="container">
              <div class="recent_upload">
                <h3>Uploaded Photos</h3>
                <div class="box_images">
                  <ul>
                    <li *ngFor="let image of newCar.images; let key = index;">
                      <img [src]="image" width="100%" alt=""><i (click)="deleteImage(key, image);" class="fa fa-trash"
                        aria-hidden="true"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 vin-block" *ngIf="recentlySelected && recentlySelected.length">
          <div class="section_pic_list">
            <div class="container">
              <div class="recent_upload">
                <h3>Recently Selected Photos</h3>
                <div class="box_images">
                  <ul>
                    <li *ngFor="let image of recentlySelected; let key = index;">
                      <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(image)" width="100%" alt="">
                      <!-- <i (click)="deleteSelectedImage(key, image);" class="fa fa-trash" aria-hidden="true"></i> -->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-box">
          <button type="submit" class="btn custom-btn primaryButton prevBtn primaryButton btn-float-l"
            (click)="checkStep(2,2);">Previous</button>
          <button type="button" [hidden]="!files.length"
            class="btn custom-btn primaryButton prevBtn primaryButton btn-float-r" (click)="saveImages()">
            Upload Images & Next
          </button>
          <button type="submit" class="btn custom-btn primaryButton nextBtn primaryButton btn-float-r"
            [hidden]="files.length" (click)="checkStep(3,4);">Next</button>
        </div>
      </div>
    </div>

    <!-- Page 4 - Confirmation -->
    <div class="col-12 active nopaddingInMob" id="stepFour" [style.display]="(currentPage == 4) ? 'block' : 'none'">
      <div id="car-details" class="col-12 vin-block">
        <h3>Car Details</h3>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Make</div>
          </div>
          <div class="col-xs-6">
            {{newCar.make}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Model</div>
          </div>
          <div class="col-xs-6">
            {{newCar.model}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Model Details</div>
          </div>
          <div class="col-xs-6">
            {{newCar.model_detail}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Year</div>
          </div>
          <div class="col-xs-6">
            {{newCar.year_manufacture}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Kilometres</div>
          </div>
          <div class="col-xs-6">
            {{newCar.kilometers_used}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Exterior Colour</div>
          </div>
          <div class="col-xs-6">
            {{newCar.exterior_color}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Doors</div>
          </div>
          <div class="col-xs-6">
            {{newCar.doors}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Body Style</div>
          </div>
          <div class="col-xs-6">
            {{newCar.body_style}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Fuel Type</div>
          </div>
          <div class="col-xs-6">
            {{newCar.fuel_type}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Cylinders</div>
          </div>
          <div class="col-xs-6">
            {{newCar.cylinders}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Engine Size</div>
          </div>
          <div class="col-xs-6">
            {{newCar.engine_size}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Transmission Type</div>
          </div>
          <div class="col-xs-6">
            {{newCar.transmission}}
          </div>
        </div>
        <!-- <div class="car-dtl-bg d-flex justify-content-between align-items-center">
                      <div class="col-xs-6">
                          <div>4WD</div>
                      </div>
                      <div class="col-xs-6">
                          {{newCar.four_wd}}
                      </div>
                  </div> -->
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Number Of Seats</div>
          </div>
          <div class="col-xs-6">
            {{newCar.no_of_seats}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Number Of owners</div>
          </div>
          <div class="col-xs-6">
            {{newCar.no_of_owners}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Import History</div>
          </div>
          <div class="col-xs-6">
            {{newCar.import_history}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Registration Expires</div>
          </div>
          <div class="col-xs-6">
            {{newCar.registration_exp}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>WOF Expires</div>
          </div>
          <div class="col-xs-6">
            {{newCar.Wof_expires}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Number Plate</div>
          </div>
          <div class="col-xs-6">
            {{newCar.Plate_no_VIN}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-12">
            <div>Description</div>
          </div>
        </div>
        <div class="">
          <div class="col-xs-12 col-md-12" style="margin-bottom: 2rem;white-space:pre-wrap;">
            {{newCar.desc}}
          </div>
        </div>
      </div>

      <div id="listing-details" class="col-12 vin-block">
        <h3>Listing Details</h3>
        <!-- <div class="car-dtl-bg d-flex justify-content-between align-items-center">
                      <div class="col-xs-6">
                          <div>Listing duration</div>
                      </div>
                      <div class="col-xs-6">
                          {{newCar.listing_duration_fixed_length}}
                      </div>
                  </div> -->
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Asking Price</div>
          </div>
          <div class="col-xs-6">
            {{newCar.amount}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>On Road Costs</div>
          </div>
          <div class="col-xs-6">
            {{(newCar.onroad_costexcluded) ? 'Yes' : 'No'}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Best Time To Contact</div>
          </div>
          <div class="col-xs-6">
            {{newCar.best_contact_time}}
          </div>
        </div>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>Location</div>
          </div>
          <div class="col-xs-6">
            {{newCar.location}}
          </div>
        </div>
      </div>
      <div class="col-12 vin-block">
        <div class="section_pic_list">
          <div class="container">
            <div class="recent_upload">
              <h3>Uploaded Photos</h3>
              <div class="box_images">
                <ul>
                  <li *ngFor="let image of newCar.images; let key = index;">
                    <img [src]="image" width="100%" alt=""><i (click)="deleteImage(key, image);" class="fa fa-trash"
                      aria-hidden="true"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="total-fees" class="col-12 vin-block">
        <h3>Total Fees </h3>
        <div class="car-dtl-bg d-flex justify-content-between align-items-center">
          <div class="col-xs-6">
            <div>
              <!-- {{feesAmount}}  -->
              Free Listing
            </div>
          </div>
          <div class="col-xs-6">
            <!-- {{currency}} -->
            (Introductory Offer)
          </div>
        </div>
      </div>

      <div class="col-12 vin-block">
        <div class="btn-box">
          <button type="submit" class="btn custom-btn btn-primary prevBtn primaryButton btn-float-l"
            (click)="checkStep(3,3);">Previous</button>
          <button type="submit" class="btn custom-btn primaryButton btn-float-r" (click)="onClickBuy();">{{mode=='update'?'Update
            Listing':'Confirm Listing'}}</button>
        </div>
      </div>
    </div>

  </div>
</div>

<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>