.noUi-horizontal {
  height: 7px !important;
}
.noUi-horizontal .noUi-handle {
  height: 16px !important;
}
.noUi-handle:after,
.noUi-handle:before {
  height: 4px !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  .recent_upload {
    padding: 20px 15px;
  }
  .recent_upload h3 {
    font-size: 16px;
  }
  .box_images ul li {
    width: 32.4%;
    height: 70px;
  }
  .box_images ul li i {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .box_images ul li {
    display: inline-block;
    width: 16%;
    height: 70px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
}

@media (min-width: 1280px) and (max-width: 1365px) {
}

@media (min-width: 1366px) and (max-width: 1600px) {
}
.recent_upload h3 {
  font-size: 20px;
  color: #5b5b5b;
  margin-bottom: 0;
  font-weight: 700;
}

.recent_upload {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 57px 0 rgba(73, 73, 73, 0.06);
  box-shadow: 0 0 57px 0 rgba(73, 73, 73, 0.06);
  padding: 20px 30px;
}

.box_images {
  margin-top: 20px;
}

.box_images ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box_images ul li {
  display: inline-block;
  width: 16.3%;
  height: 75px;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
}

.box_images ul li i {
  position: absolute;
  top: 0;
  right: 0px;

  color: #fff;
  padding: 3px 7px;
  cursor: pointer;
  background: -webkit-linear-gradient(0deg, #0070bb, #008ae7);
}
.img_wrp {
  display: inline-block;
  position: relative;
}
.close-new {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.btn {
  cursor: pointer;
}
a {
  color: #4e4e4e;
}
::-webkit-scrollbar {
  width: 6px;
}
.form-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #5aa2da;
  -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.form-control {
  border: 0;
  border-bottom: 2px solid rgba(127, 161, 188, 0.68);
  border-radius: 0;
  color: #606060;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
}
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-check-input {
  margin-left: 0;
}
.form-sub-hd {
  color: #5b5b5b;
  font-size: 20px;
  font-weight: 700;
}

ol,
ul {
  padding: 0;
}
li {
  cursor: pointer;
}
table {
  margin-bottom: 0px;
}
.margin--15 {
  margin-bottom: 10px;
}
.table > tbody > tr > td {
  border: 0px;
}
.margin-top-50 {
  margin-top: 50px;
}
ngui-auto-complete {
  z-index: 1000 !important;
}
.ngui-auto-complete > ul li {
  background: white !important;
}
.ngui-auto-complete ul {
  max-height: 200px;
  overflow-y: auto;
}
.ngui-auto-complete > ul li:hover {
  background: #5aa2da !important;
  color: #fff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #f75a4d !important;
}
.nav-pills > li + li {
  border-left: 2px white solid;
  margin-left: 0px !important;
}
.cst-width {
  width: 25%;
}
.custm-btn-pill {
  border-radius: 0;
  min-width: 200px;
  text-align: center;
}
.custm-darkBlue {
  background-color: #f5f5f5;
}

label {
  font-size: 13px;
  color: #4e4e4e;
  font-weight: 500;
}
.checkbox > label {
  font-size: 14px;
}
.nxt-btn {
  width: 140px;
  border-radius: 5px;
  background: #0070bb;
  color: white;
  margin-top: 20px;
}
.btn-box {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
}
.carDetailsHeading {
  margin-top: 20px;
  font-size: 18px !important;
  font-weight: bold;
}
.confirmation-details {
  font-size: 18px;
  font-weight: bold;
}
.primaryButton {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  height: 35px;
  width: 100%;
  border-radius: 60px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  max-width: 100px;
  margin-bottom: 10px;
  background-image: -webkit-linear-gradient(0deg, rgb(0, 112, 187) 0%, rgb(0, 66, 255) 100%);
  transition: 0.4s ease all;
}
.carJamButton:focus {
  outline: none !important;
}

.vin-block {
  background: #fff;
  padding: 20px 30px !important;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
  box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
}

.vin-block table tr {
  color: #4e4e4e;
  font-weight: 400;
}
.rw-mr-top {
  margin-top: 30px;
}
.car-dtl-bg {
  background-color: #f5f5f5;
  border: 0;
  border-radius: 50px;
  height: 40px;
  padding: 5px 20px;
  margin-bottom: 15px;
}

#car-details > div.btm-border:last-child,
#listing-details > div.btm-border:last-child {
  border-bottom: none;
}
.post-steps {
  color: #4e4e4e;
  font-size: 16px;
  float: right;
}
.listing-subHeading {
  color: rgb(78, 78, 78);
  font-size: 14px;
}
.grey-divider {
  border-bottom: 1px #e6e6e6 solid;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
#car-details,
#listing-details,
#total-fees {
  margin-bottom: 30px;
}
#car-details > div.row > div.col-xs-6 {
  min-height: 30px !important;
}
#listing-details > div.row > div.col-xs-6 {
  min-height: 30px !important;
}
#car-details > h3,
#listing-details > h3 {
  color: #5b5b5b;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

#msform {
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform .setup-content {
  text-align: left;
  border: 0 none;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  width: 90%;
  /*stacking fieldsets above each other*/
  position: relative;
}

#msform p {
  color: rgb(78, 78, 78);
}

/* Inputs */
#msform input,
#msform textarea {
  margin-bottom: 15px;
  box-sizing: border-box;
  color: #555;
  font-size: 13px;
  font-family: inherit;
}

.btn-float-l {
  float: left;
}
.btn-float-r {
  float: right;
}

.form-check-label {
  z-index: 99;
}

/* Checkbox */
.bg {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.span_pseudo,
.custom_cb span:before,
.custom_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
  cursor: pointer;
}

.custom_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
}
.custom_cb input {
  display: none;
}
.custom_cb input:checked ~ span {
  background: #5aa2da;
  border-color: #5aa2da;
}
.custom_cb input:checked ~ span:before {
  width: 1rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.custom_cb input:checked ~ span:after {
  width: 0.4rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}
.custom_cb input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.custom_cb input:disabled ~ label {
  color: #dcdcdc;
}
.custom_cb input:disabled ~ label:hover {
  cursor: default;
}
.custom_cb label {
  padding-left: 2rem;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}
.custom_cb span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background: white;
  border: 1px solid grey;
  position: absolute;
  left: 0;
  transition: all 0.1s;
  box-sizing: content-box;
}
.custom_cb span:before {
  transform: rotate(-55deg);
  top: 1rem;
  left: 0.37rem;
}
.custom_cb span:after {
  transform: rotate(35deg);
  bottom: 0.35rem;
  left: 0.2rem;
}

/****** Radio Button ******/

/* Buttons */
#msform .action-button {
  width: 49%;
  text-transform: uppercase;
  background: #e74c3c;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 12px 5px;
  margin: 10px 0;
  font-size: 16px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#msform .previous.action-button {
  background: #7bbdf3;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.2);
}

/* Headings */
.fs-title {
  font-size: 26px;
  font-weight: 200;
  color: #434a54;
  margin-bottom: 20px;
}
.fs-subtitle {
  font-weight: 400;
  color: #434a54;
  margin-bottom: 20px;
}

/* Progressbar */
#progressbar {
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: #4e4e4e;
  text-transform: uppercase;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 54px;
  height: 54px;
  line-height: 54px;
  display: block;
  font-size: 16px !important;
  background: #bedeff;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

/* Progressbar connectors */
#progressbar li:after {
  content: "";
  width: 100%;
  height: 4px;
  background: #bedeff;
  position: absolute;
  left: -50%;
  top: 25px;
  z-index: -1;
}
#progressbar li:first-child:after {
  /* connector not needed before the first step */
  content: none;
}

/* Marking active/completed steps green */
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background-color: #5aa2da;
  color: white;
}

.carDetail-img p,
.carListing-img p,
.carPost-img p,
.carConfirmation-img p {
  font-size: 16px;
  color: rgb(78, 78, 78);
  margin-top: 20px;
}

/* Image upload UI */
.file-upload {
  background-image: url("https://www.kwikz.nz/assets/img/file_upload.svg");
  height: 40px;
  width: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: lightblue;
}

.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.panel,
.panel-heading {
  border-radius: 0;
  border: 0;
}

.thumbnail-img {
  border: 1px solid #ddd;
  padding: 2px;
  width: 100px;
}
#js-upload-files {
  width: 100%;
}
.checkboxFive {
  width: 25px;
  margin: 20px 100px;
  position: relative;
}
.checkboxFive label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #eee;
  border: 1px solid #ddd;
}
.checkboxFive label:after {
  opacity: 0.2;
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}
.checkboxFive label:hover::after {
  opacity: 0.5;
}

/**
   * Create the checkbox state for the tick
   */
.checkboxFive input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* Step Wizard */
.btn-active {
  background: #0070c0 !important;
  color: #fff !important;
}
.btn-notActive {
  background: #fff;
}

.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 80%;
  position: relative;
  margin-left: 10%;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 3px;
  background-color: #0070c0;
  z-index: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid #0070c0;
  color: #0070c0;
}

.errMsg {
  color: #ff0000;
}

.select_feature {
  font-size: 13px;
  color: #7b7b7b;
}

.featureClass {
  margin-bottom: 0;
}

/*==========  Mobile First Method  ==========*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .btn-box {
    text-align: center;
  }
  .primaryButton {
    max-width: 160px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .car--box {
    padding: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (min-width: 320px) and (max-width: 359px) {
  .box_images ul li {
    width: 32.2% !important;
    height: 58px !important;
  }
}
@media screen and (max-width: 576px) {
  .stepwizard {
    width: 100% !important;
    margin: 0 !important;
    p {
      font-size: 12px !important;
    }
  }
  .nopaddingInMob {
    padding: 0 !important;
  }
  .vin-block {
    padding: 15px !important;
  }
  .primaryButton {
    max-width: 100% !important;
  }
  .upload-drop-zone span {
    text-align: center;
  }
}

.icon-search {
  position: absolute;
  right: 32px;
  font-size: 20px;
  top: 47px;
}
