.recent_upload{
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 57px 0 rgba(73,73,73,.06);
    box-shadow: 0 0 57px 0 rgba(73,73,73,.06);
    padding: 20px 30px;
  }
  
  .box_images{
    margin-top: 20px;
  }
  
  #uploadImageInput {
    font-size: 14px;
  }
  .box_images ul li i{
      position: absolute;
      top: 0;
      right: 0px;
      color: #fff;
      padding: 3px 7px;
      cursor: pointer;
      background: -webkit-linear-gradient(0deg,#0070bb,#008ae7);
  }
  
  .vin-block{
      background: #FFF;
      padding: 20px 30px !important;
    box-sizing: border-box;
    border-radius: 5px;
      -webkit-box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
      box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
  }
  
  .inner_info_div{
      background-color: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 30px 40px;
      width: 50%;
      margin: 0px auto;
    }
    
    
    .inner_info_div h4{
      text-align: center;
      font-size: 22px;
      text-transform: uppercase;
      color: #0088e3;
      // font-family: "Bold";
    }
    
    .inner_info_div p{
      text-align: center;
      font-size: 13px;
      color: gray;
      margin-bottom: 25px;
    }
    
    .wrap_in_box{
      margin-bottom: 15px;
    }
    
    .wrap_in_box .form-control{
          border-radius: 0;
        border: 1px solid #ccc;
        font-size: 13px;
        color: #000;
        margin-bottom: 12px;
    }
    
    .wrap_in_box .form-control:focus{
      box-shadow: none;
      border-color:#007acd;
    }
    
    
    .inner_info_div button {
        background: -webkit-linear-gradient( 0deg, rgb(0,112,187) 0%, rgb(0,138,231) 100%);
        padding: 8px 0px;
        width: 100%;
        color: #fff;
        font-size: 13px;
        margin-top: 0px;
        border: 0;
        text-transform: uppercase;
        // font-family: 'Bold';
        font-weight: 700;
        cursor: pointer;
        border-radius: 4px;
    }
    
    .inner_info_div button:hover {
        transition: 0.5s all;
        background: -webkit-linear-gradient( 0deg, rgb(0,138,231) 100%, rgb(0,112,187) 0%);
    }
    
    .inner_info_div .form-control-file, .form-control-range{
      font-size: 13px;
    }
    
  
    
  
  
  
    @media (min-width:320px) and (max-width:767px) {
      .inner_info_div{
          width: 100%;
          padding: 25px 25px;
      
      }
      .inner_info_div h4{
          font-size: 20px;
      }
      
      }
      
      
      @media (min-width:768px) and (max-width:991px) {
      
      .inner_info_div{
          width: 75%;
      }
      }
  
  
  
  
  
            /* error validation required */
            .error_value_required{
              color: red;
              font-size: 13px;
          }
          .nopadding {
            padding: 0 !important;
          }
          li {
            list-style: none;
          }