<div class="inner_info_div">
  <h4>Get in touch</h4>
  <p>Got a question? we'd love to hear from you. Send a message and we'll respond as soon as possible</p>

  <div class="wrap_in_box">
    <input type="text" class="form-control" [(ngModel)]="formData.name" placeholder="Name">
  </div>
  <div class="wrap_in_box">
    <input type="Email" class="form-control" [(ngModel)]="formData.email" placeholder="Email address">
    <div *ngIf="formData.emailValidation" class="error_value_required">Email ID is invalid</div>
  </div>
  <div class="wrap_in_box">
    <input type="text" class="form-control" [(ngModel)]="formData.mobile" placeholder="Mobile Number (optional)">
  </div>
  <div class="wrap_in_box">
    <select class="form-control" id="exampleSelect1" (change)="topicSelect($event)">
      <option value="1">Choose an issue</option>
      <option [value]="topic.name" *ngFor="let topic of topics">{{topic.name}}</option>
    </select>
    <div *ngIf="formData.topicValidation" class="error_value_required">Choose an issue</div>
  </div>
  <div class="wrap_in_box">
    <textarea class="form-control" [(ngModel)]="formData.msg" placeholder="Message here" rows="5"></textarea>
  </div>
  <div class="wrap_in_box">
    <input id="uploadImageInput" type="file" (change)="setImages($event)">
  </div>
  <div class="col-12 vin-block nopadding" *ngIf="recentlySelected && recentlySelected.length">
    <div class="section_pic_list">
      <div class="container nopadding">
        <div class="recent_upload nopadding">
          <div class="box_images">
            <ul class="nopadding">
              <li *ngFor="let image of recentlySelected; let key = index;">
                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(image)" width="100%" alt=""><i (click)="deleteSelectedImage();"
                  class="fa fa-trash" aria-hidden="true"></i>
                <!-- _DomSanitizationService.bypassSecurityTrustUrl(image) -->
               </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="SubmitForm()">Send <i class="fa fa-paper-plane" aria-hidden="true"></i></button>

</div>





<toast-notifications></toast-notifications>
<loader *ngIf="loader"></loader>