/* You can add global styles to this file, and also import other style files */

// @import "~bootstrap/dist/css/bootstrap.css"; // bootstrap stylesheet
@import url(https://fonts.googleapis.com/icon?family=Material+Icons); // to use material icons fonts in MatIcon component
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // Default Angular Material theme.


@font-face {
	font-family: "black";
	src: url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
}

@font-face {
	font-family: "bold";
	src: url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
}

@font-face {
	font-family: "book";
	src: url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
}

@font-face {
	font-family: "medium";
	src: url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
}

body {
	background: url('https://www.kwikz.nz/assets/bg_vector_effect.png');
	font-family: "lato" !important;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #f6f6f6;
	width: 100%;
}

a {
	text-decoration: none !important;
}

.margin-b-16 {
	margin-bottom: 16px;
}

*::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #c0c0c0;
}

*:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #c0c0c0;
}

*::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #c0c0c0;
}


/* FORM UI */

.form-control:focus {
	outline: none;
	box-shadow: none !important;
}

.form-control::-webkit-input-placeholder {
	color: #bbb;
}


/* WebKit, Blink, Edge */

.form-control:-moz-placeholder {
	color: #bbb;
}


/* Mozilla Firefox 4 to 18 */

.form-control::-moz-placeholder {
	color: #bbb;
}


/* Mozilla Firefox 19+ */

.form-control:-ms-input-placeholder {
	color: #bbb;
}


/* Internet Explorer 10-11 */

.form-control::-ms-input-placeholder {
	color: #bbb;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
textarea {
	outline: none;
	box-shadow: none !important;
}

.checkbox label,
.radio label {
	font-size: 14px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: none;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.input-group-addon {
	background: none !important;
}

.main-form {
	margin-left: auto;
	margin-right: auto;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #5aa2da !important;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@media (min-width:320px) and (max-width:359px) {
	.inner_login_box h1 {
		font-size: 18px !important;
	}
	.inner_login_box {
		width: 100% !important;
		padding: 50px 15px !important;
	}
	.rem_me {
		font-size: 12px;
		margin-left: 4px;
	}
	.don_t_acc p span {
		font-size: 13px;
	}
	.in_lf_div {
		padding: 30px 20px !important;
	}
	.rght_register {
		padding: 50px 15px 0px 15px !important;
	}
}

@media (min-width:320px) and (max-width:767px) {
	.inner_login_box {
		width: 95%;
		padding: 50px 22px;
	}
	.rght_register h1 {
		font-size: 19px;
	}
	.inner_login_box h1 {
		font-size: 19px;
	}
	.don_t_acc img {
		width: 50px;
		margin-top: 8px;
	}
	.rem0 {
		padding: 0;
	}
	.don_t_acc p span {
		margin-left: 10px;
	}
	.in_lf_div {
		position: relative;
		top: 0;
		transform: none;
		border-radius: 0;
		width: 100%;
		padding: 30px 30px;
	}
	.rght_register {
		padding: 50px 22px 0px 22px;
	}
	.in_lf_div h1 {
		font-size: 24px;
		margin-bottom: 33px;
	}
	.div_ri_text {
		padding-left: 18px;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.inner_login_box {
		width: 65%;
	}
	.in_lf_div {
		width: 100%;
	}
	.rght_register {
		padding: 50px 25px 0px 25px;
	}
}

@media (min-width:992px) and (max-width:1279px) {
	.inner_login_box {
		width: 50%;
	}
	.in_lf_div {
		width: 75%;
	}
}

@media (min-width:1280px) and (max-width:1365px) {}

@media (min-width:1366px) and (max-width:1600px) {}





/* select box auto complete  */
.ngui-auto-complete{
	height: 350px !important;
	overflow: auto !important;
}

button:focus,button:active{
	outline: none !important;
	box-shadow: none !important;
}







    /* new slider */

.main_slide .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	background: -webkit-linear-gradient( 0deg, rgb(0,112,187) 0%, rgb(0,138,231) 100%);
	padding: 20px 12px;
	width: 40px;
	cursor: pointer;
}
.main_slide .serv_l {
	left: 0px;
}

.main_slide .serv_r {
	right: 0px;
}



    .thumb_click {
        padding: 15px 15px;
    }
    
    .thumb_click h4 {
        color: #000;
        font-weight: 700;
        text-transform: capitalize;
        margin-top: 0;
        font-size: 18px;
        margin-bottom: 0px;
        line-height: unset;
    }
    
    .thumb_click ul{
      list-style: none;
      padding: 0;
      margin: 0
    }
    
    .thumb_click ul li{
      width: 19.50%;
      display: inline-block;
    height: 70px;
    overflow:hidden;
    position: relative;
    }
    .thumb_click ul li a{
      display: inline-block;
    }
    
    .thumb_click ul li:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        opacity: 0;
    }
    
    .ov_zoom{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      color: #fff;
      text-align: center;
      transform: translateY(-50%);
      opacity: 0;
      height: 100%;
      width: 100%;
    }
    
    .ov_zoom i{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
    }
    
    .thumb_click ul li:hover:before{
      opacity: 1;
    }
    
    .thumb_click ul li:hover .ov_zoom{
      opacity: 1;
    }
    
    
    @media (min-width:1024px) and (max-width:1279px) {
    
     .thumb_click ul li {
        width: 24.5%;
    }
    }
    
    @media (min-width:768px) and (max-width:991px) {
     .thumb_click ul li {
        width: 24%;
        height: 45px;
    }
    }
    
    @media (min-width:320px) and (max-width:767px) {
        .main_slide .slick-arrow {
            padding: 14px 8px;
             width: 28px;
         }
    .thumb_click ul li {
        width: 32%;
        height: 45px;
    }
    }
    /* new slider */

	.share_btn_s {
		border: 0;
		font-size: 15px;
		color: #4e4e4e;
		width: 100%;
		margin: 0px auto;
		display: inherit;
		position: relative;
		cursor: pointer;
		border-radius: 8px;
		background-color: #fff;
		box-shadow: 1px 1px 8px #e6e6e6;
		height: 51px;
	  }
	  .share_tw img {
		width: 26px;
		margin-right: 10px;
		vertical-align: top;
	  }
	  .share_fb img {
		width: 25px;
		margin-right: 10px;
		vertical-align: top;
	  }

	  @media (min-width:320px) and (max-width:767px) {
		.share_btn_s {
			margin-bottom: 25px;
		  }
	  }
	  @media (min-width:768px) and (max-width:991px) {
		.share_btn_s {
			margin-bottom: 25px;
		  }
	  }
	  @media (min-width:992px) and (max-width:1279px) {
		.share_btn_s {
			font-size: 13px;
		}
	  }

:host /deep/ ._2tga {
	display: none;
}