<div class="dealer_part">
  <div class="container">
    <div class="show_plate_numbers">
      <h4>Here are the list of the number plates that you are added</h4>
      <p>( Please select the checkbox which you want to listed now. )</p>
      <div class="list_div">
        <div class="list_1" *ngFor="let list of listOfCars">
          <!-- <label class="container_check">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label> -->
          <h5>{{list.make}} {{list.model}} {{list.year_manufacture}} - {{list.Plate_no_VIN}}</h5>
        </div>
        <a routerLink="/"><button class="list_now_"><i class="fa fa-check" aria-hidden="true"></i> listed now</button></a>
      </div>
    </div>
  </div>
</div>