  
  .row{
    margin: 0 !important
  }
  
  a:hover{
    text-decoration: none;
  }
  
  .vin_number{
    background: #fff;
    padding: 20px 30px!important;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 57px 0 rgba(73,73,73,.06);
  }
  
  
  .vin_number h4{
      color: #5b5b5b;
      font-size: 20px;
      font-weight: 700;
  }
  
  .tags {
      background: none repeat scroll 0 0 #fff;
      border: 1px solid #ccc;
      display: table;
      padding: 0.5em;
      width: 100%;
      border: 0;
      border-bottom: 2px solid rgba(127,161,188,.68);
      border-radius: 0;
      color: #606060;
      outline: 0;
      font-size: 13px;
      font-weight: 600;
      width: 100%;
      list-style: none
  }
  
  .tags li.tagAdd, .tags li.addedTag {
      float: left;
      margin-left: 0.25em;
      margin-right: 0.25em;
  }
  
  .tags li.addedTag {
      background: -webkit-linear-gradient(0deg,#0070bb 0,#0042ff 100%);
      border-radius:50px;
      color: #fff;
      padding: 5px 12px;
      margin-bottom: 6px;
  }
  
  .tags input, li.addedTag {
      border: 1px solid transparent;
      border-radius: 0px;
      box-shadow: none;
      display: block;
      padding: 0.5em;
  }
  
  .tags input:hover {
      border: 1px solid #0070bb ;
      outline: none;
      box-shadow: none;
  }
  
  .tags input:focus {
      border: 1px solid #0070bb ;
      outline: none;
      box-shadow: none;
  }
  
  span.tagRemove {
      cursor: pointer;
      display: inline-block;
      padding-left: 0.5em;
      vertical-align: middle;
      font-size: 16px;
  }
  
  span.tagRemove:hover {
      color: #fff;
  }
  
  .show_plate_numbers{
      background: #fff;
      padding: 20px 30px!important;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: 0 0 57px 0 rgba(73,73,73,.06);
      margin-top: 35px;
  }
  
  .show_plate_numbers h4 {
      color: #5b5b5b;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
  }
  
  .show_plate_numbers .accordion {
     background: -webkit-linear-gradient(0deg,#0070bb 0,#0042ff 100%);
      color: #fff;
      cursor: pointer;
      padding: 12px 15px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      margin-top: 15px;
      position: relative;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.5px;
      border-radius: 4px;
      transition: 0.3s all;
  
  }
  
  .active, .show_plate_numbers .accordion:hover {
    background: -webkit-linear-gradient(0deg,#0042ff 0,#0070bb 100%);
    transition: 0.3s all;
  }
  
  .show_plate_numbers .accordion:after {
   content: '\002B';
      color: #fff;
      /* font-weight: bold; */
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      font-size: 20px;
    
  }
  
  .show_plate_numbers .active:after {
    content: "\2212";
  }
  
  .show_plate_numbers .panel {
    padding: 0px 15px;
    background-color: #ececfb;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  
  }
  
  .inner_panel{
    padding: 20px 0px;
    font-size: 13px;
  }
  .inner_panel p{
    margin-bottom: 0
  }
  .final_click{
        color: #fff;
      font-weight: 700;
          font-size: 14px;
      height: 38px;
  
      width: 100%;
      border-radius: 60px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      max-width: 150px;
      margin-bottom: 10px;
      background-image: -webkit-linear-gradient(0deg,#0070bb 0,#0042ff 100%);
      transition: .4s ease all;
      border: 0;
      margin-top: 25px;
  }
  
  .final_click:hover {
      transition: .5s all;
      background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
  }
  
  .get_car_details{
     color: #fff;
      font-weight: 700;
      font-size: 13px;
      height: 38px;
      width: 100%;
      border-radius: 60px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      
      max-width: 160px;
      margin-bottom: 10px;
      background-image: -webkit-linear-gradient(0deg,#0070bb 0,#0042ff 100%);
      transition: .4s ease all;
      border: 0;
  
  }
  
  .get_car_details:hover {
      transition: .5s all;
      background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
  }
  
  /* --------------------------------after submit---------------------- */
  
  /* The container */
  .container_check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
        height: 100%;
  }
  
  /* Hide the browser's default checkbox */
  .container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .container_check .checkmark {
    position: absolute;
    top: 50%;
    left: 15px;
    height: 20px;
    width: 20px;
    background-color: #eee;
        z-index: 2;
      transform: translateY(-50%);
      border-radius: 4px;
  }
  
  /* On mouse-over, add a grey background color */
  .container_check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container_check input:checked ~ .checkmark {
  background-color: #0043ff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .container_check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container_check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container_check .checkmark:after {
        left: 7px;
      top: 3px;
      width: 6px;
      height: 11px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  
  .padl0{
    padding-left: 0
  }
  
  .list_div{
    margin-top: 20px;
  }
  
  .list_div h5{
        background: -webkit-linear-gradient(0deg,#0070bb 0,#0042ff 100%);
      color: #fff;
      cursor: pointer;
      padding: 15px 15px 15px 50px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      margin: 0px;
      position: relative;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.5px;
      border-radius: 4px;
      margin-bottom: 15px;
    }
  
  .list_1{
    position: relative;
  }
  
  .show_plate_numbers p{
  font-size: 13px;
  }
  
  .list_now_{
       color: #fff;
      font-weight: 700;
      font-size: 14px;
      padding: 10px 0px;
      display: inline-block;
      border-radius: 60px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
     width: 175px;
      margin-bottom: 10px;
      background-image: -webkit-linear-gradient(0deg,#0070bb 0,#0042ff 100%);
      transition: .4s ease all;
      border: 0;
      margin-top: 25px;
  }
  
  .list_now_:hover {
      transition: .5s all;
      background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
  }
  
  
  