a{
    color: white;
}
ul{
    list-style: none;
    padding: 0px;
}
.ad-block{
    box-sizing: border-box;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
    box-shadow: 0px 0px 57px 0px rgba(73, 73, 73, 0.06);
    padding: 20px;
}
.local-area{
    margin-bottom: 20px;
    color: #3488ff;
}
.ad-title > a{
    font-size: 16px;
    color: #4e4e4e;
    font-weight: 600;
}
.asking-price{
    font-size: 16px;
    color: #4e4e4e;
}
.table-format{
    max-width: 100%!important;
    position: relative;
    font-size: 12px;
}
.margin-l, .margin-r{
    margin-left: 2px;
} 
.watchlist-btn{
    color: #fff;
    background: #f75a4d;
    padding: 6px 0;
    font-weight: 700;
    font-size: 12px;
    border-radius: 60px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    min-width: 90px;
    margin-bottom: 10px;
    margin-top: 20px;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
}
.recomm-cars{
    font-size: 24px;
    color: #4e4e4e;
    font-weight: 600;
}
.image-holder{
    overflow: hidden;
}
.image-holder > img{
    min-height: 120px;
    max-height: 150px;
    overflow: hidden;
}
.grey-divider {
    border-bottom: 1px #e6e6e6 solid;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

 /*==========  Mobile First Method  ==========*/
 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) { 

}
 
 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 

  }
 
 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) { 
    .table-format{
        font-size: 14px;
    }
}
 
 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {  }