<div class="row">
  <div class="col-md-12">
    <p class="recomm-cars">Recommended Cars</p>
    <span class="grey-divider"></span>
  </div>
  <div class="col-12 col-lg-4">
    <ul>
      <li class="listed-ads ad-block">
        <div class="ad-details row">
          <div class="image-holder col-5 col-lg-12">
            <img class="img-fluid" src="./assets/img/cars-for-sale-perth.jpg" alt="Chicago" />
          </div>
          <div class="details-container col-7 col-lg-12">
            <div class="local-area">
              <span>Local Area</span>
            </div>
            <div class="ad-title">
              <a href="">Honda Brio VX MT</a>
            </div>
            <div class="asking-price">
              <span>Asking Price:</span><span> $2,350</span>
            </div>
            <table class="table-format">
              <tbody>
                <tr>
                  <td>2010</td>
                  <td><span class="margin-l margin-r">|</span></td>
                  <td>30,100 Km</td>
                  <td><span class="margin-l margin-r">|</span></td>
                  <td>Petrol</td>
                </tr>
              </tbody>
            </table>
            <div>
              <span><a href="#" class="watchlist-btn">+ Watchlist</a></span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-12 col-lg-4">
    <ul>
      <li class="listed-ads ad-block">
        <div class="ad-details row">
          <div class="image-holder col-5 col-lg-12">
            <img class="img-fluid" src="./assets/img/cars-for-sale-perth.jpg" alt="Chicago" />
          </div>
          <div class="details-container col-7 col-lg-12">
            <div class="local-area">
              <span>Local Area</span>
            </div>
            <div class="ad-title">
              <a href="">Honda Brio VX MT</a>
            </div>
            <div class="asking-price">
              <span>Asking Price:</span><span> $2,350</span>
            </div>
            <table class="table-format">
              <tbody>
                <tr>
                  <td>2010</td>
                  <td><span class="margin-l margin-r">|</span></td>
                  <td>30,100 Km</td>
                  <td><span class="margin-l margin-r">|</span></td>
                  <td>Petrol</td>
                </tr>
              </tbody>
            </table>
            <div>
              <span><a href="#" class="watchlist-btn">+ Watchlist</a></span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-12 col-lg-4">
    <ul>
      <li class="listed-ads ad-block">
        <div class="ad-details row">
          <div class="image-holder col-5 col-lg-12">
            <img class="img-fluid" src="./assets/img/cars-for-sale-perth.jpg" alt="Chicago" />
          </div>
          <div class="details-container col-7 col-lg-12">
            <div class="local-area">
              <span>Local Area</span>
            </div>
            <div class="ad-title">
              <a href="">Honda Brio VX MT</a>
            </div>
            <div class="asking-price">
              <span>Asking Price:</span><span> $2,350</span>
            </div>
            <table class="table-format">
              <tbody>
                <tr>
                  <td>2010</td>
                  <td><span class="margin-l margin-r">|</span></td>
                  <td>30,100 Km</td>
                  <td><span class="margin-l margin-r">|</span></td>
                  <td>Petrol</td>
                </tr>
              </tbody>
            </table>
            <div>
              <span><a href="#" class="watchlist-btn">+ Watchlist</a></span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>