.img_d_box img {
  height: 100%;
  object-fit: cover;
}
button {
  position: absolute;
  top: 10px;
  background: transparent;
  border: none;
  height: calc(100% - 39px);
}
button span {
  background: #0070bb;
  color: #fff;
  padding: 4px 7px;
  border-radius: 50%;
}
.previous-btn {
  left: -5px;
}

.next-btn {
  right: -5px;
}
/* slick sliders  */

.inner_slider_cars{
    padding: 20px 0px;
    }
    
    .inner_slider_cars .slick-arrow {
    position: absolute;
    bottom: -60px;
    display: block;
    left: 0;
    border: 1px solid #3286e0;
    right: 0;
    margin: 0px auto;
    padding: 12px 13px;
    background: -webkit-linear-gradient(0deg,#0070bb,#008ae7);
    
    }
    
    .inner_slider_cars .slick-arrow:hover{
    background: -webkit-linear-gradient(0deg,#008ae7,#0070bb);
    cursor: pointer;
    }
    
    .inner_slider_cars .serv_l {
      left: -56px;
    }
    
    .inner_slider_cars .serv_r {
       right: -56px;
    }
    
    .inner_slider_cars .slick-slide {
      margin-left:20px;
    }
    
    .inner_slider_cars .slick-list {
      margin-left:-20px;
    }
    .slick-slide{
    outline: none;
    }
    
    .img_d_box{
    height: 160px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16);
    background-color: #fff
    }
    
    .ext_info {
      padding: 15px 15px 15px 15px;
      background: #fff;
    }
    
    .cat_p{
    margin-bottom: 0;
    font-size: 13px;
      color: #82878a;
      overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .cat_p i{
      color: #1879fd;
      width: 16px;
      text-align: center;
      margin-right: 5px;
    }
    
    .cat_p a{
    font-size: 13px;
    color: #000
    }
    
    .nm_car{
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: 700;
    }
    
    .box_price{
    position: absolute;
    bottom: 0;
    right: 0;
    background: -webkit-linear-gradient(0deg,#0070bb,#008ae7);
    color: #fff;
    padding: 6px 22px;
    font-weight: 700;
    }
    
    .box_like{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      color: #8e979b;
      cursor: pointer;
    
    }
    
    .box_like:hover{
    color: red
    }
    
    
    .main_fe_box{
    list-style: none;
    padding: 0;
      margin-bottom: 6px;
      margin-top: 6px;
    }
    
    
    .main_fe_box li{
      display: inline-block;
      font-size: 13px;
      margin-bottom: 12px;
      color: #5a5959;
      line-height: 10px;
      margin-right: 15px;
    
    }
    
    
    .main_fe_box img{
    display: inline-block !important;
    vertical-align: middle;
    margin-right: 5px;
    }
    
    .main_fe_box span{
    vertical-align: middle;
    }
    
    .vdbox{
    font-size: 14px;
    padding: 7px 20px;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #3d83e0;
    border-radius: 20px;
    background: -webkit-linear-gradient(0deg,#0070bb,#008ae7);
    border: 0;
    display: inline-block;
    margin-top: 15px;
    }
    
    .vdbox:hover{
      background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
      color: #fff
    }
    
    .zoom_img{
    transition: 0.5s all;
    }
    
    .slick-slide:hover .zoom_img{
    transition: 0.5s all;
    transform:scale(1.2);
    }
    
    
    @media (min-width:320px) and (max-width:424px) {
      .img_d_box {
        height: 150px
      }
    }
    
    @media (min-width:425px) and (max-width:767px) {
    .img_d_box {
      height: 170px
    }
    }
    
    @media (min-width:768px) and (max-width:991px) {
    .img_d_box {
      height: 160px;
    }
    .box_price {
    font-size: 14px;
    }
    }
    
    @media (min-width:1024px) and (max-width:1279px) {
    
    .img_d_box {
      height: 160px;
    }
    .inner_slider_cars .serv_r {
      right: -41px;
    }
    .inner_slider_cars .serv_l {
      left: -41px;
    }
    
    }
    @media (min-width:1280px) and (max-width:1365px) {
    
    .img_d_box {
      height: 160px;
    }
    
    }
    
    @media (min-width:1366px) and (max-width:1600px) {
    
    .img_d_box {
      height: 160px;
    }
    
    }
    
    
    .view_all_btn{
    font-size: 14px;
    padding: 7px 20px;
    color: #fff;
    border-color: #3d83e0;
    border-radius: 20px;
    background: -webkit-linear-gradient(0deg,#0070bb,#008ae7);
    border: 0;
    display: inline-block;
    }
    
    .view_all_btn:hover{
    background: -webkit-linear-gradient(0deg,#008ae7 100%,#0070bb 0);
    color: #fff
    }
    
    
    .slider_top{
    margin-top: 25px;
    }
    .latest_title{
    font-size: 20px;
      margin-bottom: 0;
      margin-top: 6px;
      color: #4e4e4e ;
    }
    
    .banner_filter{
    margin-top: 15px;
    }
    
    .top_banner_img{
    margin-bottom: 25px;
    }
    /* slick sliders */