<div *ngIf="carFeed && carFeed.length > 0">
  <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carFeed">
    <ngu-tile *nguCarouselDef="let item; let i = index">
      <div class="img_d_box">
        <a [routerLink]="item | posturl">
          <img *ngIf="item.thumbnail" [src]="item.thumbnail" width="100%">
          <img *ngIf="!item.thumbnail" [src]="carNoImage" width="100%">
        </a>
        <span class="box_price">${{item.amount}}</span>
        <i class="fa fa-heart box_like" aria-hidden="true"></i>
      </div>
      <div class="ext_info">
        <p class="cat_p"><a href="">{{item.body_style}}</a></p>
        <h5 class="nm_car"><a [routerLink]="item | posturl">{{item.title}}
            {{item.year_manufacture}}</a></h5>
        <p class="cat_p"><i class="fa fa-map-marker" aria-hidden="true"></i>{{item.location}}</p>
        <p class="cat_p"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>{{item.updated_at | dateFormat}}</p>
        <a class="vdbox" [routerLink]="item | posturl">View
          Details</a>
      </div>
    </ngu-tile>
    <button NguCarouselPrev class="leftRs previous-btn">
      <span>
        <i class="fa fa-arrow-left"></i>
      </span>
    </button>
    <button NguCarouselNext class="rightRs next-btn">
      <span>
        <i class="fa fa-arrow-right"></i>
      </span>
    </button>
  </ngu-carousel>
</div>